
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481246978353'); /* IE9*/
  src: url('iconfont.eot?t=1481246978353#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481246978353') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481246978353') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481246978353#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.icon-tianjia:before { content: "\e600"; }

.icon-iconfontshuaxin:before { content: "\e61a"; }

.icon-show:before { content: "\e68a"; }

.icon-ordinarydownload:before { content: "\e6c8"; }

.icon-fanhui:before { content: "\e633"; }

.icon-peifaxinxi:before { content: "\e6ec"; }

.icon-shape7:before { content: "\e62b"; }

.icon-chakanxiaji:before { content: "\e60c"; }

.icon-chenggong:before { content: "\e657"; }

.icon-wuquanxianchakan1:before { content: "\e62c"; }

.icon-htmal5icon06:before { content: "\e622"; }

.icon-quanxianguanli:before { content: "\e60f"; }

.icon-tupiantubiao:before { content: "\e627"; }

.icon-faren:before { content: "\e623"; }

.icon-zhanneixin:before { content: "\e684"; }

.icon-yanzhengma:before { content: "\e6e6"; }

.icon-sousuo:before { content: "\e601"; }

.icon-yingshe01:before { content: "\e78c"; }

.icon-date:before { content: "\e64b"; }

.icon-yincang:before { content: "\e658"; }

.icon-duihao:before { content: "\e60d"; }

.icon-moban:before { content: "\e671"; }

.icon-quanxian:before { content: "\e6fd"; }

.icon-msnui-cloud-upload:before { content: "\e78d"; }

.icon-xiazai:before { content: "\e78e"; }

.icon-bianji1:before { content: "\e78f"; }

.icon-zhongzhi:before { content: "\e790"; }

.icon-bianji:before { content: "\e791"; }

.icon-icon:before { content: "\e792"; }

.icon-cuohao:before { content: "\e793"; }

.icon-xiaxiantubiao:before { content: "\e794"; }

.icon-resource2:before { content: "\e682"; }

.icon-tijiao:before { content: "\e62f"; }

.icon-resource2-yanse{
	color:#42a9f8;
}

.icon-yanzhengse{
	color:#45c4c0;
}

.icon-tianjiase{
	color:#5582d2;
}

.icon-bianjise{
	color:#c2416b;
}

.icon-shape7se{
	color:#45c4c0;
}

.icon-shangxia{
	color:#5582d2;
}

.icon-yingshe01se{
	color:#c2416b;
}

.icon-cuohaose{
	color:red;
}

.icon-duihaose{
	color:#45c4c0;
}

.icon-chenggongse{
	color:#45c4c0;
}
.icon-tianjiase1{
	color:#02aa99;
}
.icon-bianjise1{
	color:#478fc6;
}

.icon-shape7se1{
	color:#e76273;
}

