@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-size:14px;
}

input[type='text'],input[type='password'] {
	border: solid 1px #727272;
}

textarea {
	border: 1px solid #727272;
	font-size:14px;
}

button {
	height: 20px;
	border: 1px solid #abafb2;
	background-color: #abafb2;
	color: #FFFFFF;
	margin: 5px;
	margin-bottom: 0px;
	cursor: pointer;
}

button:hover {
	background-color: #494949;
}

table.lightBlue,table.lightBlue th,table.lightBlue td {
	border: solid 1px gray;
	border-collapse: collapse; //
	font-weight: normal;
	font-size: 11pt;
	font:normal normal normal 9pt Arial; 
	cursor: arrow;
}

table.lightBlue{
	border:2px solid #4A6994;	
}

table.lightBlue th {
	border:1px solid #4A6994; 
	border-bottom:2px solid #4A6994; 
	background-color:#EFF7FF; 
	color:#000000;
	padding: 2px;
	font-weight:bold;
	text-align: center;
}

table.lightBlue td {
	border:1px solid #4A6994; 
	font:normal normal normal 9pt Arial; 
	background-color:#FFFFFF; 
	color:#000000;
	padding: 2px;
	text-align: left;
}

