<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"
[
        <!ENTITY logHome "">
]>
<log4j:configuration>
    <appender class="org.apache.log4j.ConsoleAppender" name="STDOUT">
         <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="[%X{pid} %d{HH:mm:ss MM/dd} %-5p %c] - %m\n"/>
         </layout>
    </appender>
    
    <root>
        <priority value="info"/>
        <appender-ref ref="STDOUT"/>         
    </root>
</log4j:configuration>
