<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DictMTanceMapper">
	
	<!--表名 -->
	<sql id="tableName">
		sys_dict
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		DIC_CODE,	
		DIC_DES,	
		DIC_TYPE,	
		DIC_TBLNAME,	
		DIC_ID_COLNAME,	
		DIC_IDVALUE,	
		DIC_VAL_COLNAME,	
		DIC_DES_COLNAME,	
		REMARK,	
		DIC_SORT_COLNAME,	
		DIC_DYNAMIC_SIGN
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{DIC_CODE},	
		#{DIC_DES},	
		#{DIC_TYPE},	
		#{DIC_TBLNAME},	
		#{DIC_ID_COLNAME},	
		#{DIC_IDVALUE},	
		#{DIC_VAL_COLNAME},	
		#{DIC_DES_COLNAME},	
		#{REMARK},	
		#{DIC_SORT_COLNAME},	
		#{DIC_DYNAMIC_SIGN}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
		 DIC_CODE = #{DIC_CODE}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			DIC_DES = #{DIC_DES},
			DIC_TYPE = #{DIC_TYPE},
			DIC_TBLNAME = #{DIC_TBLNAME},
			DIC_ID_COLNAME = #{DIC_ID_COLNAME},
			DIC_IDVALUE = #{DIC_IDVALUE},
			DIC_VAL_COLNAME = #{DIC_VAL_COLNAME},
			DIC_DES_COLNAME = #{DIC_DES_COLNAME},
			REMARK = #{REMARK},
			DIC_SORT_COLNAME = #{DIC_SORT_COLNAME},
			DIC_DYNAMIC_SIGN = #{DIC_DYNAMIC_SIGN}
		where 
		 DIC_CODE = #{DIC_CODE}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
			where 
		 DIC_CODE = #{DIC_CODE}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				
					DIC_DES LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					DIC_TBLNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
		 DIC_CODE in
			
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>