<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MenuFunGroupMxMapper">
	
	<!--表名 -->
	<sql id="tableName">
		sys_menu_fun
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		FUN_NAME,	
		FUN_NAME_EN,	
		FUN_DESC,	
		FUN_GROUP_ID,
		FUN_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{FUN_NAME},	
		#{FUN_NAME_EN},	
		#{FUN_DESC},		
		#{FUN_GROUP_ID},
		#{FUN_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			FUN_ID = #{FUN_ID} AND FUN_GROUP_ID = #{FUN_GROUP_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			FUN_NAME = #{FUN_NAME},
			FUN_NAME_EN = #{FUN_NAME_EN},
			FUN_DESC = #{FUN_DESC}
		where 
		FUN_ID = #{FUN_ID} AND FUN_GROUP_ID = #{FUN_GROUP_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			FUN_ID = #{FUN_ID} AND FUN_GROUP_ID = #{FUN_GROUP_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where
		FUN_GROUP_ID = #{pd.FUN_GROUP_ID}
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					FUN_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where FUN_GROUP_ID = #{FUN_GROUP_ID}
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			FUN_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 查询明细总数 -->
	<select id="findCount" parameterType="pd" resultType="pd">
		select
			count(*) ZS
		from 
			<include refid="tableName"></include>
		where
			FUN_GROUP_ID = #{FUN_GROUP_ID}
	</select>
	
	<!-- 查询ID -->
	<select id="findFunID" parameterType="pd" resultType="pd">
		select
			*
		from 
			<include refid="tableName"></include>
		where
			FUN_GROUP_ID = #{FUN_GROUP_ID} AND FUN_ID = #{FUN_ID}
	</select>
	<!-- 查询是否被使用 -->
	<select id="findMenuCount" parameterType="pd" resultType="pd">
		select
			count(*) NUM
		from 
			SYS_MENU
		where
			MENU_GROUP_ID = #{FUN_GROUP_ID}
	</select>
</mapper>