<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrgMapper">
	
	<resultMap type="Org" id="orgResultMap">
		<id column="ORG_ID" property="orgId"/>
		<result column="DEPARTMENT_ID" property="DEPARTMENT_ID"/>
		<result column="NAME" property="name"/>
		<result column="NAME_EN" property="nameEn"/>
		<result column="ORG_CODE" property="orgCode"/>
		<result column="ORG_LEVEL" property="orgLevel"/>
		<result column="PARENT_ID" property="parentId"/>
		<result column="ORG_DESC" property="orgDesc"/>
		<result column="HEADMAN" property="headman"/>
		<result column="TEL" property="tel"/>
		<result column="FUNCTIONS" property="functions"/>
		<result column="ADDRESS" property="address"/>
		<result column="STATUS" property="status"/>
		<result column="ORG_ORDER" property="orgOrder"/>
		<result column="COMPANY" property="company"/>
		<result column="SIMPLENAME" property="SIMPLENAME"/>
		<result column="ORG_ID_PERBANK" property="ORG_ID_PERBANK"/>
		<result column="ORG_ID_COMBANK" property="ORG_ID_COMBANK"/>
		<result column="REGIONALISM_CODE" property="REGIONALISM_CODE"/>
		<result column="BRANCH_CODE_COMBANK" property="BRANCH_CODE_COMBANK"/>
		<result column="BRANCH_CODE_PERBANK" property="BRANCH_CODE_PERBANK"/>
	</resultMap>
	
	<!--表名 -->
	<sql id="tableName">
		SYS_DEPARTMENT
	</sql>
	<sql id="OrgtableName">
		SYS_ORG
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
	    ORG_ID,
		NAME,	
		NAME_EN,
		ORG_CODE,
		ORG_LEVEL,	
		PARENT_ID,
		ORG_DESC,
		HEADMAN,
		TEL,
		FUNCTIONS,
		ADDRESS,
		STATUS,	
		ORG_ORDER,
		COMPANY,
		SIMPLENAME,
		ORG_ID_PERBANK,
		ORG_ID_COMBANK,
		BRANCH_CODE_PERBANK,
		BRANCH_CODE_COMBANK,
		REGIONALISM_CODE
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ORG_ID},	
		#{NAME},	
		#{NAME_EN},	
		#{ORG_CODE},
		#{ORG_LEVEL},
		#{PARENT_ID},
		#{ORG_DESC},
		#{HEADMAN},
		#{TEL},
		#{FUNCTIONS},	
		#{ADDRESS},
		#{STATUS},
		#{ORG_ORDER},	
		#{COMPANY},
		#{SIMPLENAME},	
		#{ORG_ID_PERBANK},
		#{ORG_ID_COMBANK},
		#{BRANCH_CODE_PERBANK},
		#{BRANCH_CODE_COMBANK},
		#{REGIONALISM_CODE}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="OrgtableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="OrgtableName"></include>
		where 
			ORG_ID = #{ORG_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="OrgtableName"></include>
		set 
			NAME = #{NAME},
			NAME_EN = #{NAME_EN},
			SIMPLENAME = #{SIMPLENAME},
			ORG_DESC =#{ORG_DESC},
			HEADMAN = #{HEADMAN},
			TEL = #{TEL},
			FUNCTIONS = #{FUNCTIONS},
			ADDRESS = #{ADDRESS},
			STATUS = #{STATUS},
			ORG_ORDER = #{ORG_ORDER},
			ORG_ID_PERBANK = #{ORG_ID_PERBANK},
			ORG_ID_COMBANK = #{ORG_ID_COMBANK},
			BRANCH_CODE_PERBANK = #{BRANCH_CODE_PERBANK},
			BRANCH_CODE_COMBANK = #{BRANCH_CODE_COMBANK},
			REGIONALISM_CODE = #{REGIONALISM_CODE}
		where 
		ORG_ID = #{ORG_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="OrgtableName"></include>
		where 
			ORG_ID = #{ORG_ID}
	</select>
	
	<!-- 通过编码获取数据 -->
	<select id="findByBianma" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="OrgtableName"></include>
		where 
			ORG_CODE = #{ORG_CODE} and COMPANY = #{COMPANY}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="orgResultMap">
		select
		<include refid="Field"></include>
		from 
		<include refid="OrgtableName"></include>
		where
			1=1
		and COMPANY = #{pd.COMPANY}
		<if test="pd.ORG_ID !=null and pd.ORG_ID != ''"><!-- 检索 -->
		and PARENT_ID = #{pd.ORG_ID}
		</if>
		<if test="pd.keywords != null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				 NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				 or 
				 NAME_EN LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				 or
				 ORG_CODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				 or
				 ORG_LEVEL LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		order by ORG_ORDER
	</select>
	
	<!-- 通过ID获取其子级列表 -->
	<select id="listSubDepartmentByParentId" parameterType="pd" resultMap="orgResultMap">
		select 
		<include refid="Field"></include>
		from 
		<include refid="OrgtableName"></include>
		where 
			PARENT_ID = #{parentId} and COMPANY = #{company} order by NAME 
	</select>
	
	<!-- 通过ID获取数据 -->
	<select id="findByOrgId" parameterType="String" resultMap="orgResultMap">
		select 
		<include refid="Field"></include>
		from 
		<include refid="OrgtableName"></include>
		where 
			ORG_ID = #{ORG_ID}
	</select>
		
	<!-- 通过USERID获取机构 -->
	<select id="findOrgByUserId" parameterType="pd" resultMap="orgResultMap" >
		select  
		<include refid="Field"></include>
		from 
		<include refid="OrgtableName"></include> o 
		where o.COMPANY = #{COMPANY} 
		and o.ORG_ID in
  			 (select ORG_ID FROM SYS_USER_ORG where USER_ID = #{USER_ID}) 
	</select>
	<!-- 通过company查找-->
	<select id="listAllOrgByCompany" parameterType="String" resultMap="orgResultMap">
		select 
		<include refid="Field"></include>
		from 
		<include refid="OrgtableName"></include>
		where 
			COMPANY = #{company} and STATUS='0' order by NAME 
	</select>
	
	<select id="findRootOrg" parameterType="String" resultType="java.util.HashMap">
		select 
		<include refid="Field"></include>
		from 
		<include refid="OrgtableName"></include>
		where PARENT_ID = '0'
		  AND COMPANY = #{company}
	</select>
	
	
	<!-- 删除-->
	<delete id="deleteUserOrg" parameterType="pd">
		delete from sys_user_org
		where 
			ORG_ID = #{ORG_ID}
	</delete>
	<!-- 查询机构是否被授权-->
	<select id="finUserOrg" parameterType="pd" resultType="String">
		select USER_ID from sys_user_org
		where 
			ORG_ID = #{ORG_ID}
	</select>
	<!-- 通过company查找-->
	<select id="ComOrglist" parameterType="pd" resultMap="orgResultMap">
		select 
		<include refid="Field"></include>
		from 
		<include refid="OrgtableName"></include>
		WHERE
			ORG_ID IN
			(
				SELECT
					ORG_ID
				FROM
					sys_user_org
				WHERE
					USER_ID = #{USER_ID}
			)
		and STATUS='0'
		order by ORG_LEVEL DESC
	</select>
	<!-- 列表 -->
	<select id="ComdatalistPage" parameterType="page" resultMap="orgResultMap">
		select
		<include refid="Field"></include>
		from 
		<include refid="OrgtableName"></include>
		where
			ORG_ID IN
			(
				SELECT
					ORG_ID
				FROM
					sys_user_org
				WHERE
					USER_ID = #{pd.USER_ID}
			)
		<if test="pd.ORG_ID !=null and pd.ORG_ID != ''"><!-- 检索 -->
		and PARENT_ID = #{pd.ORG_ID}
		</if>
		<if test="pd.keywords != null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				 NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				 or 
				 NAME_EN LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				 or
				 ORG_CODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				 or
				 ORG_LEVEL LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		order by ORG_LEVEL DESC
	</select>
	<!-- 通过ID获取其子级列表 -->
	<select id="listComDepartmentByParentId" parameterType="pd" resultMap="orgResultMap">
		select 
		<include refid="Field"></include>
		from 
		<include refid="OrgtableName"></include>
		where 
			ORG_ID IN
			(
				SELECT
					ORG_ID
				FROM
					sys_user_org
				WHERE
					USER_ID = #{USER_ID}
			)
			order by ORG_LEVEL DESC
	</select>
	<!-- 通过ID获取其子级列表 -->
	<select id="listAubDepartmentByParentId" parameterType="pd" resultMap="orgResultMap">
		select 
		<include refid="Field"></include>
		from 
		<include refid="OrgtableName"></include>
		where 
			PARENT_ID = #{parentId} and COMPANY = #{company} and STATUS = '0' order by NAME 
	</select>
	<!-- 查询所有的机构  pengyj add 20170428-->
	<select id="listOrg" parameterType="String" resultMap="orgResultMap">
		select 
		<include refid="Field"></include>
		from 
		<include refid="OrgtableName"></include>
		where STATUS = '0'
		<if test="company !=null and company != ''"><!-- 检索 -->
		and	 COMPANY = #{company} 
		</if>
		  order by NAME
	</select>
	
	<!-- 通过orgName查询orgId-->
	<select id="findOrgIdByOrgName" parameterType="String" resultType="String">
		select ORG_ID from sys_org
		where 
			NAME = #{ORG_NAME}
	</select>
</mapper>