<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pwdRuleConfigMapper">
	
	<!--表名 -->
	<sql id="tableName">
		sys_password
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		INITIAL_PASSWORD,	
		MAX_ERROR_LOGON,	
		EFFECT_DAYS,	
		MIN_LENGTH,
		MAX_LENGTH,
		REPEAT_NUM,
		MODIFIED_RESTRICT_TIME,
		ENCRYPT_TYPE,
		PASSWORD_RULE,
		PASSWORD_RULE_DESC
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{INITIAL_PASSWORD},	
		#{MAX_ERROR_LOGON},	
		#{EFFECT_DAYS},
		#{MIN_LENGTH},	
		#{MAX_LENGTH},	
		#{REPEAT_NUM},
		#{MODIFIED_RESTRICT_TIME},	
		#{ENCRYPT_TYPE},	
		#{PASSWORD_RULE},	
		#{PASSWORD_RULE_DESC}
	</sql>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			MAX_ERROR_LOGON=#{MAX_ERROR_LOGON},
			EFFECT_DAYS=#{EFFECT_DAYS},
			MIN_LENGTH=#{MIN_LENGTH},
			MAX_LENGTH=#{MAX_LENGTH},
			REPEAT_NUM=#{REPEAT_NUM},
			MODIFIED_RESTRICT_TIME=#{MODIFIED_RESTRICT_TIME},
            PASSWORD_RULE=#{rules}
	</update>

	
	<!-- 列表(全部) -->
	<select id="list"  parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	<!-- 查询最大次数 -->
	<select id="checkMaxTime" parameterType="String" resultType="String" >
		select  p.MAX_ERROR_LOGON
		from <include refid="tableName"></include> p
	</select>
	<!-- 查询初始密码 -->
	<select id="initPassword" parameterType="String" resultType="String" >
		select  p.INITIAL_PASSWORD
		from <include refid="tableName"></include> p
	</select>
	
</mapper>