.watermark {
	filter: Alpha(opacity =   30);
	opacity: 0.3;
	-moz-opacity: 0.3;
}

.hide {
	display: none;
}

ul.toolbar {
	height: 36px;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 1000;
	position: absolute;
	top: 0px;
	left: 0px;
	border-bottom: solid 1px #3ea1e7;
	background-image: url(images/oparea/gongnengbg.png);
}

.statusbar {
	height: 24px;
	line-height: 24px;
	padding: 0 1em;
	width: 100%;
	margin: 0;
	border-top: solid 1px #3ea1e7;
	background-color: #DEE2E6;
	list-style: none;
	z-index: 100;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.statusbar #statusMsg {
	height: 24px;
	line-height: 24px;
	color: gray;
}

.statusbar #pageNavi * {
	margin: 0 0.5em;
	height: 24px;
	line-height: 24px;
}

.statusbar #pageNavi input {
	width: 4em;
	height: 18px;
	line-height: 18px;
}

#toolbarMask11 {
	margin: 0;
	padding: 0;
	z-index: 1000;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 35px;
	width: 100%;
	background-color: gray;
	filter: Alpha(opacity =               20);
	opacity: 0.3;
	-moz-opacity: 0.3;
}

.toolbar li {
	height: 36px;
	width: 36px;
	margin-right: 5px;
	background-position: center left;
	background-repeat: no-repeat;
	position: relative;
}

.toolbar li.tab {
	float: left;
	line-height: 36px;
	width: 50px;
	font-size: 16px;
	background-position: 50% 50%;
	cursor: pointer;
}

#inputTab {
	background-image: url(images/oparea/inputform.png);
}

#inputTab.selected {
	background-image: url(images/oparea/inputform_.png);
	background-color: #3ea1e7;
}

#commentsTab {
	background-image: url(images/oparea/info.png);
}

#commentsTab.selected {
	background-image: url(images/oparea/info_.png);
	background-color: #3ea1e7;
}

#mySpaceTab.normal {
	background-image: url(images/oparea/my-account.png);
}

#mySpaceTab.selected {
	background-image: url(images/oparea/my-account_.png);
	background-color: #3ea1e7;
}

.toolbar li.tab * {
	display: none;
}

.toolbar li.cmd {
	float: right;
	cursor: pointer;
}

.tabPanel {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 1000;
	position: absolute;
	top: 35px;
	left: 0;
	background-color: #f6f6f6;
	border: solid 2px #3ea1e7;
	display: none;
}

.tabPanel span.tabtitle {
	width: 100%;
	background-color: #3ea1e7;
	color: white;
	display: inline-block;
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
	margin: 0px;
	padding: 2px 0;
}

ul.fileList {
	float: left;
	width: 100%;
	list-style: none;
	padding: 0.5em 0 0.5em 0;
	margin: 0;
	background-color: white;;
}

ul.fileList li {
	float: left;
	width: 100px;
	height: 50px;
	background-position: center 2px;
	background-repeat: no-repeat;
	position: relative;
	margin: 5px;
}

ul.fileList li span {
	position: absolute;
	bottom: 0;
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

table.inputPanel {
	margin: 1em;
	width: 100%;
}

#buttonPanel {
	border-top: double #e0e0e0 3px;
	padding: 0.5em 0 0.5em 0;
	margin: 0 20px 0 20px;
	text-align: center;
}

#buttonPanel input {
	margin: 0 10px 0 10px;
	padding: 0px 20px 0px 20px;
	height: 31px;
}

#refreshReportBtn.cmd,#refreshChartBtn.cmd {
	background-image: url(images/oparea/refresh.png);
}

#refreshReportBtn.cmd.hover,#refreshChartBtn.cmd.hover {
	background-image: url(images/oparea/refresh_.png);
}

#exportExcellBtn.cmd {
	background-image: url(images/oparea/excel.png);
}

#exportExcellBtn.cmd.hover {
	background-image: url(images/oparea/excel_.png);
}

#exportPdfBtn.cmd {
	background-image: url(images/oparea/pdf.png);
}

#exportPdfBtn.cmd.hover {
	background-image: url(images/oparea/pdf_.png);
}

#printBtn.cmd {
	background-image: url(images/oparea/print.png);
}

#printBtn.cmd.hover {
	background-image: url(images/oparea/print_.png);
}

#shrinkFont.cmd {
	background-image: url(images/oparea/fontsize-.png);
}

#shrinkFont.cmd.hover {
	background-image: url(images/oparea/fontsize-_.png);
}

#enlargeFont.cmd {
	background-image: url(images/oparea/fontsize+.png);
}

#enlargeFont.cmd.hover {
	background-image: url(images/oparea/fontsize+_.png);
}

#inputButton.cmd {
	background-image: url(images/oparea/patch.png);
}

#inputButton.cmd.hover {
	background-image: url(images/oparea/patch_.png);
}

#inputAuditButton.cmd {
	background-image: url(images/oparea/audit.png);
}

#inputAuditButton.cmd.hover {
	background-image: url(images/oparea/audit_.png);
}

#accessCtrlBtn.cmd {
	background-image: url(images/oparea/accesscontrol.png);
}

#accessCtrlBtn.cmd.hover {
	background-image: url(images/oparea/accesscontrol_.png);
}

#chartButton.cmd {
	background-image: url(images/oparea/piechart.png);
}

#chartButton.cmd.hover {
	background-image: url(images/oparea/piechart_.png);
}

#validateAllButton.cmd {
	background-image: url(images/oparea/validateAll.png);
}

#validateAllButton.cmd.hover {
	background-image: url(images/oparea/validateAll_.png);
}

#reportToButton.cmd {
	background-image: url(images/oparea/reportTo.png);
}

#reportToButton.cmd.hover {
	background-image: url(images/oparea/reportTo_.png);
}