<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OperationMapper">
	<!--表名 -->
	<sql id="tableName">
		sys_operation_log
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		LOG_ID,	
		USER_ID,	
		USERNAME,	
		NAME,
		ORG,
		IP,
		MAC,
		OPERATION_URL,
		OPERATION_TIME,
		OPERATION_DESC
	</sql>
	
	<!-- 列表 -->
	<select id="listPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''">
			AND USERNAME LIKE '%${pd.keywords}%'	
		</if>
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 登录时间检索 -->
			AND OPERATION_TIME &gt;= '${pd.lastLoginStart} 00:00:00'  
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 登录时间检索 -->
			AND OPERATION_TIME &lt;= '${pd.lastLoginEnd} 23:59:59' 
		</if>
		order by OPERATION_TIME desc
	</select>
	
	<select id="excelExport" parameterType="map" resultType="map">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="keywords!= null and keywords != ''">
			AND USERNAME LIKE '%${keywords}%'	
		</if>
		<if test="lastLoginStart!=null and lastLoginStart!=''">
			AND OPERATION_TIME &gt;= '${lastLoginStart} 00:00:00' 
		</if>
		<if test="lastLoginEnd!=null and lastLoginEnd!=''">
			AND OPERATION_TIME &lt;= '${lastLoginEnd} 23:59:59' 
		</if>
	</select>

	<!-- 记录日志 -->
	<insert id="addLog" parameterType="pd" >
		insert into sys_operation_log (
			LOG_ID,
			USER_ID,
			USERNAME,
			NAME,
			ORG,
			IP,
			MAC,
			OPERATION_URL,
			OPERATION_TIME,
			OPERATION_DESC
		) values (
			#{LOG_ID},
			#{USER_ID},
			#{USERNAME},
			#{NAME},
			#{ORG},
			#{IP},
			#{MAC},
			#{OPERATION_URL},
			#{OPERATION_TIME},
			#{OPERATION_DESC}
		)
	</insert>
</mapper>