<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BankQueryFlowMapper">
	
	<!-- 企业/个人查询流水列表 -->
	<select id="comDatalistPage" parameterType="page" resultType="pd">
 SELECT A.NUM QUERY_COUNT,
       A.REPORT_TYPE,
       A.USER_NAME,
       A.TRADE_TIME APPLICATION_TIME,
       X.USERNAME,
       X.NAME,
       X.ORG_CODE,
       X.ORG_NAME
     FROM (SELECT COUNT(1) NUM, user_name,REPORT_TYPE,subStr(TRADE_TIME,1,7) TRADE_TIME,COMPANY
          FROM CIFM_BANK_QUERY_FLOW BQ        
        GROUP BY user_name,REPORT_TYPE,subStr(TRADE_TIME,1,7),COMPANY ) A
       LEFT JOIN
           (SELECT B.USERNAME, B.USERNAME_PERBANK_ORG, B.NAME, D.ORG_CODE,D.ORG_ID, D.NAME ORG_NAME FROM SYS_USER B 
            INNER JOIN SYS_USER_ORG C ON B.USER_ID = C.USER_ID
            INNER JOIN SYS_ORG D ON D.ORG_ID = C.ORG_ID ) X
       ON A.USER_NAME = X.USERNAME
       WHERE 1=1 
       	<if test="pd.DATA_DATE!= null and pd.DATA_DATE != ''">
		  and A.TRADE_TIME=#{pd.DATA_DATE}
		</if>
		<if test="pd.ORG_ID!= null and pd.ORG_ID != ''">
		   and X.ORG_ID in (SELECT ORG_ID FROM SYS_ORG START WITH ORG_ID=#{pd.ORG_ID} CONNECT BY PARENT_ID=PRIOR ORG_ID)
		</if>
		<if test="pd.NAME!= null and pd.NAME != ''">
		  and X.NAME = #{pd.NAME}
		</if>
		<if test="pd.REPORT_TYPE!= null and pd.REPORT_TYPE != ''">
		  AND A.REPORT_TYPE=#{pd.REPORT_TYPE}
		</if>
		ORDER BY A.TRADE_TIME DESC
	</select>
	
		<!-- 企业/个人查询流水列表 (总计专用)-->
	<select id="comDataCountPage" parameterType="pd" resultType="pd">
    SELECT A.NUM QUERY_COUNT
     FROM (SELECT COUNT(1) NUM, user_name,REPORT_TYPE,subStr(TRADE_TIME,1,7) TRADE_TIME,COMPANY
          FROM CIFM_BANK_QUERY_FLOW BQ        
        GROUP BY user_name,REPORT_TYPE,subStr(TRADE_TIME,1,7),COMPANY ) A
       LEFT JOIN
           (SELECT B.USERNAME, B.USERNAME_PERBANK_ORG, B.NAME, D.ORG_CODE,D.ORG_ID, D.NAME ORG_NAME FROM SYS_USER B 
            INNER JOIN SYS_USER_ORG C ON B.USER_ID = C.USER_ID
            INNER JOIN SYS_ORG D ON D.ORG_ID = C.ORG_ID ) X
       ON A.USER_NAME = X.USERNAME
       WHERE 1=1 and A.COMPANY=#{COMPANY}
       	<if test="DATA_DATE!= null and DATA_DATE != ''">
		  and A.TRADE_TIME=#{DATA_DATE}
		</if>
		<if test="ORG_ID!= null and ORG_ID != ''">
		   and X.ORG_ID in (SELECT ORG_ID FROM SYS_ORG START WITH ORG_ID=#{ORG_ID} CONNECT BY PARENT_ID=PRIOR ORG_ID)
		</if>
		<if test="NAME!= null and NAME != ''">
		  and X.NAME = #{NAME}
		</if>
		<if test="REPORT_TYPE!= null and REPORT_TYPE != ''">
		  AND A.REPORT_TYPE=#{REPORT_TYPE}
		</if>
		ORDER BY A.TRADE_TIME DESC
	</select>
	
	
	<!--个人查询流水列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
	   SELECT 
          COUNT(1)||'' QUERY_COUNT, 
          REPORT_TYPE,
          APPLICATION_TIME,
          USERNAME,
          NAME,
          ORG_NAME
       FROM(
          SELECT 
                  DISTINCT C.REPORT_ID,
                  REPORT_TYPE,
                  subStr(TRADE_TIME,1,7) APPLICATION_TIME,
                  USER_SYS_NAME USERNAME,
                  USER_REAL_NAME NAME,
                  B.BRANCH_NAME ORG_NAME 
              FROM 
                  CIFM_BANK_QUERY_FLOW A
              INNER JOIN
                  CIFM_PERSON_DETAIL B
              ON
                  A.PRODUCT_DES1 = B.CREDENTIALS_NO
              AND
                 B.Query_Time  between ADDDATE(str_to_date(A.TRADE_TIME,'%Y-%m-%d %H:%i:%s'),INTERVAL 5 MINUTE)
               and ADDDATE(str_to_date(A.TRADE_TIME,'%Y-%m-%d %H:%i:%s'),INTERVAL -5 MINUTE)
              INNER JOIN
                  CIFM_FLOW_STATUS C
              ON 
                  B.ID=C.ID
              WHERE
                  B.IS_GET='1'
             
       ) T
        WHERE 
              1=1
	    <if test="pd.DATA_DATE!= null and pd.DATA_DATE != ''">
	      and APPLICATION_TIME=#{pd.DATA_DATE}
	    </if>
	    <if test="pd.ORG_ID!= null and pd.ORG_ID != ''">
	       and ORG_NAME in (SELECT NAME FROM SYS_ORG START WITH ORG_ID=#{pd.ORG_ID} CONNECT BY PARENT_ID=PRIOR ORG_ID)
	    </if>
	    <if test="pd.NAME!= null and pd.NAME != ''">
	      and USERNAME = #{pd.NAME}
	    </if>
	    <if test="pd.REPORT_TYPE!= null and pd.REPORT_TYPE != ''">
	      AND REPORT_TYPE=#{pd.REPORT_TYPE}
	    </if>
	    GROUP BY REPORT_TYPE,APPLICATION_TIME,USERNAME,NAME,ORG_NAME
	    ORDER BY T.APPLICATION_TIME DESC
	</select>
	<!-- 详情列表 -->
	<select id="detaillistPage" parameterType="page" resultType="pd">
		SELECT 
		   A.PRODUCT_DES1 COM_CREDENTIALS_NUM,
		   A.PRODUCT_DES2 COM_CREDENTIALS_TYPE,
		   A.PRODUCT_DES3 CLIENT_NAME,
		   A.TRADE_TIME APPLICATION_TIME
		FROM 
		    CIFM_BANK_QUERY_FLOW A
		INNER JOIN
		    CIFM_PERSON_DETAIL B
		ON
		    A.PRODUCT_DES1 = B.CREDENTIALS_NO
		WHERE
		    B.IS_GET='1'
		AND
		    subStr(A.TRADE_TIME,1,10)=DATE_FORMAT(B.QUERY_TIME,'%Y-%m-%d')
		AND
		    B.USER_SYS_NAME=#{pd.USERNAME} 
		and 
		    subStr(A.TRADE_TIME,1,7)=#{pd.APPLICATION_TIME}
		and 
		    A.REPORT_TYPE=#{pd.REPORT_TYPE} 
		ORDER BY A.TRADE_TIME DESC
	</select>
	<select id="hisDetaillistPage" parameterType="page" resultType="pd">
		SELECT 
		   A.PRODUCT_DES1 COM_CREDENTIALS_NUM,
		   A.PRODUCT_DES2 COM_CREDENTIALS_TYPE,
		   A.PRODUCT_DES3 CLIENT_NAME,
		   A.TRADE_TIME APPLICATION_TIME
		FROM 
		    CIFM_BANK_QUERY_FLOW A
		INNER JOIN
		    CIFM_PERSON_DETAIL B
		ON
		    A.PRODUCT_DES1 = B.CREDENTIALS_NO
		WHERE
		    B.IS_GET='1'
		AND
		    subStr(A.TRADE_TIME,1,10)=DATE_FORMAT(B.QUERY_TIME,'%Y-%m-%d')
		AND
		    B.USER_SYS_NAME=#{pd.USERNAME} 
		and 
		    subStr(A.TRADE_TIME,1,7)=#{pd.APPLICATION_TIME}
		and 
		    A.REPORT_TYPE=#{pd.REPORT_TYPE} 
		ORDER BY A.TRADE_TIME DESC
	</select>
	<!--企业详情列表 -->
	<select id="comDetaillistPage" parameterType="page" resultType="pd">
		select BQ.PRODUCT_DES1 COM_CREDENTIALS_NUM,
               BQ.PRODUCT_DES2 COM_CREDENTIALS_TYPE,
               BQ.PRODUCT_DES3 CLIENT_NAME,
               BQ.TRADE_TIME APPLICATION_TIME
               from CIFM_BANK_QUERY_FLOW BQ
              INNER JOIN SYS_USER B ON BQ.USER_NAME = B.USERNAME_PERBANK_ORG
       INNER JOIN SYS_USER_ORG C ON B.USER_ID = C.USER_ID
       INNER JOIN SYS_ORG D ON D.ORG_ID = C.ORG_ID
       where B.USERNAME=#{pd.USERNAME} and subStr(BQ.TRADE_TIME,1,7)=#{pd.APPLICATION_TIME} and BQ.REPORT_TYPE=#{pd.REPORT_TYPE} and BQ.COMPANY=#{pd.COMPANY} ORDER BY BQ.TRADE_TIME DESC
	</select>
	<!-- 数据导入 -->
	<insert id="save" parameterType="pd">
		insert into CIFM_BANK_QUERY_FLOW
		(TRADE_NO,
			  TRADE_TIME,
			  HQ_INSTITUTION_CODE,
			  HQ_INSTITUTION_NAME,
			  BRANCH_CODE,
			  BRANCH_NAME,
			  BRANCH_LOCATION,
			  USER_NAME,
			  REPORT_TYPE,
			  CONSUMPTION_NUM,
			  PRODUCT_DES1,
			  PRODUCT_DES2,
			  PRODUCT_DES3,
			  PRODUCT_DES4,
			  FRI_ORG_NAME,
			  SEC_ORG_NAME,
			  THR_ORG_NAME,
			  FOUR_ORG_NAME,
			  FIV_ORG_NAME,
			  SIX_ORG_NAME,
			  COMPANY) 
  		values (
	  		#{TRADE_NO},
			#{TRADE_TIME},
			#{HQ_INSTITUTION_CODE},
			#{HQ_INSTITUTION_NAME},
			#{BRANCH_CODE},
			#{BRANCH_NAME},
			#{BRANCH_LOCATION},
			#{USER_NAME},
			#{REPORT_TYPE},
			#{CONSUMPTION_NUM},
			#{PRODUCT_DES1},
			#{PRODUCT_DES2},
			#{PRODUCT_DES3},
			#{PRODUCT_DES4},
			#{FRI_ORG_NAME},
			#{SEC_ORG_NAME},
			#{THR_ORG_NAME},
			#{FOUR_ORG_NAME},
			#{FIV_ORG_NAME},
			#{SIX_ORG_NAME},
			#{COMPANY}
		)
	</insert>
	
		<!-- 批量新增-->
	<insert id="bachSave" parameterType="pd" useGeneratedKeys="false">
		${insertSql}
	</insert>
</mapper>