<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComInterfaceMapper">

		<!-- 报告信息 -->
	<select id="reportInfo"  parameterType="String" resultType="Map">
		  
		SELECT 	 REPORT_ID,ORG_CODE,QUERY_REASON, REPORT_TIME,
		         SUM_ENT_IDENT,RATE_EXCHANGE,EFFE_DATE_RATE,  ENT_NAME ,OBJ_LAB_ITEM  
		FROM   
				COM_REPORT_INFO  
		WHERE  
				REPORT_ID = #{_parameter} 
	</select>
	
	<!-- 企业身份信息 -->
	<select id="entInfo"  parameterType="String" resultType="Map">
		SELECT  
				 TYPE_ENT_IDENT,
				 NUM_ENT_INDENT  
		FROM   
				COM_IDENT_BASIC  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>	
	<!-- 基本信息 -->
	<select id="basic" parameterType="String" resultType="Map">
		SELECT  
				SUB_INDUSTRY,TYPE_ORGAN,SCALE_ENT, ADDRESS_EDI,
				YEAR_SETUP,STATE_CX, ADDRE_BUSS,
				 LICENSE_DATE,TYPE_ECONOMIC 
		FROM   
				COM_CREDIT_BASIC_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 注册资本 -->
	<select id="investor" parameterType="String" resultType="Map">
		SELECT  
				REIG_CAPITAL,NUM_INVEST,DATE_UPDATE_INVEST
		FROM   
				COM_INVESTOR  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 出资人信息 -->
	<select id="investorInfo" parameterType="String" resultType="Map">
		SELECT  
				TYPE_INVEST,TYPE_INVEST_IDENT, INVE_NAME, INVE_CRED_TYPE,
				 INVE_CRED_NUM, INVE_PERCENT  
		FROM   
				COM_INVESTOR_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 主要成员信息单元 -->
	<select id="senior" parameterType="String" resultType="Map">
		SELECT  
				NUM_PEPL,DATE_UPDATE_SENIOR
		FROM   
				COM_MAIN_MEMBER  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 组成人员信息 -->
	<select id="seniorManager" parameterType="String" resultType="Map">
		SELECT  
				 SENIOR_DUTIES, SENIOR_NAME, SNEIOR_CRED_TYPE ,
				 SNEIOR_CRED_NUM  
		FROM   
				COM_SENIOR_MANAGER_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 上级机构信息 -->
	<select id="seniorOrg" parameterType="String" resultType="Map">
		SELECT  
				DATE_UPDATE_HIGHT,HIGHT_INSTI_TYPE,HIGHT_INSTI_NAME,HIGHT_INTI_IDET_TYPE,HIGHT_NUM   
		FROM   
				COM_SUP_ORG  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>	
	<!-- 实际控制人单元 -->
	<select id="controlPer" parameterType="String" resultType="Map">
		SELECT  
				CONTROL_NUM,DATE_UPDATE_ACT   
		FROM   
				COM_CONTRO_PERSON 
		WHERE  
				REPORT_ID = #{_parameter}
	</select>	
	<!-- 实际控制人信息 -->
	<select id="controlPerInfo" parameterType="String" resultType="Map">
		SELECT  
				NAME_IDENTITY,TYPE_IDENTITY_LOGO,
				TYPE_IDENTITY, TYPE_IDENTITY_NUM  
		FROM   
				COM_ACTUAL_CONTROLLER  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 信用提示单元 -->
	<select id="entCreditInfo" parameterType="String" resultType="Map">
		SELECT  
				CURRENT_DEBT,OVER_DEBT,UNCLEAR_ORG,
				SECURED_TRANS_BALANCE,FOCUS_SEC_TRANS_BA,RELATION_ORG,
				FIRST_REPAY_LIAB_YEAR,RECOVER_CURRENT_DEBT,FOCUS_CURRENT_DEBT,SECURED_OVER_DEBT,
				FIRST_TRADE_YEAR,NUM_NO_CRET_TRA_ACC,TAX_ARRENS_NUM,NUM_JUDG_RECORD,NUM_ENFORCE_RECORD,NUM_ADMINI_PUNI   
		FROM   
				COM_INFO_CREDIT  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 借贷交易汇总信息单元  未结清借贷交易汇总信息段 -->
	<select id="borrowAccountInfo" parameterType="String" resultType="Map">
		SELECT  
				LAST_ADS_ACC_DATE,YDATE_SETTLEMENT,ASSETS_DISP_BALANCE,
				NUM_ADVANCES_ACCOUNT,OVER_INTERST_OTHER,YDATE_COMPLETION,
				ASSETS_DISP_NUM,ADVAES_ACC_BALANCE,YADVANCES_ACCOUNT_BALANCE,
				YASSETS_DISP_NUM,NUM_MONTH_FZ,LAST_DISP_DATE,OVER_SUM,
				OVER_PRINCIPAL,YNUM_ADVANCES_ACCOUNT,NUM_OTHER_TRANS,
				YASSETS_DISP_BALANCE,YNUM_OTHER_TRANS_YJ   
		FROM   
				COM_LEND_TRANS  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 借贷交易汇总信息单元  未结清其他借贷交易信息段 -->
	<select id="unOtherClearInfo" parameterType="String" resultType="Map">
		SELECT  
				BALANCE_NUM,BUSS_TYPE,ASSET_QUALITY_CLAS,NUM_ACCOUNT   
		FROM   
				COM_LEND_TRANS_OTHER  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 借贷交易汇总信息单元  已结清其他借贷交易信息段 -->
	<select id="otherClearInfo" parameterType="String" resultType="Map">
		SELECT  
				ASSET_QUALITY_CLASSIFICATION,BUSS_TYPE,NUM_ACCOUNT   
		FROM   
				COM_LEND_TRANS_SE_TYPE  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 负债历史信息-->
	<select id="debetHistoryInfo" parameterType="String" resultType="Map">
		SELECT  
				OVER_SUM,FOCUS_DEBT_BALANCE,NUM_ACCOUNT_BAD_DEBT,ALL_DEBT_BALANCE,BAD_DEBT_BALANCE,MONTH,
				NUM_OVER_DEBT,NUM_OVER_PRINCIPAL,OVER_PRINCIPAL,NUM_FOCUS_DEBT_BALANCE,ALL_NUM_DEBT_BALANCE   
		FROM   
				COM_DEBT_CHANGE_HIST_SUMM  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 担保交易-->
	<select id="guarCreditInfo" parameterType="String" resultType="Map">
		SELECT  
				NUM_SECURED_TRANS_CAT,NUM_SECURED_NOTRANS  
		FROM   
				COM_GUAR_TRANS_IN  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 未结清担保交易信息-->
	<select id="unGuarInfo" parameterType="String" resultType="Map">
		SELECT  
				BUSS_TYPE,ASSET_QUALITY_CLAS,NUM_ACCOUNT,BALANCE_NUM   
		FROM   
				COM_GUAR_TRANS_INFO_OUTS  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 已结清担保交易信息-->
	<select id="guarInfo" parameterType="String" resultType="Map">
		SELECT  
				ASSET_QUALITY_CLA,BUSS_TYPE,NUM_ACCOUNT   
		FROM   
				COM_GUAR_TRANS_INFO_SET  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 授信协议交易信息-->
	<select id="grantCreditInfo" parameterType="String" resultType="Map">
		SELECT  
				USE_TOTAL_NON_REV_CREDT,REMAIN_TOTAL_NON_REV_CREDT,TOTAL_REV_CREDT,
				REMAIN_TOTAL_REV_CREDT,WHET_CREDIT_LIMT,TOTAL_NON_REV_CREDT,USE_TOTAL_REV_CREDT   
		FROM   
				COM_CREDIT_GRANT_SUM  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 相关还款责任交易信息-->
	<select id="repayReponseInfo" parameterType="String" resultType="Map">
		SELECT  
				NUM_REPAY_LIA,NUM_REPAY_LIA_DB
		FROM   
				COM_REPAY_REP_NUM  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 借贷交易相关还款交易信息-->
	<select id="repayBorrowCredit" parameterType="String" resultType="Map">
		SELECT  
				BALANCE_NUM_OTHER_FOCUS,NUM_AMONUT_ACCOUNT,BALANCE_NUM_RECOVER,AMOUNT_REPAY_RECOVER_OTHERS,
				NUM_OTHER_TRANS_BORROW,BALANCE_NUM_OTHER_TRANS_BORROW,TYPE_RESPON,AMOUNT_REPAY_RECOVER,
				BALANCE_NUM_OTHER_BAD   
		FROM   
				COM_BORROM_REPAY  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 担保交易相关还款-->
	<select id="guaBorrowInfo" parameterType="String" resultType="Map">
		SELECT  
				AMOUNT_REPAY_RECOVER,BALANCE_NUM_FOCUS,NUM_ACCOUNT,BALANCE_NUM,
				TYPE_RESPON,BALANCE_NUM_FOCUS_BAD   
		FROM   
				COM_GUAR_TRANS_RESPON_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 借贷账户信息-->
	<select id="borrowCreditInfo" parameterType="String" resultType="Map">
		SELECT  
				SERIAL,SMART_LEND_BUS,NUM_CRED_AGREE,BIG_LEND_BUS,
				NUM_LEND_ACCOUNT,OTHER_REPAY_WAY,ISSUE_WAY,DATE_CLOSE,TYPE_ACCOUNT_LEND,
				TYPE_BUS_MANA_ORG,CODE_BUS_MANA_ORG,LEN_SUM,DATE_INFO_REPORT,TIME_LIM_LEN,
				DATE_ACCOUNT_OPEN,CRED_LINE,DUE_TIME,JIO_LOAN_MARK,STATE_LEND_ACCOUNT_ACT,
				CURRENCY,GUAR_WAY,NUM_REPAY_RECORD,NUM_SPE_TRANS   
		FROM   
				COM_LEND_ACCOUNT  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 还款表现信息-->
	<select id="repayCreditInfo" parameterType="String" resultType="Map">
		SELECT  
				DATE_REPORT_INFO,FIVE_CLA,DATE_FIVE_CLA,RECE_REPAY_ONECE_TIME,
				RECE_REPAY_ONECE_SUM,BALANCE_NUM,RECE_REPAY_ONECE_CONVE_DATE,
				RECE_REPAY_ONECE_FORM,OVER_PRINCIPAL,OVER_MONTH,
				BALANCE_NUM_DATE_CHANGE,RECE_REPAY_SUM,OVER_SUM,NUM_MONTH_REMAIN,SERIAL   
		FROM   
				COM_REPAY_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 特定交易信息-->
	<select id="transCreditInfo" parameterType="String" resultType="Map">
		SELECT  
				TYPE_TRANS,TRANS_INFO,SERIAL,DATE_TRANS,TRANS_SUM,MONTH_CHANGE_DUE_TIME   
		FROM   
				COM_SPETRANS_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 贴现账户分机构汇总信息-->
	<select id="txCreditInfo" parameterType="String" resultType="Map">
		SELECT  
				TYPE_BUSINESS,FIVE_TYPE,NUM_ORG_INFO,NUM_OUTSTAND_ACCOUNT,
				OVER_PRINCIPAL_SUM,BALANCE_NUM_SUM,OVER_SUM,
				TYPE_ORG,NUM_ACC_SETTLE_SUM,CODE_ORG,NUM_ACC_SETTLE   
		FROM   
				COM_TX_ACC_ORG  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 欠息信息-->
	<select id="lackInterest" parameterType="String" resultType="Map">
		SELECT  
				DATE_REPORT,TYPE_ORG,CODE_ORG,NUM_LACK,CURRENCY,LACK_INTE_BALANCE,BALANCE_CHANGE_DATE,LACK_INTE_TYPE   
		FROM   
				COM_LACK_INTEREST  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 担保账户信息-->
	<select id="creditGuartInfo" parameterType="String" resultType="Map">
		SELECT  
				CURRENCY,DATE_REPORT_INFO_ZB,STATE_LEND_ACCOU_ZB,BALANCE_NUM_ZB,
				FIVE_CLA_ZB,EXPOSURE_TO_ZB,ADVANCES_ZB,COMMON_DEBT_INDENTI_ZB,
				DATE_CLOSE_ZB,NUM_CRED_AGREE,DATE_OPEN,DUE_TIME_DATE,
				GUAR_TRANS_SPECIES_NICHE,TYPE_ACC_GUAR,TYPE_ORG,CODE_ORG,GUAR_ACCOUT_ID,
				BALANCE_NUM,WAY_COUNTER_GUAR,OTHERS_REPAY_ENSURE_WAY,MARGIN_PERCENT   
		FROM   
				COM_GUAR_ACCT_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 担保账户分机构汇总信息-->
	<select id="guartOrgAllInfo" parameterType="String" resultType="Map">
		SELECT  							
				IN_NINETY_DAY_BAL_NUM,ADVANCES,FIVE_CLA,NUM_ACC_SETTLE,BALANCE_NUM,
				IN_THIRTY_DAY_BAL_NUM,GUAR_TRANS_SPECIES_NICHE,
				NUM_OUTSTAND_ACCOUNT,IN_SIXTY_DAY_BAL_NUM,TYPE_ORG,CODE_ORG,
				GUAR_ACCOUT_ID,AFTER_NINETY_DAY_BAL_NUM   
		FROM   
				COM_GUARANTEE_DET  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 授信协议信息-->
	<select id="creditProtocolInfo" parameterType="String" resultType="Map">
		SELECT  
				CRED_ID,QUOTA_CYC_MARK,TYPE_CERD,CR_LIM_ID,CODE_ORG,
				END_DATE,DATE_INFO_REPORT,EFFEC_DATE,TYPE_ORG,CURRENCY,
				CR_CREDIT_SUM,CR_USED_SUM,CR_LIM   
		FROM   
				COM_CREDIT_INFO_DATA  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 相关还款责任借贷账户（不含贴现）信息-->
	<select id="creditBorrowInfo" parameterType="String" resultType="Map">
		SELECT  
				REPAY_RESP_BALA,DATE_OPEN,BALANCE_NUM,SMART_BUS,LINE_CREDIT,
				TYPE_BOR,CURRENCY,OVER_SUM,TYPE_REPAY_PES,TYPE_ORG,
				OVER_MONTH,NUM_MONTH_REMAIN,TYPE_ACC,CURRENCY_REPAY,
				DUE_TIME_DATE,OVER_PRINCIPAL,DATE_INFO_REPORT,
				NUM_GUAR_CONTRA,CRED_ID,CODE_ORG,FIVE_CLA,STAT_REPAY,TYPE_BUSINESS,LEN_SUM   
		FROM   
				COM_BOR_UNDISCOUNT  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 相关还款责任贴现账户分机构汇总信息-->
	<select id="creditInBorrowInfo" parameterType="String" resultType="Map">
		SELECT  
				CODE_ORG,OVER_SUM,NUM_ACCOUNT,OVER_PRINCIPAL,FIVE_CLA,
				SMART_BUS,REPAY_RESP_TYPE,TYPE_ORG,BALANCE_NUM,LEN_SUM,
				NUM_GUAR_CONTRA,DIS_ORG_ID,REPAY_RESP_BALA   
		FROM   
				COM_BOR_DISCOUNT  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>	
	<!-- 相关还款责任担保账户分机构汇总信息-->
	<select id="guartReponseInfo" parameterType="String" resultType="Map">
		SELECT  
				SMART_BUS,TYPE_ORG,CODE_ORG,NUM_GUAR_CONTRA,
				GUAR_ACCOUT_ID,FIVE_CLA,NUM_ACCOUNT,REPAY_RESP_TYPE,
				BALANCE_NUM,REPAY_RESP_BALA,GUAR_SUM   
		FROM   
				COM_REPAY_GUAR  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 公共事业缴费信息明细-->
	<select id="pubCostPayInfo" parameterType="String" resultType="Map">
		SELECT  
				PUB_COM_NAME,STATIC_DATE,PAY_STATUS,TOTAL_ARREAR_SUM,TYPE_BUSINESS,PUB_PAY_ID,PAY_RECOD_NUM_PUB,SERIAL   
		FROM   
				COM_PUB_COST_PAY_RECORD  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 过去 24 个月缴费信息-->
	<select id="costPayInfo" parameterType="String" resultType="Map">
		SELECT  
				STATIC_DATE,CUR_SHOULD_PAY,CUR_ACTUAL_PAY,PAY_STATUS,TOTAL_ARREAR_SUM,SERIAL
		FROM   
				COM_PUBLIC_INFO_DETAIL
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 欠税记录信息-->
	<select id="taxArrearsRecord" parameterType="String" resultType="Map">
		SELECT  
				TAX_AUTHORITIES,TAX_ARREARS_SUM,TAX_ARREARS_DATE,TAX_ARRENS_ID   
		FROM   
				COM_TAX_ARREARS_RECORD  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 民事判决记录信息-->
	<select id="judgeRecordInfo" parameterType="String" resultType="Map">
		SELECT  
				SERIAL,COURT_FILING,FILING_DATE,LITIG_STATUS,
				CASE_NUM,LITIG_PRO,LITIG_SUB,LITIG_SUM,CLOSE_STYLE,
				JUDGE_START_DATE,JUDGE_RESULT,LITIG_REASON   
		FROM   
				COM_JUDGE_RECORD  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 强制执行记录信息-->
	<select id="verdictRecordInfo" parameterType="String" resultType="Map">
		SELECT  
				CASE_NUM,RESULT,SETTLE_STYLE,REGISTER_DATE,APPLY_SYM_SUM,
				GOAL_SYM_SUM,SERIAL,COURT_NAME,GOAL_SYM,LITIG_REASON,APPLY_SYM   
		FROM   
				COM_VERDICT  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 行政处罚记录信息-->
	<select id="penaltiesRecordInfo" parameterType="String" resultType="Map">
		SELECT  
				RECONSIDERATION_RESULT,PENALTIES_COMAPNY,
				PENALTIES_ID,SERIAL,PENALTIES_SUM,START_DATE,PENALTIES_SITATION,
				ILEHAL_BEHAVIOR,PENALTIES_DECIDION   
		FROM   
				COM_PENALTIES  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 住房公积金缴费记录信息-->
	<select id="providFunInfo" parameterType="String" resultType="Map">
		SELECT  
				FIRST_PAY_DATE,EMPLOY_NUM,PAY_TO_DATE,
				PAY_STATUS,TOTAL_ARREAR_SUM,DATE_PAY_RECENT,PAY_RECOD_NUM_PROVID,
				STATIC_DATE,NUM_PEP,SER_NO,SERIAL   
		FROM   
				COM_PROVID_FUND_PAY_RECORD  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 住房公积金缴费情况信息-->
	<select id="providFunDetail" parameterType="String" resultType="Map">
		SELECT  
				LAST_PAY_DATE,STATIC_DATE,CUR_SHOULD_PAY,
				TOTAL_ARREAR_SUM,SERIAL,CUR_ACTUAL_PAY   
		FROM   
				COM_PROVID_PAY_RECORD_YEAR  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 获得许可记录信息-->
	<select id="obtainLincense" parameterType="String" resultType="Map">
		SELECT  
				TYPE_OBTAIN,DATE_OBTAIN,OBTAIN_ID,CONTENT_LICENSE,OBTAIN_NAME,DATE_END   
		FROM   
				COM_OBTAIN_LICENSE  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 获得认证记录信息-->
	<select id="obtainCertifi" parameterType="String" resultType="Map">
		SELECT  
				CERTIFI_TYPE,CONTENT_CERTIFI,CERTIFI_ID,CERTIFI_DATE,DATE_END,CERTIFI_NAME   
		FROM   
				COM_OBTAIN_CERTIFI  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 获得资质记录信息-->
	<select id="obtainQual" parameterType="String" resultType="Map">
		SELECT  
				APP_DATE,CONTENT_QUAL,QUAL_ID,QUAL_TYPE,QUAL_NAME,DATE_END   
		FROM   
				COM_OBTAIN_QUAL  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 获得奖励记录信息-->
	<select id="obtainReward" parameterType="String" resultType="Map">
		SELECT  
				CONTENT_REWARD,REWARD_NAME,REWARD_ID,REWARD_ORG_NAME,DATE_START,DATE_END   
		FROM   
				COM_OBTAIN_REWARD  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 拥有专利情况信息-->
	<select id="patentCaseInfo" parameterType="String" resultType="Map">
		SELECT  
				INFO_ID,PATENT_NAME,PATENT_NO,APP_DATE,GRANT_DATE,EFFECTIVE_YEAR   
		FROM   
				COM_PATENT_CASE  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 出入境检验检疫绿色通道信息-->
	<select id="inspQuaraInfo" parameterType="String" resultType="Map">
		SELECT  
				APPR_DEPART_NAME,EXP_COM_NAME,QUARA_ID,DATE_EFFE   
		FROM   
				COM_INSP_QUARA  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 进出口商品免验信息-->
	<select id="inspMJGoodsInfo" parameterType="String" resultType="Map">
		SELECT  
				DATE_END,INFO_ID,MJ_NAME,MJ_ID,APPR_DEPART_NAME   
		FROM   
				COM_INSP_MJGOODS  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 进出口商品检验分类监管信息-->
	<select id="ImexSupervision" parameterType="String" resultType="Map">
		SELECT  
				SUPER_ORG,SUPER_COUNCIL,SUPER_LEVEL,START_DATE,END_DATE,INFO_ID   
		FROM   
				COM_IMEX_SUPERVISION  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 融资规模控制信息-->
	<select id="finanScalInfo" parameterType="String" resultType="Map">
		SELECT  
				INFO_ID,THE_SIZE,YEARS,SUB_LIST,TYPE_CONTR_SCAL   
		FROM   
				COM_FINAN_SCAL  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 企业资产负债表（2002 版）信息基础段-->
	<select id="debetHistInfo" parameterType="String" resultType="Map">
		SELECT  
				FIND_ID,REPORT_YEAR,SHOULD_EXPO_TAX,INVENTORY,LONG_TERM_CRED_INVE,ENGIN_MATER,SHOULD_WELFARE,
				OTHER_SHOULD_FU_PA,ESTIMA_DEBT,YEAR_LONG_TERM_DEBT,OTH_FLOW_LIA,BORR_LONGTIM,SUM_LONG_TERM_DEBT,
				MINORITY_EQUITY,STATE_CAPITAL,CORPOR_CAPITAL,CON_STATE_CAPITAL,CON_COLL_CAPITAL,CAPITAL_RESERVES,
				SURPLUS_RE_B,FOREIGN_TRANS_DIFF,LONG_TERM_INVEST,SUM_DIS_OLD,SUM_FIX_ASSET,UN_ASSET_SUM,SHOULD_PROFIT,
				TOTAL_OWNER_EQUITY,NUM_ORG,SHOULD_DIVI,FUT_MARGIN,SHOULD_SUB_ACC,SUM_DIS,FIX_ASSET_PRI_REDU,LAND_USE_RIGHT,
				SPE_STORAGE_FUND,SURPLUS_RE_G,MONEY_FUND,SHOULD_ACCOUNT,OTHER_SHOULD_PAR_S,AMOR,LONG_TERM_IN,LONG_TERM_EQUI_INVE,
				FIX_ASSET_LOSS,UN_ASSET,SHORT_TIME_BORR,PAY_LONGTIM,SPE_SHOULD_PAR,OTHERS_LONG_TDEBT,LIA_SUM,PAID_IN_CAPITAL,
				SURPLUS_RE_CAP,NUM_FIND,OTHER_FLOW_ASSET,LONG_TERM_SUM,FIX_ASSET_WORTH,DEFERR_ASSET,DEFERR_BORR_TAX,
				SHOULD_PAPER,SHOULD_PAR,OTHER_SHOULD_PAR,FLOW_LIA_SUM,SHOULD_DEBT,UNDIS_PROFIT,DEFERR_ASSET_PAY,
				OTHER_LONG_INVEST,SUM_ASSET,TOTAL_DEBT_OWNER_SUM,SHORT_TERM_INVES,SHOULD_PAPER_IN,
				INVENTORY_MATER,MERGER_PRICE,ENGINEERING,DEFERR_ASSET_REPAIR,DEFE_REVEN,SHOULD_WAGE,SHOULD_PAY_TAX,
				WITHHOLDING,COLLE_CAPITAL,FOREIGN_CAPITAL,SURPLUS_RESERVES,REPORT_TYPE,SM_REPORT_TY,SHOULD_INTERST,
				PRE_PAR,INVENTORT_PRD,WAIT_ASSET_LOSS,FLOW_ASSET_SUM,FIX_ASSET_PRI,FIX_ASSET_CLEAN,OTHER_LON_GOODS,
				DEFE_TAX_CREDIT,PRIVATE_CAPITAL,SUPP_CAPITAL  
		FROM   
				COM_DEBT_HIST_INFO
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 企业资产负债表（2007 版）信息-->
	<select id="debetHistSevenInfo" parameterType="String" resultType="Map">
		SELECT  
				FINA_ID,INVENTORY,SHOULD_PAPER,SPE_SHOULD_PAR,ESTIMA_DEBT,FLOW_LIA_SUM_UN,CAPITAL_RESERVES,
				SURPLUS_RESERVES,TOTAL_OWNER_EQUITY,MONEY_FUND,PRE_PAR,OTHER_SHOULD_PAR,END_DATE_INVEST,
				UNFLOW_ASSET,DEFE_REVEN,OTH_FLOW_LIA,OTHER_SHOULD_FU_PA,BORR_LONGTIM,NUM_FINA,NUM_ORG,REPORT_TYPE,
				INVEST_BUILD,FIX_ASSET_CLEAN,OIL_GAS_ASSET,UN_ASSET,SHOULD_PROFIT,SHOULD_DIVI,SHOULD_DEBT,PAY_LONGTIM,
				TRANS_ASSET_FIX,ASSET_MARK_FINA,REDUCE_ASSET,SHORT_TIME_BORR,REPORT_YEAR,SHOULD_PAPER_IN,
				SHOULD_INTERST,PAY_DEP,LONG_TERM_AMOR,TRANS_INFO_DEBT,SHOULD_PAY_TAX,YEARS_UNFLOWS_DEBT,FLOW_LIA_SUM,
				INCRES_DY,OTHERS_UNFLOWS_DEBT,SUM_DEBT,REDUCE_DIV,SHOULD_ACCOUNT,ENGIN_MATER,SHOULD_PAR,TOTAL_DEBT_OWNER_SUM,
				SMART_TYPE_REPORT,SHOULD_DIVI_IN,UNFLOW_ASSET_END,OTHER_FLOW_ASSET,FLOW_ASSET_SUM,LONG_TERM_EQUI_INVE,
				LONG_TERM_RECE,GOODWILL,OTHER_UNFLOW_ASSET,SUM_ASSET,RECEIVE_MONEY,UNDIS_PROFIT,FIX_ASSET,ENGINEERING,
				ASSET_PRODUC_BIOLO,SHOULD_WAGE   
		FROM   
				COM_FINANCIAL_SEVEN_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 企业利润及利润分配表（2002 版）信息-->
	<select id="profitInfoTwo" parameterType="String" resultType="Map">
		SELECT  
				EXTRA_SUR_RES,EXTRA_EMPLY_WEFARE,REPORT_TYPE,INCOME_DG,OTHER_ADJUST_REASON,
				SINGLE_RETEN_PROF,INCOME_BUS,BUSS_OTHER_PROFITS,OTHERS_COST,INCOME_SUBSIDIES,
				PROFITS_LOSS_MIN,NET_PROFIT,PROFITS_INVEST_FP,EXP_PRD_COST,DEFE_INCOME,INCOME_COMPANY_KS,
				INCOME_SALE_ASSET,OTHERS_PROFITS,OTHER_PAY,TAX,DIVI_PAY_PREFER,PAY_DIV_ASSET,
				UNDIS_PROFIT,LOSS_TAX_BEFOR,EXP_INCOME_PRD,IN_INCOME_PRD,BUS_TAX_OTHER,FINA_COST,
				WAGE_CARRY_FORWARD,SUM_PROFITS,PAY_DIVI_PT,FINA_ID,NUM_FINA,NUM_ORG,SMART_TYPE_REPORT,
				DISCOUNT,OPERATING_EXPENSE,OPERATING_EXPEN,MANA_COST,FINE_INCOME,FINE_COST,EXTRA_SUR_MONEY,
				OTHER_INVEST_PROFITS,COST_BUSS,INCOME_INVEST,INCOME_FUTURE,INCOME_BUSS_YYW,INCOME_ASSET_SHYI,
				BUSS_PAY,DONATE_COST,SUR_RES_LOSS,SUPP_FLOWS_ASSET,EXTRA_RESERVE,REPORT_YEAR,OTHERS,
				BUSS_PROFITS_Z,BUSS_PROFITS,LOSS_FIX_ASSET,UNCOMFI_INVES_LOSS,STAR_YEAR_UNDOPROFIT,
				ASSIGEN_PROFIT,PROFIT_INVEST,EXTRA_YYGJ,NET_BUSS,INCOME_OTHER,NON_MONEY_BENEFITS,PROFITS_BEFOR,
				LOSS_DEBT,EXTRA_DEVELOP_FUND,OTHERS_KFP   
		FROM   
				COM_PROFIT_INFO_TWO_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 企业利润及利润分配表（2007 版）信息-->
	<select id="profitInfoSeven" parameterType="String" resultType="Map">
		SELECT  
				NUM_FINA,NUM_ORG,CHANG_INCOM,EVERY_NET_INCOME,BUS_TAX_OTHER,
				BUSS_PROFITS,REPORT_TYPE,SMART_TYPE_REPORT,LOSS_REDU,SUM_PROFITS,
				INCOM_JOIN_VENTURE,INCOME_TAX,NET_PROFIT,UNFLOW_LOSS,FINA_ID,SALE_COST,
				MANA_COST,INVES_INCOME,BUSS_OTHER_INCOM,DILU_EAR_PER_SHARE,REPORT_YEAR,
				INCOME_COST,BUSS_OTHER_PAY,INCOME_BUS,FINA_COST   
		FROM
				COM_PROFIT_INFO_SEVEN_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 企业现金流量表（2002 版）信息-->
	<select id="cashFlowTwoInfo" parameterType="String" resultType="Map">
		SELECT  
				BUSS_SHOULD_INCRES,YEAR_COMPANY_DEBT,CASH_END_BA,SMART_TYPE_REPORT,
				INVE_OTHER_ACTI_CASH,CASH_INVE_ABSOR,FIXED_FUND_OLD,SUM_BUSS_CASH_IN,
				SUM_BUSS_CASH_OUT,LONG_TERM_INVEST,SUM_INVE_CASH_IN,REPAY_PAY_CASH,IMPACT_EXCHANGE_RATE,
				NET_PROFIT,INCREAS_WITHHOLDING,FINA_CHAR,OTHERS_NO,CASH_STAR_BA,RECE_INVEST_CASH,
				SMART_SUM_CA_INVEST,RAISE_ACTI_LINE,SEME_CASH_BAL,AMORTIZATION_REDUCE,REDUCE_INVENT,
				BUSS_SHOULD_REDUCE,CASH_BALA_END,RECE_OTHER_AC_CASH,BUY_CASH,PAY_SOME_TAX,PAY_OTHERS_CASH_BU,
				INVEST_RECE_CASH,RECEIVE_OTHER_CASH,RECE_OTHER_AC_CASH_I,ASSET_REDUCE,LONG_TERM_AMOR,
				BUS_ACTI_CASH_FO,CASH_BALA_STAR,FINA_ID,CASH_LONG_TERM,BORR_RECE_CASH,DEFE_TAX_CREDIT,
				OTHERS,REPORT_YEAR,CASH_GOOD,TAX_RECEIVE,PAY_OTHERS_CASH_BUSS,FIX_LOSS,DEBT_CAPITAL,
				NUM_ORG,REPORT_TYPE,PAY_EMPLOY_CASH,BUS_ACTI_CASH_FOLW,INVEST_CASH_NET,SMART_SUM_ACTI,
				RAISE_ACTI_FLOW,ASSET_FIX_CAP,SEME_CASH_BAL_IN,NUM_FINA,INVEST_PAY_CASH,PAY_CASH,
				AMORTIZATION,ASSET_LOSS,INVEST_LOSS   
		FROM
				COM_CASH_FLOW_TWO_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 企业现金流量表（2007 版）信息-->
	<select id="cashFlowSevenInfo" parameterType="String" resultType="Map">
		SELECT  
				NUM_ORG,SUM_BUSS_CASH_IN,PAY_SOME_TAX,RECE_INST_CASH_OTHER,
				TAKE_BORRO_RECE_CASH,INCREAS_WITHHOLDING,BUS_ACTIV_CASH,ASSET_FIX_CAP,
				PAY_EMPLOY_CASH,PAY_BUSS_OTHER_CASH,SUM_BUSS_CASH_OUT,INVEST_PAY_CASH,
				CASH_INVE_ABSOR,END_SEME_CASH_BAL,ASSET_LOSS,YEAR_COMPANY_DEBT,CASH_END_BA,
				FINA_ID,TAX_RECEIVE,LONG_TERM_INVEST,INVEST_CASH_NET,SMART_SUM_ACTI,
				START_SEME_CASH_BAL,AMORTIZATION,LONG_TERM_AMOR,FINA_CHAR,INCRES_TAX,
				INVEST_RECE_CASH,REPAY_PAY_CASH,PAY_CASH,RAISE_ACTI_FLOW,RAISE_ACTI_LINE,
				AMORTIZATION_REDUCE,FIX_LOSS,INCREAS_IN,NUM_FINA,CASH,SUM_INVE_CASH_IN,
				REPORT_YEAR,REPORT_TYPE,RECE_INVEST_CASH,PAY_OTHER_CASH,BUSS_SHOULD_INCRES,
				CASH_BALA_END,CASH_STAR_BA,TAX_RECEIVE_OTHERS,BUS_ACTI_CASH_FOLW,
				CASH_BUS_COMPANY,CASH_LONG_TERM,SMART_SUM_CA_INVEST,RECE_OTHER_AC_CASH,
				PAY_OTHERS_CASH,IMPACT_EXCHANGE_RATE,SEME_CASH_BAL,NET_PROFIT,INVEST_LOSS,
				REDUCE_TAX,BUSS_SHOULD_REDUCE,DEBT_CAPITAL,CASH_BALA_STAR,OTHERS_NO,
				SMART_TYPE_REPORT,BUY_CASH,RECE_COMP_BUS_CASH,ASSET_PREPARE,DEPRECIATION,
				PUBLIC_LOSS,REDUCE_INVENT,OTHERS   
		FROM   
				COM_CASH_FLOW_SEVEN_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 事业单位资产负债表（1997 版）信息-->
	<select id="carAssLiaInfo" parameterType="String" resultType="Map">
		SELECT  
        SHOULD_PAPER,SHOULD_PAR,PAY_SUM,MON_SPE,INCOME_BUS,INCOME_OTHERS,
        IN_FIS_SUB,OTH_SHOULD_PAY,SHOULD_CAR_PARA,INVEST_FUND,FIXED_FUND,
        BANK_DEPOSIT,FINISH_GOODS,FIS_ASSET,UN_ASSET,IN_CAR,IN_AFF_PAY,
        PRE_PAR,FOREIGN_INVEST,THE_COST,SHOULD_PAY_TAX,SUM_LIA,
        NUM_ORG,REPORT_TYPE,MATERIAL,SET_ASIDE_FUNDS,OUT_CAR,PAY_BUS,
        PAY_OUT_TOP,SUM_ASSET_CLASS,SHOULD_BUDGET_PAR,LIA_SUM,DRA_FUN_SO,
        INCOME_SUM,FINA_ID,MONEY,PAY_SPEFUN,CARR_FOR_SEL_INFRAS,BALA_MANG,
        SUM_SET,DIA_INTO_SPEFUND,NUM_FINA,SMART_TYPE_REPORT,OTHER_SHOULD_PAR,
        DIA_OUT_SPEFUN,TAX_SALE,RECORD_BORROW,DEFE_REVEN,DRA_FUN,TOP_IN_FIS,
        REPORT_YEAR,ASSET_SUM,BALA_CAR,DETACH_SUBSIDY,SHOULD_PAY_BILL,SHOULD_RE_ACC   
    FROM   
        COM_CAR_ASS_LIA_NS_INFO  
    WHERE  
        REPORT_ID = #{_parameter}
	</select>
	<!-- 事业单位资产负债表（2013 版）信息-->
	<select id="carAssOtInfo" parameterType="String" resultType="Map">
		SELECT  
				NUM_FINA,LONG_TERM_INVEST,FIS_ASSET,UN_ASSET,WAIT_ASSET_CAUS,
				SHORT_TIME_BORR,DRA_FUN,MON_SPE,FINA_BALA,BALA_CAR,NUM_ORG,MONEY_FUND,
				SHOULD_PAR,PRE_PAR,SUM_DIS_OLD,SUM_ASSET,SHOULD_CAR_PARA,DEFE_REVEN,
				UNFINA_AID,SMART_TYPE_REPORT,OTHER_SHOULD_PAR,OTH_SHOULD_PAY,OTH_FLOW_LIA,
				LINE_CAR_SHOULD,UNACTIV_SUM,BAL_SET_SUM,FINA_ID,SHORT_TERM_INVES,
				SHOULD_PAPER,UNFINA_BALA,BALA_MANG,SUM_SET,REPORT_YEAR,REPORT_TYPE,
				FLOW_ASSET_SUM,PRICE_FIX_ASSET,SHOULD_SALARY,FLOW_LIA_SUM,BORR_LONGTIM,
				UNACTIV_MONY,FINA_AID,INVENTORY,OTHER_FLOW_ASSET,UN_ASSET_PRICE,
				UNFLOW_ASSET_SUM,SHOULD_CONTR_PARA,SHOULD_REVEN,ENGINEERING,SUM_SELL,
				SHOULD_PAY_TAX,PAY_LONGTIM,SUM_LIA,SHOULD_RE_BILL  
		FROM   
				COM_CAR_ASS_LIA_OT_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 事业单位收入支出表（1997 版）信息单元-->
	<select id="carAssOutNsInfo" parameterType="String" resultType="Map">
		SELECT  
				REPORT_YEAR,IN_AFF_PAY,INCOME_NOTBUDG_OUT,INCOME_BUS,INCOME_SUM,
				SET_ASIDE_FUNDS,TAX_SALE,BALAN_DIS,SMA_SUM_CAR,BEFOR_YEAR_BUSLOSS,
				BALA_OTHER_DIS,IN_FIS_SUB_IN,PAY_CAR_FIS,CARR_FOR_SEL_INFRAS,PAY_CAR_SUM,
				DIA_OUT_SPEFUN,CAR_BALANCE,OUT_DRA_FUN,FINA_ID,SMART_TYPE_REPORT,TOP_IN_FIS,
				IN_FIS_SUB,TAX_SALE_IN,NUM_FINA,PAY_BUS,SHOULD_PAY_TAX,NUM_ORG,
				IN_CAR,INCOME_OTHERS,SMA_DIAINTO_SPEFUN,PAY_NOBUDG_OUT,PAY_SPEFUN,
				NORMAL_BALANCE,BUSS_SUM,WITH_DRA_FUN,REPORT_TYPE,OUT_CAR,SUM_SPEFUN,
				PAY_LAST_YEAR_CAR,SMA_INCOME_BUS,DIA_INTO_SPEFUND,PAY_OUT_TOP,
				BUS_SMAR_SUM,PAY_SUM   
		FROM   
				COM_CAR_ASS_OUT_NS_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 事业单位收入支出表（2013 版）信息-->
	<select id="carAssOutOtInfo" parameterType="String" resultType="Map">
		SELECT  
				NUM_FINA,NUM_ORG,BALA_CAR_ISS,OUT_OTHERS,INCOME_BUS,
				FINA_ID,OUT_CAR,BALA_BEFOR_YEAR,REPORT_YEAR,OUT_FIS_SUB,INCOM_DONA,
				PAY_OUT_TOP,REPORT_TYPE,BALA_FIS_SUB,BALA_BUS_ISS,SMART_TYPE_REPORT,
				INCOME_OTHERS,OUT_AFF_PAY,PAY_BUS,BALA_IN_YEAR,OUT_DRA_FUN,IN_FIS_SUB,
				IN_CAR,IN_AFF_PAY,IN_CAR_CLAS,TOP_IN_FIS,OUT_CAR_UNFIS,BALA_UNFIS,
				BALA_FIS_ONYEAR,SHOULD_PAY_TAX,WITH_DRA_FUN   
		FROM   
				COM_CAR_ASS_OUT_OT_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 评级信息-->
	<select id="comRatInfo" parameterType="String" resultType="Map">
		SELECT  
				RAT_ID,RAT_NAME,RAT_RES,RAT_DATE   
		FROM   
				COM_RAT_INFO  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
	<!-- 声明及异议标注信息-->
	<select id="comRatInfoObj" parameterType="String" resultType="Map">
		SELECT  
				OBJ_LOGO,STA_TYPE,STA_CONT,OBJ_TYPE,DATE_T   
		FROM   
				COM_RAT_INFO_OBJ  
		WHERE  
				REPORT_ID = #{_parameter}
	</select>
</mapper>