<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DistributeObjOrgMapper">
	
	<!-- 个人异议结果查询列表-->
	<select id="findPerObjResutllistPage" parameterType="page" resultType="pd">
		
		SELECT
			ID,ENTNAME,ENTIDTYPE,ENTIDNUM,BUSINESSCODE,LOCATEINFNM,LOCATEINFTYPE,
			DATAOCCURORGCODE,OBJDESC,SERVICERETURNCODE,USERNAME,REPORT_TYPE,
			DATAPROVIDERORGCODE,USERCODE,PASSWORD,ORIGINATEORGCODE,
			ORIGINATEUSERCODE,BEGINDATE,ENDDATE,OBJCHECKID,PHONENUM,OBJCHECKNUM,
			CHECKRESULT,CHECKRESULTDESC,CORRECTRESULT,ENCLOSUREINF,CORRECTDESC
		FROM 
		CIFM_OBJ_COM_INFO COCI
		WHERE
			<if test="pd.USERNAME != null and pd.USERNAME != ''">
				EXISTS(
					WITH TMP AS(
					SELECT USERNAME,(SELECT MIN(ORG_ID) FROM SYS_USER_ORG WHERE USER_ID = B.USER_ID) ORG_ID 
					FROM SYS_USER B )
					SELECT 1 FROM TMP A 
					WHERE COCI.USERNAME = A.USERNAME 
					AND A.ORG_ID = (SELECT ORG_ID FROM TMP WHERE USERNAME=#{pd.USERNAME})
				)	
			</if>
			<if test="pd.USERNAME == null or pd.USERNAME == ''">
				EXISTS(
					SELECT 1 FROM SYS_USER A WHERE COCI.USERNAME = A.USERNAME 
					AND A.COMPANY = #{pd.COMPANY}
				)	
			</if>
	</select>
	<!-- 保存异议处理结果 -->
	<insert id="saveResult" parameterType="pd">
		INSERT INTO OBJ_HANDLER_RESULT(ID,ATT_CNT,RESULT_DESC) VALUES
		(#{ID},${ATT_CNT},#{RESULT_DESC})
	</insert>
	<!-- 保存异议处理结果附件 -->
	<insert id="saveResultAtt" parameterType="pd">
		INSERT INTO OBJ_HANDLER_RESULT_ATT(HR_ID,ATT_NAME,ATT_PATH)
		VALUES
		(#{HR_ID},#{ATT_NAME},#{ATT_PATH})
	</insert>
	<!-- 通过id查询异议处理结果 -->
	<select id="findResultById" parameterType="String" resultType="pd">
		SELECT 
			ID,ATT_CNT,RESULT_DESC
		FROM 
			OBJ_HANDLER_RESULT
		WHERE
			ID = #{_parameter}			
	</select>
	<!-- 通过id查询异议处理结果附件信息 -->
	<select id="findResultAttById" parameterType="String" resultType="pd">
		SELECT 
			HR_ID,ATT_NAME,ATT_PATH
		FROM 
			OBJ_HANDLER_RESULT_ATT
		WHERE
			HR_ID = #{_parameter}			
	</select>
	<!-- 通过id查询异议处理结果附件信息 -->
	<select id="findResultAtt" parameterType="pd" resultType="pd">
		SELECT 
			HR_ID,ATT_NAME,ATT_PATH
		FROM 
			OBJ_HANDLER_RESULT_ATT
		WHERE
			HR_ID = #{HR_ID}
			<if test="ATT_NAME != null and ATT_NAME != ''">
				and ATT_NAME = #{ATT_NAME}
			</if>	
			<if test="ATT_PATH != null and ATT_PATH != ''">
				and ATT_PATH = #{ATT_PATH}
			</if>		
	</select>
	<!-- 删除异议处理附件信息 -->
	<delete id="delAtt" parameterType="pd">
		delete from OBJ_HANDLER_RESULT_ATT
		WHERE
			HR_ID = #{HR_ID}
			and ATT_NAME = #{ATT_NAME}
	</delete>
	
	<!-- 修改异议处理结果 -->
	<update id="updateResult" parameterType="pd">
		UPDATE 
			OBJ_HANDLER_RESULT
		SET
			ATT_CNT = #{ATT_CNT},
			RESULT_DESC = #{RESULT_DESC}
		WHERE
			ID = #{ID}
	</update>
	<!-- 分配异议处理机构 -->
	<update id="updateHand_ORG" parameterType="pd">
		
	</update>
	
</mapper>