<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EnterReportInqMapper">
	<!-- 列表 
	B.PRO_ID in (select pro_id from sys_user_pro where user_id = #{pd.USERID})
		        AND
	-->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT 
		      A.ID,
		      A.COMPANY_NAME,
		      A.CREDENTIALS_NO_TYPE,
		      A.CHINA_CREDIT_CODE,
		      A.QUERY_VERSION,
		      B.QUERY_TIME,
		      B.APPLICATION_TIME,
		      B.CHECK_TIME,
		      B.USER_SYS_ID,
		      B.STATUS
		    FROM(
		       SELECT 
		          B.ID,
		          DATE_FORMAT(B.QUERY_TIME,'%Y-%m-%d %H:%i:%s') QUERY_TIME,
		          DATE_FORMAT(B.APPLICATION_TIME,'%Y-%m-%d %H:%i:%s') APPLICATION_TIME,
		          DATE_FORMAT(B.CHECK_TIME,'%Y-%m-%d %H:%i:%s') CHECK_TIME,
		          B.USER_SYS_ID,
		          B.ORG_ID,
		          B.STATUS
		        FROM
		          CIFM_FLOW_STATUS B
		        WHERE
		          
		          B.STATUS IN('05','06')
		       )B
		    INNER JOIN
		      CIFM_COMPANY_INFO A
		    ON
		      A.ID=B.ID
		    INNER JOIN
		      SYS_ORG D
		    ON
		      B.ORG_ID=D.ORG_ID
		    WHERE
		      D.COMPANY=#{pd.COMPANY}
		<if test="pd.COMPANY_NAME!= null and pd.COMPANY_NAME != ''">
			and
				A.COMPANY_NAME=#{pd.COMPANY_NAME}
		</if>
		<if test="pd.CREDENTIALS_NO_TYPE!= null and pd.CREDENTIALS_NO_TYPE != ''">
			and
				A.CREDENTIALS_NO_TYPE=#{pd.CREDENTIALS_NO_TYPE}
		</if>
		<if test="pd.CHINA_CREDIT_CODE!= null and pd.CHINA_CREDIT_CODE != ''">
			and
				A.CHINA_CREDIT_CODE=#{pd.CHINA_CREDIT_CODE}
		</if>
		<if test="pd.QUERY_TIME!= null and pd.QUERY_TIME != ''">
			and    LEFT(B.QUERY_TIME,10)=#{pd.QUERY_TIME}
		</if>
		order by B.QUERY_TIME desc
	</select>	
<select id="hisDatalistPage" parameterType="page" resultType="pd">
		SELECT 
		      A.ID,
		      A.COMPANY_NAME,
		      A.CREDENTIALS_NO_TYPE,
		      A.CHINA_CREDIT_CODE,
		      A.QUERY_VERSION,
		      B.QUERY_TIME,
		      B.APPLICATION_TIME,
		      B.CHECK_TIME,
		      B.USER_SYS_ID,
		      B.STATUS
		    FROM(
		       SELECT 
		          B.ID,
		          DATE_FORMAT(B.QUERY_TIME,'%Y-%m-%d %H:%i:%s') QUERY_TIME,
		          DATE_FORMAT(B.APPLICATION_TIME,'%Y-%m-%d %H:%i:%s') APPLICATION_TIME,
		          DATE_FORMAT(B.CHECK_TIME,'%Y-%m-%d %H:%i:%s') CHECK_TIME,
		          B.USER_SYS_ID,
		          B.ORG_ID,
		          B.STATUS
		        FROM
		          CIFM_FLOW_STATUS_HIS B
		        WHERE
		          B.ORG_ID=#{pd.ORG_ID}
		        AND
		          B.STATUS IN('05','06')
		       )B
		    INNER JOIN
		      CIFM_COMPANY_INFO_HIS A
		    ON
		      A.ID=B.ID
		    INNER JOIN
		      SYS_ORG D
		    ON
		      B.ORG_ID=D.ORG_ID
		    WHERE
		      D.COMPANY=#{pd.COMPANY}
		<if test="pd.COMPANY_NAME!= null and pd.COMPANY_NAME != ''">
			and
				A.COMPANY_NAME=#{pd.COMPANY_NAME}
		</if>
		<if test="pd.CREDENTIALS_NO_TYPE!= null and pd.CREDENTIALS_NO_TYPE != ''">
			and
				A.CREDENTIALS_NO_TYPE=#{pd.CREDENTIALS_NO_TYPE}
		</if>
		<if test="pd.CHINA_CREDIT_CODE!= null and pd.CHINA_CREDIT_CODE != ''">
			and
				A.CHINA_CREDIT_CODE=#{pd.CHINA_CREDIT_CODE}
		</if>
		<if test="pd.QUERY_TIME!= null and pd.QUERY_TIME != ''">
			and
				substr(B.QUERY_TIME,0,10)=#{pd.QUERY_TIME}
		</if>
		order by B.QUERY_TIME desc
	</select>	
</mapper>