<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GetInterfaceMapper">

	<!-- 报告头信息 -->
	<select id="reportInfoMain"  parameterType="String" resultType="Map">
      select 
             REPORT_TIME,
             DIGITAL_INTERPRE DIGITAL_INTERPRE,
             DIGITAL_INTERPRE_DES,
             DIGITAL_INTERPRE_DES_CNT DIGITAL_INTERPRE_DES_CNT,
             RELATIVE_POSITIONT RELATIVE_POSITIONT,
             REPORT_ID,
             CLIENT_NAME CLIENT_NAME,
             CREDENTIALS_TYPE,
             CREDENTIALS_NO CREDENTIALS_NO,
             CLIENT_SEX,
             CLIENT_BIRTHDAY CLIENT_BIRTHDAY,
             EDUCATION,
             DEGREE,
             MAILING_ADDRESS MAILING_ADDRESS,
             RESIDENCE_ADDRESS RESIDENCE_ADDRESS,
             NATIONALITY,
             AFTER_PAY_CNT,
             QUERY_ORG_CODE,
             CH_SIGN,
             WORK_STATUS,
             CH_PHONE,
             CH_SDATE,
             CH_EDATE,
             IDE_CNT,
             PUBLIC_INFO_CNT,
             QUERY_REASON_CODE,
             OBJECTION_NUM,
             EMAIL,
             PHONE_CNT
        from
        	PER_BASIC
        WHERE
			REPORT_ID = #{_parameter} limit 1
	</select>
	<select id="reportInfoSub"  parameterType="String" resultType="Map">
		select 
			CREDENTIALS_TYPE,
			CREDENTIALS_NO CREDENTIALS_NO
        from
        	PER_OTHER_IDENTITY
        WHERE
			REPORT_ID = #{_parameter}
				
	</select>	
	<!-- 身份信息 -->
	<select id="basicMain"  parameterType="String" resultType="Map">
		select 
			REPORT_ID,
			CLIENT_SEX,
			DECRYPT_DEC(CLIENT_BIRTHDAY) CLIENT_BIRTHDAY,
			EDUCATION,
			DEGREE,
			DECRYPT_DEC(MAILING_ADDRESS) MAILING_ADDRESS,
			DECRYPT_DEC(RESIDENCE_ADDRESS) RESIDENCE_ADDRESS,
			NATIONALITY,
			WORK_STATUS,
			EMAIL,
			PHONE_CNT
        from
        	PER_BASIC
        WHERE
			REPORT_ID = #{_parameter} and rownum=1
				
	</select>
	<select id="basicSub"  parameterType="String" resultType="Map">
		select 
			PHONE_NUM PHONE_NUM,
			UPDATE_DATE
        from
        	PER_PHONE_INFO
        WHERE
			REPORT_ID = #{_parameter}
				
	</select>
	<!-- 配偶信息 -->
	<select id="spou" parameterType="String" resultType="Map">
		SELECT
			SPOU_NAME SPOU_NAME,
			SPOU_CREDENTIALS_TYPE,
			SPOU_CREDENTIALS_NO SPOU_CREDENTIALS_NO,
			SPOU_COMPANY SPOU_COMPANY,
			SPOU_TEL SPOU_TEL,
			MARITAL_STATUS
		FROM
			PER_SPOU
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 居住信息 -->
	<select id="live" parameterType="String" resultType="Map">
		SELECT
			RESIDENTIAL_ADDRESS RESIDENTIAL_ADDRESS,
			RESIDENTIAL_CONDITION,
			UPDATE_TIME,
			HOUSE_TEL HOUSE_TEL
		FROM
			PER_LIVE
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 职业信息 -->
	<select id="career" parameterType="String" resultType="Map">
		SELECT
			COMPANY_NAME,
			COMPANY_ADDRESS,
			CAREER,
			INDUSTRY,
			DUTIES,
			JOB_TITLE,
			ENTER_YEAR,
			UPDATE_TIME,
			WORK_STATUS,
			COMPANY_TEL,
			COMPANY_NATURE
		FROM
			PER_CAREER
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 评分信息 -->
	<select id="score" parameterType="String" resultType="Map">
		SELECT
			REPORT_ID,
			DECRYPT_DEC(DIGITAL_INTERPRE) DIGITAL_INTERPRE,
			DECRYPT_DEC(RELATIVE_POSITIONT) RELATIVE_POSITIONT,
			DECRYPT_DEC(DIGITAL_INTERPRE_DES_CNT) DIGITAL_INTERPRE_DES_CNT,
			DIGITAL_INTERPRE_DES
		FROM
			PER_BASIC
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 信贷交易信息概要信息 -->
	<select id="loanSummaryMain" parameterType="String" resultType="Map">
		SELECT
			REPORT_ID,
			SERIAL,
			COMPANY_NAME,
			RECEIVE_DATE,
			AGGREGATE_AMOUNT,
			LAST_REPAY_DATE,
			RECEIVE_BALANCE,
			GUARANTEE_NUM,
			GUARANTEE_SUM,
			GUARANTEE_BALANCE,
			N_NQ_CR_CARD_COMPANY_ORG_NUM,
			N_NQ_CR_CARD_ORG_NUM,
			N_NQ_CR_CARD_ACC_NUM,
			N_NQ_CR_CARD_CRED_SUM,
			N_NQ_CR_CARD_MAX_CRED_SUM,
			N_NQ_CR_CARD_MIN_CRED_SUM,
			N_NQ_CR_CARD_OVERDRAFT_BALANCE,
			N_NQ_CR_CARD_AVG_USED_SUM,
			BORROWER_CATEGORY,
			REPAY_TYPE,
			REPAY_ACC_SUM,
			REPAY_SUM,
			REPAY_BALANCE,
			NQ_CR_CARD_ORG_NUM,
			NQ_CR_CARD_ACC_NUM,
			NQ_CR_CARD_CRED_SUM,
			NQ_CR_CARD_MAX_CRED_SUM,
			NQ_CR_CARD_MIN_CRED_SUM,
			NQ_CR_CARD_OVERDRAFT_BALANCE,
			NQ_CR_CARD_AVG_USED_SUM,
			N_CR_CARD_ORG_NUM,
			N_CR_CARD_ACC_NUM,
			N_CR_CARD_CRED_SUM,
			N_CR_CARD_MAX_CRED_SUM,
			N_CR_CARD_MIN_CRED_SUM,
			N_CR_CARD_USED_SUM,
			N_CR_CARD_AVG_USED_SUM,
			CIRC_ACC_MANA_ORG_CNT,
			CIRC_ACC_ACC_SUM,
			CIRC_ACC_CRED_SUM,
			CIRC_ACC_BALANCE,
			CIRC_ACC_REPAY_AVG6,
			CIRC_QUO_MANA_ORG_CNT,
			CIRC_QUO_ACC_SUM,
			CIRC_QUO_CRED_SUM,
			CIRC_QUO_BALANCE,
			CIRC_QUO_REPAY_AVG6,
			NON_REV_MANAGER_ORG_CNT,
			NON_REV_ACC_SUM,
			NON_REV_CRED_SUM,
			NON_REV_BALANCE,
			NON_REV_REPAY_AVG6,
			LOAN_NUM,
			LOAN_MON_NUM,
			LOAN_MON_OVER_SUM,
			LOAN_OVER_MON_NUM,
			CR_CARD_OVER_ACC_NUM,
			CR_CARD_OVER_MON_NUM,
			CR_CARD_MON_OVER_SUM,
			CR_CARD_OVER_LONG_MON_NUM,
			Q_CR_CARD_OVER_ACC_NUM,
			Q_CR_CARD_OVER_MON_NUM,
			Q_CR_CARD_OVER_MON_BALANCE,
			Q_CR_CARD_OVER_LONG_MON_NUM,
			ACCOUNT_TYPE,
			ACCOUNT_SUM,
			MONTH_CNT,
			SINGLE_MONTH_MAX_AMOUNT,
			MAX_MONTH_CNT,
			LOAN_BAD_DEBT_NUM,
			LOAN_BAD_DEBT_BALANCE,
			ASSET_NUM,
			ASSET_BALANCE,
			ASSURER_NUM,
			ASSURER_BALANCE,
			DIGITAL_INTERPRE,
			RELATIVE_POSITIONT,
			DIGITAL_INTERPRE_DES,
			PER_HOUSE_LOAN_NUM,
			PER_COMME_LOAN_NUM,
			OTHER_LOAN_NUM,
			FIRST_LOAN_REL_MON,
			CR_CARD_ACC_NUM,
			FIRST_CARD_REL_MON,
			Q_CR_CARD_ACC_NUM,
			Q_FIRST_CARD_REL_MON,
			DECLART_NUM,
			OBJECTION_NUM,
			BAD_DEBT_NUM,
			BAD_DEBT_BALANCE,
			RECOVER_BUSS_TYPE,
			RECOVER_ACC_SUM,
			RECOVER_BALANCE,
			BUSI_MAJOR_CLASS,
			BUSI_TYPE,
			ACC_SUM,
			FIR_BUSS_MONTH
						
		FROM
			PER_LOAN_SUMMARY
		WHERE
			REPORT_ID = #{_parameter}  limit 1
			
	</select>
	<select id="loanSummaryPrompt" parameterType="String" resultType="Map">
		SELECT
			BUSI_TYPE,
			FIR_BUSS_MONTH,
			BUSI_MAJOR_CLASS,
			ACC_SUM
		FROM
			PER_LOAN_PROMPT_DETAIL
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>	
	<select id="loanSummaryRecover" parameterType="String" resultType="Map">
		SELECT
			BALANCE,
			BUSS_TYPE,
			ACC_SUM
		FROM
			PER_RECOVER_INFO_DETAIL
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<select id="loanSummaryOverdue" parameterType="String" resultType="Map">
		SELECT
			SINGLE_MONTH_MAX_AMOUNT,
			ACCOUNT_TYPE,
			ACC_SUM,
			MAX_MONTH_CNT,
			MONTH_CNT
		FROM
			PER_OVERDUE_SUMMARY_INFO
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<select id="loanSummaryRepayer" parameterType="String" resultType="Map">
		SELECT
			REPAY_TYPE,
			ACC_SUM,
			BORROWER_CATEGORY,
			BALANCE,
			REPAY_SUM
		FROM
			PER_LOAN_REPAYER
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 后付费业务欠费信息汇总信息 -->
	<select id="afterPayMain"  parameterType="String" resultType="Map">
		select 
			AFTER_PAY_CNT,
			REPORT_ID
        from
        	PER_BASIC
        WHERE
			REPORT_ID = #{_parameter}  limit 1
				
	</select>
	<select id="afterPaySub"  parameterType="String" resultType="Map">
		select 
			ARRE_ACC_NUM,
			BUSS_TYPE,
			ARRE_SUM
        from
        	PER_AFTER_PAY_OWE_INFO
        WHERE
			REPORT_ID = #{_parameter}
				
	</select>
	<!-- 公共信息概要信息 -->
	<select id="publicInfoMain"  parameterType="String" resultType="Map">
		select 
			PUBLIC_INFO_CNT,
			REPORT_ID
        from
        	PER_BASIC
        WHERE
			REPORT_ID = #{_parameter}  limit 1
				
	</select>
	<select id="publicInfoSub"  parameterType="String" resultType="Map">
		select 
			PUBLIC_INFO_TYPE,
			RECORD_NUM,
			INVOLVE_SUM
        from
        	PER_PUBLIC_SUMMARY_INFO
        WHERE
			REPORT_ID = #{_parameter}
				
	</select>	
	<!-- 查询记录概要信息 -->
	<select id="searchSummary" parameterType="String" resultType="Map">
		SELECT
			LR_QUERY_ORG_CODE,
			LR_QUERY_ORG_REASON,
			LR_QUERY_ORG_TYPE,
			LR_QUERY_TIME,
			MON_CREDIT_QUERY_NUM,
			MON_CREDIT_QUERY_ORG_NUM,
			MON_LOAN_QUERY_NUM,
			MON_LOAN_QUERY_ORG_NUM,
			MON_OWN_QUERY_NUM,
			YEAR_AFTER_LOAN_QUERY_NUM,
			YEAR_ASSURE_QUERY_NUM,
			YEAR_SPECIAL_QUERY_NUM
		FROM
			PER_QUERY_SUMMARY
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 借贷账户信息 -->
	<select id="borrowDetailMain"  parameterType="String" resultType="Map">
		select 
		    SERIAL,
			ACCOUNT_SIGN,
			ACCOUNT_TYPE,
			ACC_CRED_QUOTA,
			BUSS_CATEGORY,
			BUSS_ORG_CODE,
			BUSS_ORG_TYPE,
			CESSION_REPAY_STATUS,
			COMMON_LOAN_SIGN,
			CREATE_DATE,
			CRED_SERIAL,
			CURRENCY,
			CUR_ACC_STATUS,
			CUR_ACTUAL_REPAY_AMOUT,
			CUR_AVG_OVERDRAFT_BALANCE,
			CUR_AVG_USE_QUOTA,
			CUR_BALANCE,
			CUR_CUR_OVER_AMOUNT,
			CUR_CUR_OVER_NUM,
			CUR_CUR_REPAY_AMOUT,
			CUR_FIVE_TYPE,
			CUR_INFO_REPORT_DATE,
			CUR_LARGE_DIVIDE_CNT,
			CUR_LAST_REPAY_DATE,
			CUR_L_N_REPAY_PRINCIPAL,
			CUR_L_OVERDRAFT_PRINCIPAL,
			CUR_M24_EDATE,
			CUR_M24_SDATE,
			CUR_MAX_OVERDRAFT_BALANCE,
			CUR_MAX_USE_QUOTA,
			CUR_NO_ISSUED_BALANC,
			CUR_N_N_REPAY_PRINCIPAL,
			CUR_PLAN_REPAY_DATE,
			CUR_P_MONTH,
			CUR_REST_REPAY_NUM,
			CUR_SPECIAL_CASE_CNT,
			CUR_SPECIAL_TRADE_CNT,
			CUR_S_N_REPAY_PRINCIPAL,
			CUR_T_N_REPAY_PRINCIPAL,
			CUR_USED_SUM,
			CUR_Y5_EDATE,
			CUR_Y5_MONTH_CNT,
			CUR_Y5_SDATE,
			EXPIRY_DATE,
			LABEL_CNT,
			LOAN_DISTRI_FORM,
			LOAN_SUM,
			NEW_ACC_STATUS,
			NEW_BALANCE,
			NEW_CLOSE_DATE,
			NEW_FIVE_TYPE,
			NEW_INFO_REPORT_DATE,
			NEW_LAST_REPAY_DATE,
			NEW_LAST_REPAY_SUM,
			NEW_OUT_MONTH,
			NEW_REPAY_STATUE,
			REPAY_FREQ,
			REPAY_NUM,
			REPAY_WAY,			
			SHARE_CRED_QUOTA,
			VOUCHTYPE
        from
        	PER_LOAN_DETAIL
        WHERE
			REPORT_ID = #{_parameter}
				
	</select>
	<select id="curM24ShowSub"  parameterType="String" resultType="Map">
		<!-- select 
		SERIAL,
		GROUP_CONCAT(DISTINCT P_MONTH SEPARATOR ',') P_MONTH,
		GROUP_CONCAT(DISTINCT REPAY_STATUS SEPARATOR ',') REPAY_STATUS
		  from PER_CUR_M24_SHOW_INFO
		group by SERIAL -->
		select 
		SERIAL,
		GROUP_CONCAT( P_MONTH order by P_MONTH  SEPARATOR ',') P_MONTH,
		GROUP_CONCAT( REPAY_STATUS order by P_MONTH  SEPARATOR ',') REPAY_STATUS
		  from PER_CUR_M24_SHOW_INFO
		  WHERE REPORT_ID = #{_parameter}
		group by SERIAL
	</select>
	<select id="curY5ShowSub"  parameterType="String" resultType="Map">
		<!-- select 
		SERIAL,
		GROUP_CONCAT(DISTINCT P_MONTH SEPARATOR ',') P_MONTH,
		GROUP_CONCAT(DISTINCT REPAY_STATUS SEPARATOR ',') REPAY_STATUS,
		GROUP_CONCAT(DISTINCT OVERDRAFT_SUM SEPARATOR ',') OVERDRAFT_SUM
		  from PER_CUR_Y5_SHOW_INFO
		group by SERIAL -->
		
		select 
		SERIAL,
		GROUP_CONCAT( P_MONTH order by P_MONTH  SEPARATOR ',') P_MONTH,
		GROUP_CONCAT( REPAY_STATUS order by P_MONTH  SEPARATOR ',') REPAY_STATUS,
		GROUP_CONCAT( case when OVERDRAFT_SUM = '' then 0 else OVERDRAFT_SUM end order by P_MONTH  SEPARATOR ',') OVERDRAFT_SUM
		  from PER_CUR_Y5_SHOW_INFO
		  WHERE REPORT_ID = #{_parameter}
		group by SERIAL
	</select>
	<select id="specialTradeSub"  parameterType="String" resultType="Map">
		select 
			SERIAL,
			SPECIAL_TRADE_TYPE,
			OCCUR_DATE,
			CHANGE_MONTH,
			OCCUR_SUM,
			OVERDUE_DETAIL
        from
        	PER_SPECIAL_TRADE
        WHERE
			REPORT_ID = #{_parameter}
				
	</select>
	<select id="specialCaseSub"  parameterType="String" resultType="Map">
		select 
			CASE_TYPE,
			S_HEPP_MONTH,
			SERIAL
        from
        	PER_SPECIAL_CASE_INFO
        WHERE
			REPORT_ID = #{_parameter}
				
	</select>
	<select id="largeDivideSub"  parameterType="String" resultType="Map">
		select 
			EXPI_DATE,
			EFFE_DATE,
			USED_SUM,
			SERIAL,
			DIV_QUOTA
        from
        	PER_LARGE_DIVIDE_INFO
        WHERE
			REPORT_ID = #{_parameter}
				
	</select>
	<select id="labelInfoSub"  parameterType="String" resultType="Map">
		select 
			L_CONTENT,
			ADD_DATE,
			L_TYPE,
			SERIAL,
			PER_TYPE
        from
        	PER_LABEL_INFO
        WHERE
			REPORT_ID = #{_parameter}
				
	</select>
	<!-- 授信协议信息 -->
	<select id="credBaseInfoMain" parameterType="String" resultType="Map">
		SELECT
			SERIAL,
			BUSS_ORG_CODE,
			CRED_QUOTA_USE,
			CRED_QUOTA,
			CRED_STATUS,
			CRED_LIMIT,
			LABEL_CNT,
			BUSS_ORG_TYPE,
			EXPI_DATE,
			CRED_LIMIT_NUM,
			CRED_SIGN,
			CURRENCY,
			EFFE_DATE,
			USED_QUOTA,
			CRED_NUM
		FROM
			PER_CRED_BASE_INFO
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 相关还款责任信息 -->
	<select id="repayerMain" parameterType="String" resultType="Map">
		SELECT
			SERIAL,
			BUSS_CATEGORY,
			CONTRACT_NUM,
			OVERDRAFT_MONTH_CNT,
			BORROWER_CATEGORY,
			CREATE_DATE,
			BALANCE,
			BUSS_ORG_CODE,
			FIVE_TYPE,
			INFO_REPORT_DATE,
			BUSS_ORG_TYPE,
			REPAYER_TYPE,
			REPAY_SUM,
			ACC_TYPE,
			LABEL_CNT,
			CURRENCY,
			EXPI_DATE,
			REPAY_STATUS
		FROM
			PER_REPAYER
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 后付费业务信息 -->
	<select id="afterPayInfoMain" parameterType="String" resultType="Map">
		SELECT
			SERIAL,
			PAY_COST_STATUS,
			PAY_COST_RECORD,
			ORG_TYPE,
			OWE_SUM,
			ORG_NAME,
			CHG_ACC_YM,
			ACC_TYPE,
			OPEN_DATE,
			LABEL_CNT
		FROM
			PER_AFTER_PAY_INFO
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 欠税记录信息 -->
	<select id="oweTaxesMain" parameterType="String" resultType="Map">
		SELECT
			SERIAL,
			TAX_AUTHORITY,
			OWE_TAX_SUM,
			OWE_TAX_DATE,
			LABEL_CNT
		FROM
			PER_OWE_TAXES
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 民事判决记录信息 -->
	<select id="verdictMain" parameterType="String" resultType="Map">
		SELECT
			SERIAL,
			COURT_NAME,
			CAUSE,
			REGISTER_DATE,
			SETTLE_STYLE,
			RESULT,
			SETTLE_DATE,
			GOAL_SYM,
			GOAL_SYM_SUM,
			LABEL_CNT
		FROM
			PER_VERDICT
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 强制执行记录信息 -->
	<select id="inforceMain" parameterType="String" resultType="Map">
		SELECT
			SERIAL,
			EXEC_COURT,
			SETTLE_STYLE,
			APPLY_SYM_VALUE,
			LABEL_CNT,
			REGISTER_DATE,
			CAUSE,
			APPLY_SYM,
			GOAL_SYM,
			RESULT,
			GOAL_SYM_SUM,
			SETTLE_DATE
		FROM
			PER_INFORCE
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 行政处罚记录信息 -->
	<select id="penaltiesMain" parameterType="String" resultType="Map">
		SELECT
			SERIAL,
			PENALTIES_COMAPNY,
			PENALTIES_CONTENTS,
			PENALTIES_SUM,
			START_DATE,
			STOP_DATE,
			RECONSIDERATION_RESULT,
			LABEL_CNT
		FROM
			PER_PENALTIES
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 住房公积金参缴记录信息 -->
	<select id="providentFundPayMain" parameterType="String" resultType="Map">
		SELECT
			SERIAL,
			PAY_PLACE,
			PAY_DATE,
			START_PAY_MON,
			STOP_PAY_MON,
			PAY_STATUS,
			PAY_MON_AMOUT,
			PER_PAY_PERCENT,
			COM_PAY_PERCENT,
			PAY_COM_NAME PAY_COM_NAME,
			UPDATE_TIME,
			LABEL_CNT
		FROM
			PER_PROVIDENT_FUND_PAY
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 低保救助记录信息 -->
	<select id="lowSecurityMain" parameterType="String" resultType="Map">
		SELECT
			SERIAL,
			PERSONNEL_TYPE,
			LOCATION,
			COMPANY COMPANY,
			HOUSE_MON_INCOME,
			APPLY_DATE,
			APPROVAL_DATE,
			UPDATE_TIME,
			LABEL_CNT
		FROM
			PER_LOW_SECURITY
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 执业资格记录信息 -->
	<select id="qualificationMain" parameterType="String" resultType="Map">
		SELECT
			SERIAL,
			QUAL_NAME,
			QUAL_LEVEL,
			QUAL_OBTAIN_DATE,
			MATURITY_DATE,
			REVOKE_DATE,
			ISSUED_COMAPNY,
			COMPANY_LOCATION,
			LABEL_CNT
		FROM
			PER_QUALIFICATION
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 行政奖励记录信息 -->
	<select id="adminiRewardMain" parameterType="String" resultType="Map">
		SELECT
			SERIAL,
			REWARD_COMPANY,
			REWARD_CONTENTS,
			REWARD_EFFECTIVE_DATE,
			STOP_DATE,
			LABEL_CNT
		FROM
			PER_ADMINI_REWARD
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 标注及声明信息 -->
	<select id="labelInfoMain" parameterType="String" resultType="Map">
		SELECT
			SERIAL,
			WHOLE_LABEL_OBJ_TYPE,
			WHOLE_LABEL_OBJ_SIGN,
			WHOLE_LABEL_CNT
		FROM
			PER_WHOLE_LABEL_INFO
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	<!-- 查询记录信息 -->
	<select id="search" parameterType="String" resultType="Map">
		SELECT
			QUERY_ORG_TYPE,
			QUERY_ORG_CODE,
			QUERY_REASON,
			QUERY_TIME
		FROM
			PER_QUERY_DETAIL
		WHERE
			REPORT_ID = #{_parameter}
			
	</select>
	
</mapper>