<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ParamMapper">
    
    <sql id="tableName">CIFM_PARAM_LIST_NORELATION</sql>
    <sql id="columnField">
    	PARAM,
   		PARAM_NAME,
   		PARAM_VALUE,
   		PARAM_FORMAT,
   		COMPANY
    </sql>
    <sql id="valueField">
    	#{PARAM},
   		#{PARAM_NAME},
   		#{PARAM_VALUE},
   		#{PARAM_FORMAT},
   		#{COMPANY}
    </sql>
    <select id="queryByPARAM" parameterType="pd" resultType="pd" >
		SELECT
           *
        FROM
            CIFM_PARAM_LIST_NORELATION A
        WHERE
			PARAM = #{PARAM}
	</select>
    <!-- 查询列表 -->
    <select id="paramlistPage" parameterType="Page" resultType="pd">
    	SELECT
    		<include refid="columnField"/>
    	FROM
    		<include refid="tableName"/>
    	where
    		COMPANY = #{pd.COMPANY}
    		<if test="pd.PARAM_NAME != null and pd.PARAM_NAME != ''">
    			and PARAM_NAME like '%${pd.PARAM_NAME}%'
    		</if>
    </select>
    
    
    <!--  系统参数维护sql  ******* start！-->
     <!-- 查询系统参数列表 -->
    <select id="sysParamlistPage" parameterType="Page" resultType="pd">
    	SELECT
    		ID,VALUE,CHN,CODE,DATA_DESC
    	FROM
    		server_message_info
        WHERE 
            1=1
    		<if test="pd.PARAM_NAME != null and pd.PARAM_NAME != ''">
    			and chn like '%'||#{pd.PARAM_NAME}||'%'
    		</if>
    		ORDER BY CHN
    </select>
    
    <!-- 查询参数-->
    <select id="hasSysParam" parameterType="pd" resultType="pd">
    	SELECT
    		ID,VALUE,CHN,CODE,DATA_DESC
    	FROM
    		server_message_info
        WHERE          
            ID  = #{ID}
    </select>
     <!-- 查询参数-->
    <select id="hasSysParamByCode" parameterType="pd" resultType="pd">
    	SELECT
    		ID,VALUE,CHN,CODE,DATA_DESC
    	FROM
    		server_message_info
        WHERE          
            CODE  = #{sys_CODE}
    </select>
     <!-- 新增系统参数 -->
    <insert id="addSysParam" parameterType="pd">
    	INSERT INTO 
    	       server_message_info (ID, VALUE, CHN, CODE, DATA_DESC)
        VALUES
               (#{sys_ID}, #{sys_VALUE}, #{sys_CHN}, #{sys_CODE}, #{sys_DATA_DESC})
    </insert>
       <!-- 修改系统参数 -->
    <update id="editSysParam" parameterType="pd">
    	update 
    	   server_message_info 
    	set 
    	       CHN = #{sys_CHN},    	   
    	       DATA_DESC = #{sys_DATA_DESC},   	   
    	       VALUE = #{sys_VALUE}   	  
        where
               ID = #{sys_ID} 
    </update>
       <!-- 删除系统参数 -->
    <delete id="deleteSysParam" parameterType="pd">
    	delete from  server_message_info	  
        where               
    	       ID = #{ID}    
    </delete>
    
    
    <!--  系统参数维护sql  ******* end！-->
    
    <!-- 新增 -->
    <insert id="saveP" parameterType="pd">
    	insert into <include refid="tableName"/>
    		(<include refid="columnField"/>)
    	values
    		(<include refid="valueField"/>)
    </insert>
    <!-- 修改 -->
	<update id="updateP" parameterType="pd">
		UPDATE <include refid="tableName"/>
		SET
			PARAM_NAME = #{PARAM_NAME},
			PARAM_VALUE = #{PARAM_VALUE},
			PARAM_FORMAT = #{PARAM_FORMAT}
		WHERE
			PARAM = #{PARAM}
		and
			COMPANY = #{COMPANY}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteP" parameterType="pd">
		DELETE FROM <include refid="tableName"/>
		WHERE
			PARAM = #{PARAM}
		and
			COMPANY = #{COMPANY}
	</delete>
</mapper>