<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PersonReMapper">
    
	<!-- 个人业务通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
    select 
        A.ID,
        A.CLIENT_NAME,
        B.CHECK_SYS_ID,
        B.USER_SYS_ID,
        A.CREDENTIALS_NO,
        A.CREDENTIALS_TYPE
    FROM CIFM_PERSON_INFO A
    INNER JOIN CIFM_FLOW_STATUS B   ON A.ID = B.ID
    where 
			A.ID = #{ID}
	limit 1
	</select>
	<select id="findByIdHis" parameterType="pd" resultType="pd">
    select 
        A.ID,
        A.CLIENT_NAME,
        B.CHECK_SYS_ID,
        B.USER_SYS_ID,
        A.CREDENTIALS_NO,
        A.CREDENTIALS_TYPE
    FROM CIFM_PERSON_INFO_HIS A
    INNER JOIN CIFM_FLOW_STATUS_HIS B   ON A.ID = B.ID
    where 
			A.ID = #{ID}
	limit 1
	</select>
	
		<!-- 通过ID获取公司详情数据 gaosheng-->
	<select id="findCompanyById" parameterType="pd" resultType="pd">
		select 
			  A.ID,
			  DECRYPT_DEC(A.COMPANY_NAME) as CLIENT_NAME,
			  A.CREDENTIALS_NO_TYPE as CREDENTIALS_TYPE,
			  DECRYPT_DEC(A.CHINA_CREDIT_CODE) as CREDENTIALS_NO,
			  B.CHECK_SYS_ID,
			  B.USER_SYS_ID
		FROM  CIFM_COMPANY_INFO A
		INNER JOIN CIFM_FLOW_STATUS B  ON A.ID = B.ID
		where 
			A.ID = #{ID}
	</select>
	<!-- 查询员通过ID获取数据 -->
	<select id="findByIdDetail" parameterType="pd" resultType="pd">
		SELECT * FROM
		    (
		        select 
		            A.ID,
		            A.CLIENT_NAME,
		            A.CHECK_SYS_ID,
		            A.USER_SYS_ID,
		            A.CREDENTIALS_NO,
		            A.CREDENTIALS_TYPE,
		            A.EDIT_REASON,
		            A.STATUS,
		            A.CLIENT_TYPE,
		            A.AUDIT_OPINION,
		            A.FILEADDRESS
		            
		        FROM CIFM_MATERIAL_CHANGE A
		        where 
		                A.ID = #{ID}
		            ORDER BY A.FILEADDRESS DESC
		       ) B
		   limit 1
	</select>
	<!-- 更新shq状态 -->
	<update id="updateRecord" parameterType="pd" >
		update
			CIFM_MATERIAL_CHANGE
		set 
			STATUS = #{STATUS} ,
			AUDIT_OPINION = #{AUDIT_OPINION},
			CHECK_TIME = #{CHECK_TIME} 
			
		where 
			ID = #{ID} AND STATUS = '00'
	</update>
	<!-- 查询员更新审核状态 -->
	<update id="updateCRecord" parameterType="pd" >
		update
			CIFM_MATERIAL_CHANGE
		set 
			STATUS = #{STATUS},
			APPLICATION_TIME = #{APPLICATION_TIME},
			EDIT_REASON = #{EDIT_REASON} 
		where 
			ID = #{ID}
		AND
			FILEADDRESS = #{FILEADDRESS}
	</update>


	<!-- 向明细表中添加数据gaosheng-->
	<insert id="save" parameterType="pd">
		INSERT INTO CIFM_MATERIAL_CHANGE
			(
			  ID,
			  CLIENT_NAME,
			  CHECK_SYS_ID,
			  USER_SYS_ID,
			  CREDENTIALS_NO,
			  CREDENTIALS_TYPE,
			  STATUS,
			  FILEADDRESS,
			  EDIT_REASON,
			  CLIENT_TYPE,
			  APPLICATION_TIME
			)       
		VALUES
			(
				#{ID},
				#{CLIENT_NAME},
				#{CHECK_SYS_ID},
				#{USER_SYS_ID},
				#{CREDENTIALS_NO},
				#{CREDENTIALS_TYPE},
				#{STATUS},
				#{FILEADDRESS},
				#{EDIT_REASON},
				#{CLIENT_TYPE},
				#{APPLICATION_TIME}
			)
	</insert>
	<!-- 向明细表中添加数据-->
	<select id="QuerylistPage" parameterType="page" resultType="pd" >
		SELECT
			  A.ID,
			  A.CLIENT_TYPE,
			  A.CLIENT_NAME,
			  A.CREDENTIALS_NO,
			  A.CREDENTIALS_TYPE,
			  A.STATUS,
			  B.USERNAME,
			  A.EDIT_REASON
			  
        FROM
            CIFM_MATERIAL_CHANGE A 
		INNER JOIN SYS_USER B
		ON A.USER_SYS_ID = B.USER_ID 
		

	</select>
		<!-- 提交审核 -->
	<update id="updateStatus" parameterType="pd" >
		UPDATE
			CIFM_MATERIAL_CHANGE
			set 
				STATUS=#{STATUS}		
			where 
				ID=#{ID}
	</update>
	
	
	   <!-- 企业审核历史列表 -->
		<!-- 向明细表中添加数据-->
	<select id="EntAppReHistorylistPage" parameterType="page" resultType="pd" >
		SELECT
			  A.ID,
			  A.CLIENT_TYPE,
			  A.CLIENT_NAME,
			  A.CREDENTIALS_NO,
			  A.CREDENTIALS_TYPE,
			  A.STATUS,
			  B.USERNAME,
			  A.EDIT_REASON,
			  D.NAME,
        	  A.FILEADDRESS,
        	  A.APPLICATION_TIME
        FROM
            CIFM_MATERIAL_CHANGE A 
		LEFT JOIN SYS_USER B
		ON A.USER_SYS_ID = B.USER_ID 
		LEFT JOIN SYS_USER_ORG C
		ON B.USER_ID=C.USER_ID
		LEFT JOIN SYS_ORG D
		ON C.ORG_ID=D.ORG_ID
		WHERE
			CLIENT_TYPE='2'
			<if test="pd.ORG_ID!=null and pd.ORG_ID!=''">
			    AND 
			    	D.ORG_ID = #{pd.ORG_ID}
			</if>
			<if test="pd.CREDENTIALS_TYPE !=null and pd.CREDENTIALS_TYPE != ''">
				AND
					A.CREDENTIALS_TYPE=#{pd.CREDENTIALS_TYPE}
			</if>
			<if test="pd.CREDENTIALS_NO!=null and pd.CREDENTIALS_NO!=''">
			    AND 
			    	A.CREDENTIALS_NO LIKE CONCAT(CONCAT('%', #{pd.CREDENTIALS_NO}),'%')
			</if>
		ORDER BY A.STATUS ASC,A.APPLICATION_TIME DESC

	</select>
   <!-- 个人审核历史列表 -->
<select id="IndAppReHistorylistPage" parameterType="page" resultType="pd" >
		SELECT
			  A.ID,
			  A.CLIENT_TYPE,
			  A.CLIENT_NAME,
			  A.CREDENTIALS_NO,
			  A.CREDENTIALS_TYPE,
			  A.STATUS,
			  B.USERNAME,
			  A.EDIT_REASON,
			  D.NAME,
        	  A.FILEADDRESS,
        	  A.APPLICATION_TIME
        FROM
            CIFM_MATERIAL_CHANGE A 
		LEFT JOIN SYS_USER B
		ON A.USER_SYS_ID = B.USER_ID 
		LEFT JOIN SYS_USER_ORG C
		ON B.USER_ID=C.USER_ID
		LEFT JOIN SYS_ORG D
		ON C.ORG_ID=D.ORG_ID
		WHERE
			CLIENT_TYPE='1'
			<if test="pd.ORG_ID!=null and pd.ORG_ID!=''">
			    AND 
			    	D.ORG_ID = #{pd.ORG_ID}
			</if>
			<if test="pd.CREDENTIALS_TYPE !=null and pd.CREDENTIALS_TYPE != ''">
				AND
					A.CREDENTIALS_TYPE=#{pd.CREDENTIALS_TYPE}
			</if>
			<if test="pd.CREDENTIALS_NO!=null and pd.CREDENTIALS_NO!=''">
			    AND 
			    	A.CREDENTIALS_NO LIKE CONCAT(CONCAT('%', #{pd.CREDENTIALS_NO}),'%')
			</if>
		ORDER BY A.STATUS ASC,A.APPLICATION_TIME DESC
</select>
<!-- 管理员通过ID获取数据gaosheng -->
	<select id="findByIdAndAdress" parameterType="pd" resultType="pd">
    select 
        A.ID,
        A.CLIENT_NAME,
        A.CHECK_SYS_ID,
        A.USER_SYS_ID,
        A.CREDENTIALS_NO,
        A.CREDENTIALS_TYPE,
        A.EDIT_REASON,
        A.STATUS,
        A.CLIENT_TYPE,
        A.AUDIT_OPINION,
        A.FILEADDRESS
    FROM 
    	CIFM_MATERIAL_CHANGE A
    where 
				A.ID = #{ID}
			and 
				rownum=1
			AND
				A.FILEADDRESS = #{FILEADDRESS}
	</select>


</mapper>