<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PersonCrawlerMapper">
     <!-- 新增报告信息-->
	<insert id="saveReportInfo" parameterType="pd">
		INSERT INTO PER_REPORT_INFO
			(
				REPORT_ID,
				QUERY_TIME,
				REPORT_TIME,
				QUERY_OPERATOR,
				QUERY_REASON,
				CHECK_CODE
			)
		VALUES
			(
				#{REPORT_ID},
				#{QUERY_TIME},
				#{REPORT_TIME},
				#{QUERY_OPERATOR},
				#{QUERY_REASON},
				#{CHECK_CODE}
			)
	</insert>
    <!-- 新增个人信息-->
	<insert id="savePersonIdentity" parameterType="pd">
		INSERT INTO PER_BASIC
			(
				REPORT_ID,
				CLIENT_NAME,
				CREDENTIALS_TYPE,
				CREDENTIALS_NO,
				CLIENT_SEX,
				CLIENT_BIRTHDAY,
				MARITAL_STATUS,
				PHONE_NUM,
				COMPANY_TEL,
				FAMILY_TEL,
				EDUCATION,
				DEGREE,
				MAILING_ADDRESS,
				RESIDENCE_ADDRESS
			)
		VALUES
			(
				#{REPORT_ID},
				ENCRYPT_DEC(#{CLIENT_NAME}),
				#{CREDENTIALS_TYPE},
				ENCRYPT_DEC(#{CREDENTIALS_NO}),
				#{CLIENT_SEX},
				ENCRYPT_DEC(#{CLIENT_BIRTHDAY}),
				#{MARITAL_STATUS},
				ENCRYPT_DEC(#{PHONE_NUM}),
				ENCRYPT_DEC(#{COMPANY_TEL}),
				ENCRYPT_DEC(#{FAMILY_TEL}),
				#{EDUCATION},
				#{DEGREE},
				ENCRYPT_DEC(#{MAILING_ADDRESS}),
				ENCRYPT_DEC(#{RESIDENCE_ADDRESS})
			)
	</insert>
	 <!-- 新增配偶信息-->
	<insert id="saveSpouInfo" parameterType="pd">
		INSERT INTO PER_SPOU
			(
				REPORT_ID,
				SPOU_NAME,
				SPOU_CREDENTIALS_TYPE,
				SPOU_CREDENTIALS_NO,
				SPOU_COMPANY,
				SPOU_TEL
			)
		VALUES
			(
				#{REPORT_ID},
				ENCRYPT_DEC(#{SPOU_NAME}),
				#{SPOU_CREDENTIALS_TYPE},
				ENCRYPT_DEC(#{SPOU_CREDENTIALS_NO}),
				ENCRYPT_DEC(#{SPOU_COMPANY}),
				ENCRYPT_DEC(#{SPOU_TEL})
			)
	</insert>
	 <!-- 新增居住信息-->
	<insert id="saveLiveInfo" parameterType="pd">
		INSERT INTO PER_LIVE
			(
				REPORT_ID,
				SERIAL,
				RESIDENTIAL_ADDRESS,
				RESIDENTIAL_CONDITION,
				UPDATE_TIME
			)
		VALUES
			(
				#{REPORT_ID},
				#{SERIAL},
				ENCRYPT_DEC(#{RESIDENTIAL_ADDRESS}),
				#{RESIDENTIAL_CONDITION},
				#{UPDATE_TIME}
			)
	</insert>
	 <!-- 新增职业信息-->
	<insert id="saveCareerInfo" parameterType="pd">
		INSERT INTO PER_CAREER
			(
				REPORT_ID,
				SERIAL,
				COMPANY_NAME,
				COMPANY_ADDRESS,
				CAREER,
				INDUSTRY,
				DUTIES,
				JOB_TITLE,
				ENTER_YEAR,
				UPDATE_TIME
			)
		VALUES
			(
				#{REPORT_ID},
				#{SERIAL},
				ENCRYPT_DEC(#{COMPANY_NAME}),
				ENCRYPT_DEC(#{COMPANY_ADDRESS}),
				#{CAREER},
				#{INDUSTRY},
				#{DUTIES},
				ENCRYPT_DEC(#{JOB_TITLE}),
				#{ENTER_YEAR},
				#{UPDATE_TIME}
			)
	</insert>
	 <!-- 信贷概要信息-->
	<insert id="saveCreditSumInfo" parameterType="pd">
		INSERT INTO PER_LOAN_SUMMARY
			(
				 REPORT_ID,
			  	PER_HOUSE_LOAN_NUM,
			  	PER_COMME_LOAN_NUM,
			  	OTHER_LOAN_NUM,
			  	FIRST_LOAN_REL_MON,
			  	CR_CARD_ACC_NUM,
			  	FIRST_CARD_REL_MON,
			  	Q_CR_CARD_ACC_NUM,
			  	Q_FIRST_CARD_REL_MON,
			 	DECLART_NUM,
			 	OBJECTION_NUM,
			 	DIGITAL_INTERPRE,
			  	RELATIVE_POSITIONT,
			  	DIGITAL_INTERPRE_DES,
			 	LOAN_NUM,
			 	LOAN_MON_NUM,
			  	LOAN_MON_OVER_SUM,
			  	LOAN_OVER_MON_NUM,
			  	CR_CARD_OVER_ACC_NUM,
			  	CR_CARD_OVER_MON_NUM,
			  	CR_CARD_MON_OVER_SUM,
			  	CR_CARD_OVER_LONG_MON_NUM,
			  	Q_CR_CARD_OVER_ACC_NUM,
			  	Q_CR_CARD_OVER_MON_NUM,
			  	Q_CR_CARD_OVER_MON_BALANCE,
			  	Q_CR_CARD_OVER_LONG_MON_NUM,
			  	LOAN_COMPANY_ORG_NUM,
			  	LOAN_ORG_NUM,
			  	UNCLEAR_LOAN_NUM,
			  	LOAN_CONTRACT_TOTAL,
			  	LOAN_BANLANCE,
			  	AVG_SHOULD_REPAY,
			  	N_CR_CARD_COMPANY_ORG_NUM,
			  	N_CR_CARD_ORG_NUM,
			  	N_CR_CARD_ACC_NUM,
			  	N_CR_CARD_CRED_SUM,
			  	N_CR_CARD_MAX_CRED_SUM,
			  	N_CR_CARD_MIN_CRED_SUM,
			  	N_CR_CARD_USED_SUM,
			  	N_CR_CARD_AVG_USED_SUM,
			  	NQ_CR_CARD_COMPANY_ORG_NUM,
			  	NQ_CR_CARD_ORG_NUM,
			  	NQ_CR_CARD_ACC_NUM,
			  	NQ_CR_CARD_CRED_SUM,
			  	NQ_CR_CARD_MAX_CRED_SUM,
			  	NQ_CR_CARD_MIN_CRED_SUM,
			  	NQ_CR_CARD_OVERDRAFT_BALANCE,
			  	NQ_CR_CARD_AVG_USED_SUM,
			  	BAD_DEBT_NUM,
				BAD_DEBT_BALANCE,
				ASSET_NUM,
				ASSET_BALANCE,
				ASSURER_NUM,
				ASSURER_BALANCE,
				GUARANTEE_NUM,
				GUARANTEE_SUM,
				GUARANTEE_BALANCE
			)
		VALUES
			(
			  	#{REPORT_ID},
			  	#{PER_HOUSE_LOAN_NUM},
			  	#{PER_COMME_LOAN_NUM},
			  	#{OTHER_LOAN_NUM},
			  	#{FIRST_LOAN_REL_MON},
			  	#{CR_CARD_ACC_NUM},
			  	#{FIRST_CARD_REL_MON},
			  	#{Q_CR_CARD_ACC_NUM},
			  	#{Q_FIRST_CARD_REL_MON},
			 	#{DECLART_NUM},
			 	#{OBJECTION_NUM},
			 	#{DIGITAL_INTERPRE},
			  	#{RELATIVE_POSITIONT},
			  	#{DIGITAL_INTERPRE_DES},
			 	#{LOAN_NUM},
			 	#{LOAN_MON_NUM},
			  	#{LOAN_MON_OVER_SUM},
			  	#{LOAN_OVER_MON_NUM},
			  	#{CR_CARD_OVER_ACC_NUM},
			  	#{CR_CARD_OVER_MON_NUM},
			  	#{CR_CARD_MON_OVER_SUM},
			  	#{CR_CARD_OVER_LONG_MON_NUM},
			  	#{Q_CR_CARD_OVER_ACC_NUM},
			  	#{Q_CR_CARD_OVER_MON_NUM},
			  	#{Q_CR_CARD_OVER_MON_BALANCE},
			  	#{Q_CR_CARD_OVER_LONG_MON_NUM},
			  	#{LOAN_COMPANY_ORG_NUM},
			  	#{LOAN_ORG_NUM},
			  	#{UNCLEAR_LOAN_NUM},
			  	#{LOAN_CONTRACT_TOTAL},
			  	#{LOAN_BANLANCE},
			  	#{AVG_SHOULD_REPAY},
			  	#{N_CR_CARD_COMPANY_ORG_NUM},
			  	#{N_CR_CARD_ORG_NUM},
			  	#{N_CR_CARD_ACC_NUM},
			  	#{N_CR_CARD_CRED_SUM},
			  	#{N_CR_CARD_MAX_CRED_SUM},
			  	#{N_CR_CARD_MIN_CRED_SUM},
			  	#{N_CR_CARD_USED_SUM},
			  	#{N_CR_CARD_AVG_USED_SUM},
			  	#{NQ_CR_CARD_COMPANY_ORG_NUM},
			  	#{NQ_CR_CARD_ORG_NUM},
			  	#{NQ_CR_CARD_ACC_NUM},
			  	#{NQ_CR_CARD_CRED_SUM},
			  	#{NQ_CR_CARD_MAX_CRED_SUM},
			  	#{NQ_CR_CARD_MIN_CRED_SUM},
			  	#{NQ_CR_CARD_OVERDRAFT_BALANCE},
			  	#{NQ_CR_CARD_AVG_USED_SUM},
			  	#{BAD_DEBT_NUM},
				#{BAD_DEBT_BALANCE},
				#{ASSET_NUM},
				#{ASSET_BALANCE},
				#{ASSURER_NUM},
				#{ASSURER_BALANCE},
				#{GUARANTEE_NUM},
				#{GUARANTEE_SUM},
				#{GUARANTEE_BALANCE}
			)
	</insert>
	 <!-- 资产处置/保证人代偿信息-->
	<insert id="saveAssertAsInfo" parameterType="pd">
		INSERT INTO PER_ASSETS_DISPOSAL
			(
				 REPORT_ID,
				 SERIAL,
			  	 INFO_TYPE,
			  	 COMPANY_NAME,
			   	 RECEIVE_DATE,
			  	 AGGREGATE_AMOUNT,
				 LAST_REPAY_DATE,
				 BALANCE
			)
		VALUES
			(
			  	#{REPORT_ID},
			  	#{SERIAL},
			  	#{INFO_TYPE},
			  	#{COMPANY_NAME},
			   	#{RECEIVE_DATE},
			  	#{AGGREGATE_AMOUNT},
				#{LAST_REPAY_DATE},
				#{BALANCE}
			)
	</insert>
	 <!-- 对外贷款担保信息-->
	<insert id="saveGuaranteeInfo" parameterType="pd">
		INSERT INTO PER_EXTERNAL_GUARANTEE_DETAIL
			(
				 REPORT_ID,
				 SERIAL,
				 LOAN_TYPE,
			  	 LOAN_GRANT_ORG,
				LOAN_CONTRACT_SUM,
				LOAN_GRANT_DATE,
				LOAN_STOP_DATE,
				GUARANTEE_SUM,
				GUARANTEE_BALANCE,
				LOAN_FIVE_CALSS,
				SETTLE_ACCOUNT_DATE
			)
		VALUES
			(
			  	#{REPORT_ID},
			  	#{SERIAL},
			  	'0',
			  	#{LOAN_GRANT_ORG},
				#{LOAN_CONTRACT_SUM},
				#{LOAN_GRANT_DATE},
				#{LOAN_STOP_DATE},
				#{GUARANTEE_SUM},
				#{GUARANTEE_BALANCE},
				#{LOAN_FIVE_CALSS},
				#{SETTLE_ACCOUNT_DATE}
			)
	</insert>
	 <!-- 对外信用卡担保信息-->
	<insert id="saveCreditGuaranteeInfo" parameterType="pd">
		INSERT INTO PER_EXTERNAL_GUARANTEE_DETAIL
			(
				 REPORT_ID,
				 SERIAL,
				 LOAN_TYPE,
			  	 LOAN_GRANT_ORG,
				LOAN_CONTRACT_SUM,
				LOAN_GRANT_DATE,
				GUARANTEE_SUM,
				GUARANTEE_BALANCE,
				SETTLE_ACCOUNT_DATE
			)
		VALUES
			(
			  	#{REPORT_ID},
			  	#{SERIAL},
			  	'1',
			  	#{LOAN_GRANT_ORG},
				#{LOAN_CONTRACT_SUM},
				#{LOAN_GRANT_DATE},
				#{GUARANTEE_SUM},
				#{GUARANTEE_BALANCE},
				#{SETTLE_ACCOUNT_DATE}
			)
	</insert>
	 <!-- 新增贷款交易明细-->
	<insert id="saveLoanInfo" parameterType="pd">
		INSERT INTO PER_LOAN_DETAIL
			(
				REPORT_ID,
				SERIAL_NUMBER,
				SERIAL,
				LOANS_DATE,
				LOANS_ORG,
				LOANS_AMOUNT,
				LOANS_USE,
				REPAY_NUM,
				REPAY_TYPE,
				EXPIRY_DATE,
				STOP_DATE,
				ACC_STATUS,
				FIVE_TYPE,
				PRINCIPAL_BALANCE,
				REST_REPAY_NUM,
				CUR_REPAY_AMOUT,
				PLAN_REPAY_DATE,
				ACTUAL_REPAY_AMOUT,
				LAST_REPAY_DATE,
				CUR_OVER_NUM,
				CUR_OVER_AMOUNT,
				T_N_REPAY_PRINCIPAL,
				S_N_REPAY_PRINCIPAL,
				N_N_REPAY_PRINCIPAL,
				L_N_REPAY_PRINCIPAL,
				REPAY_RECORD,
				BUSSID,
				VOUCHTYPE,
				CURRENCYTYPE,
				STATEBTIME,
				STATEETIME,
				OVERDUE_BDATE,
				OVERDUE_EDATE,
				SPECIAL_TRADE_TYPE,
				OCCUR_DATE,
				CHANGE_MONTH,
				OCCUR_SUM,
				OVERDUE_DETAIL
			)
		VALUES
			(
				#{REPORT_ID},
				#{SERIAL_NUMBER},
				#{SERIAL},
				#{LOANS_DATE},
				#{LOANS_ORG},
				#{LOANS_AMOUNT},
				#{LOANS_USE},
				#{REPAY_NUM},
				#{REPAY_TYPE},
				#{EXPIRY_DATE},
				#{STOP_DATE},
				#{ACC_STATUS},
				#{FIVE_TYPE},
				#{PRINCIPAL_BALANCE},
				#{REST_REPAY_NUM},
				#{CUR_REPAY_AMOUT},
				#{PLAN_REPAY_DATE},
				#{ACTUAL_REPAY_AMOUT},
				#{LAST_REPAY_DATE},
				#{CUR_OVER_NUM},
				#{CUR_OVER_AMOUNT},
				#{T_N_REPAY_PRINCIPAL},
				#{S_N_REPAY_PRINCIPAL},
				#{N_N_REPAY_PRINCIPAL},
				#{L_N_REPAY_PRINCIPAL},
				#{REPAY_RECORD},
				#{BUSSID},
				#{VOUCHTYPE},
				#{CURRENCYTYPE},
				#{STATEBTIME},
				#{STATEETIME},
				#{OVERDUE_BDATE},
				#{OVERDUE_EDATE},
				#{SPECIAL_TRADE_TYPE},
				#{OCCUR_DATE},
				#{CHANGE_MONTH},
				#{OCCUR_SUM},
				#{OVERDUE_DETAIL}
			)
	</insert>
	 <!-- 新增贷记卡交易明细-->
	<insert id="saveCreditInfo" parameterType="pd">
		INSERT INTO PER_CREDIT_DETAIL
			(
				REPORT_ID,
				SERIAL_NUMBER,
				SERIAL,
				CR_REL_CARD_DATE,
				CR_REL_CARD_ORG,
				CARDTYPE,
				CR_CREDIT_SUM,
				CR_SHARE_CREDIT_SUM,
				CR_STOP_DATE,
				CR_ACC_STATUS,
				CR_USED_SUM,
				CR_AVG_USED_SUM,
				CR_USED_MAX_SUM,
				CR_SHOULD_REPAY_AMOUT,
				CR_BILL_DATE,
				CR_ACTUAL_REPAY_AMOUT,
				CR_LAST_REPAY_DATE,
				CR_CUR_OVER_NUM,
				CR_CUR_OVER_AMOUT,
				CR_REPAY_RECORD,
				BUSSID,
				VOUCHTYPE,
				CURRENCYTYPE,
				STATEBTIME,
				STATEETIME,
				OVERDUE_BDATE,
				OVERDUE_EDATE,
				SPECIAL_TRADE_TYPE,
				OCCUR_DATE,
				CHANGE_MONTH,
				OCCUR_SUM,
				OVERDUE_DETAIL
			)
		VALUES
			(
				#{REPORT_ID},
				#{SERIAL_NUMBER},
				#{SERIAL},
				#{CR_REL_CARD_DATE},
				#{CR_REL_CARD_ORG},
				#{CARDTYPE},
				#{CR_CREDIT_SUM},
				#{CR_SHARE_CREDIT_SUM},
				#{CR_STOP_DATE},
				#{CR_ACC_STATUS},
				#{CR_USED_SUM},
				#{CR_AVG_USED_SUM},
				#{CR_USED_MAX_SUM},
				#{CR_SHOULD_REPAY_AMOUT},
				#{CR_BILL_DATE},
				#{CR_ACTUAL_REPAY_AMOUT},
				#{CR_LAST_REPAY_DATE},
				#{CR_CUR_OVER_NUM},
				#{CR_CUR_OVER_AMOUT},
				#{CR_REPAY_RECORD},
				#{BUSSID},
				#{VOUCHTYPE},
				#{CURRENCYTYPE},
				#{STATEBTIME},
				#{STATEETIME},
				#{OVERDUE_BDATE},
				#{OVERDUE_EDATE},
				#{SPECIAL_TRADE_TYPE},
				#{OCCUR_DATE},
				#{CHANGE_MONTH},
				#{OCCUR_SUM},
				#{OVERDUE_DETAIL}
			)
	</insert>
	<!-- 新增准贷记卡交易明细-->
	<insert id="saveQCreditInfo" parameterType="pd">
		INSERT INTO PER_Q_CREDIT_DETAIL
			(
				REPORT_ID,
				SERIAL_NUMBER,
				SERIAL,
				Q_CR_REL_CARD_DATE,
				Q_CR_REL_CARD_ORG,
				CARDTYPE,
				Q_CR_CREDIT_SUM,
				Q_CR_SHARE_CREDIT_SUM,
				Q_CR_STOP_DATE,
				Q_CR_ACC_STATUS,
				Q_CR_USED_SUM,
				Q_CR_AVG_USED_SUM,
				Q_CR_USED_MAX_SUM,
				Q_CR_SHOULD_REPAY_AMOUT,
				Q_CR_BILL_DATE,
				Q_CR_ACTUAL_REPAY_AMOUT,
				Q_CR_LAST_REPAY_DATE,
				Q_CR_CUR_OVER_NUM,
				Q_CR_CUR_OVER_AMOUT,
				Q_CR_REPAY_RECORD,
				UNREPAY_BALANCE,
				BUSSID,
				VOUCHTYPE,
				CURRENCYTYPE,
				STATEBTIME,
				STATEETIME,
				OVERDUE_BDATE,
				OVERDUE_EDATE,
				SPECIAL_TRADE_TYPE,
				OCCUR_DATE,
				CHANGE_MONTH,
				OCCUR_SUM,
				OVERDUE_DETAIL
			)
		VALUES
			(
				#{REPORT_ID},
				#{SERIAL_NUMBER},
				#{SERIAL},
				#{Q_CR_REL_CARD_DATE},
				#{Q_CR_REL_CARD_ORG},
				#{CARDTYPE},
				#{Q_CR_CREDIT_SUM},
				#{Q_CR_SHARE_CREDIT_SUM},
				#{Q_CR_STOP_DATE},
				#{Q_CR_ACC_STATUS},
				#{Q_CR_USED_SUM},
				#{Q_CR_AVG_USED_SUM},
				#{Q_CR_USED_MAX_SUM},
				#{Q_CR_SHOULD_REPAY_AMOUT},
				#{Q_CR_BILL_DATE},
				#{Q_CR_ACTUAL_REPAY_AMOUT},
				#{Q_CR_LAST_REPAY_DATE},
				#{Q_CR_CUR_OVER_NUM},
				#{Q_CR_CUR_OVER_AMOUT},
				#{Q_CR_REPAY_RECORD},
				#{UNREPAY_BALANCE},
				#{BUSSID},
				#{VOUCHTYPE},
				#{CURRENCYTYPE},
				#{STATEBTIME},
				#{STATEETIME},
				#{OVERDUE_BDATE},
				#{OVERDUE_EDATE},
				#{SPECIAL_TRADE_TYPE},
				#{OCCUR_DATE},
				#{CHANGE_MONTH},
				#{OCCUR_SUM},
				#{OVERDUE_DETAIL}
			)
	</insert>
	 <!--贷款/贷记卡/准贷记卡逾期记录-->
	<insert id="saveOverdueInfo" parameterType="pd">
		INSERT INTO PER_OVERDUE_SUMMARY
			(
				 REPORT_ID,
				 SERIAL,
			  	 SERIAL_NUMBER,
				CART_TYPE,
				OVER_MONTH,
				OVER_MONTH_NUM,
				OVER_SUM
			)
		VALUES
			(
			  	#{REPORT_ID},
			  	#{SERIAL},
			  	 #{SERIAL_NUMBER},
				#{CART_TYPE},
				#{OVER_MONTH},
				#{OVER_MONTH_NUM},
				#{OVER_SUM}
			)
	</insert>
	 <!--说明/声明/标注信息表-->
	<insert id="saveDeclareObjectInfo" parameterType="pd">
		INSERT INTO PER_STATEMENT
			(
				 REPORT_ID,
				 SERIAL,
			  	 SERIAL_NUMBER,
				CART_TYPE,
				ORG_DES,
				ORG_DES_DATE,
				OWNER_DECLARE,
				OWNER_DECLARE_DATE,
				OBJECTIONS,
				OBJECTIONS_DATE
			)
		VALUES
			(
			  	#{REPORT_ID},
			  	#{SERIAL},
			  	#{SERIAL_NUMBER},
				#{CART_TYPE},
				#{ORG_DES},
				#{ORG_DES_DATE},
				#{OWNER_DECLARE},
				#{OWNER_DECLARE_DATE},
				#{OBJECTIONS},
				#{OBJECTIONS_DATE}
			)
	</insert>
	 <!--民事判决/强制执行记录信息表-->
	<insert id="saveJudgmentExecuteInfo" parameterType="pd">
		INSERT INTO PER_VERDICT
			(
				 REPORT_ID,
				 SERIAL,
				 TYPE,
			  	 COURT_NAME,
				 CAUSE,
				 REGISTER_DATE,
				 SETTLE_STYLE,
				 RESULT,
				 SETTLE_DATE,
				 APPLY_SYM,
				 APPLY_SYM_VALUE,
				 GOAL_SYM,
				 GOAL_SYM_SUM
			)
		VALUES
			(
			  	#{REPORT_ID},
			  	#{SERIAL},
			  	#{TYPE},
			  	#{COURT_NAME},
				#{CAUSE},
				#{REGISTER_DATE},
				#{SETTLE_STYLE},
				#{RESULT},
				#{SETTLE_DATE},
				#{APPLY_SYM},
				#{APPLY_SYM_VALUE},
				#{GOAL_SYM},
				#{GOAL_SYM_SUM}
			)
	</insert>
	<!-- 新增住房公积金信息-->
	<insert id="saveAccFundInfo" parameterType="pd">
		INSERT INTO PER_PROVIDENT_FUND_PAY
			(
				REPORT_ID,
				SERIAL,
				PAY_PLACE,
				PAY_DATE,
				START_PAY_MON,
				STOP_PAY_MON,
				PAY_STATUS,
				PAY_MON_AMOUT,
				PER_PAY_PERCENT,
				COM_PAY_PERCENT,
				PAY_COM_NAME,
				UPDATE_TIME
			)
		VALUES
			(
				#{REPORT_ID},
				#{SERIAL},
				#{PAY_PLACE},
				#{PAY_DATE},
				#{START_PAY_MON},
				#{STOP_PAY_MON},
				#{PAY_STATUS},
				#{PAY_MON_AMOUT},
				#{PER_PAY_PERCENT},
				#{COM_PAY_PERCENT},
				ENCRYPT_DEC(#{PAY_COM_NAME}),
				#{UPDATE_TIME}
			)
	</insert>
	<!-- 新增养老保险信息-->
	<insert id="savePensionInfo" parameterType="pd">
		INSERT INTO PER_PENSIO_PAY
			(
				REPORT_ID,
				SERIAL,
				INSURED_PLACE,
				INSURED_DATE,
				PAY_MON_SUM,
				START_WORK_MON,
				PAY_STATUS,
				PER_PAY_BASE,
				PAY_AMOUT_MON,
				UPDATE_TIME,
				PAY_COM_NAME,
				SOPT_PAY_REASON
			)
		VALUES
			(
				#{REPORT_ID},
				#{SERIAL},
				#{INSURED_PLACE},
				#{INSURED_DATE},
				#{PAY_MON_SUM},
				#{START_WORK_MON},
				#{PAY_STATUS},
				#{PER_PAY_BASE},
				#{PAY_AMOUT_MON},
				#{UPDATE_TIME},
				ENCRYPT_DEC(#{PAY_COM_NAME}),
				#{SOPT_PAY_REASON}
			)
	</insert>
	<!-- 新增查询信息-->
	<insert id="saveQueryInfo" parameterType="pd">
		INSERT INTO PER_QUERY_SUMMARY
			(
				REPORT_ID,
				MON_LOAN_QUERY_ORG_NUM,
				MON_CREDIT_QUERY_ORG_NUM,
				MON_LOAN_QUERY_NUM,
				MON_CREDIT_QUERY_NUM,
				MON_OWN_QUERY_NUM,
				YEAR_LOAN_QUERY_NUM,
				YEAR_OWN_QUERY_NUM,
				YEAR_SPECIAL_QUERY_NUM
			)
		VALUES
			(
				#{REPORT_ID},
				#{MON_LOAN_QUERY_ORG_NUM},
				#{MON_CREDIT_QUERY_ORG_NUM},
				#{MON_LOAN_QUERY_NUM},
				#{MON_CREDIT_QUERY_NUM},
				#{MON_OWN_QUERY_NUM},
				#{YEAR_LOAN_QUERY_NUM},
				#{YEAR_OWN_QUERY_NUM},
				#{YEAR_SPECIAL_QUERY_NUM}
			)
	</insert>
	<!-- 新增查询明细信息-->
	<insert id="saveQueryDetailInfo" parameterType="pd">
		INSERT INTO PER_QUERY_DETAIL
			(
				REPORT_ID,
				SERIAL,
				CR_QUERY_TIME,
				CR_QUERY_OPERATOR,
				CR_QUERY_REASON
			)
		VALUES
			(
				#{REPORT_ID},
				#{SERIAL},
				#{CR_QUERY_TIME},
				#{CR_QUERY_OPERATOR},
				#{CR_QUERY_REASON}
			)
	</insert>
	<!-- 新增欠税、行政处罚等信息-->
	<insert id="saveOtherDetailInfo" parameterType="map">
		${creatSql}
	</insert>
</mapper>