<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChannelMapper">

<!--数据列表 -->
<select id="QuerylistPage" parameterType="page" resultType="pd" >
		SELECT
           CHANNEL_ID,
           CHANNEL_DES,
           CHANNEL_STATUS,
           CHANNEL_CONTACT,
           COMPANY
        FROM
            CIFM_CHANNEL 
        WHERE
        	COMPANY = #{pd.COMPANY}
			<if test="pd.CHANNEL_ID!=null and pd.CHANNEL_ID!=''">
			    AND 
			    	CHANNEL_ID = #{pd.CHANNEL_ID}
			</if>
			<if test="pd.CHANNEL_DES!=null and pd.CHANNEL_DES!=''">
			    AND 
			    	CHANNEL_DES = #{pd.CHANNEL_DES}
			</if>
			<if test="pd.CHANNEL_STATUS!=null and pd.CHANNEL_STATUS!=''">
			    AND 
			    	CHANNEL_STATUS = #{pd.CHANNEL_STATUS}
			</if>
		ORDER BY CHANNEL_STATUS,CHANNEL_ID
	</select>
	<!-- 新增-->
	<insert id="SaveChannel" parameterType="pd">
		INSERT INTO CIFM_CHANNEL
			(
			   CHANNEL_ID,
	           CHANNEL_DES,
	           CHANNEL_STATUS,
	           CHANNEL_CONTACT,
	           COMPANY
			)
		VALUES
			(
			   #{CHANNEL_ID},
	           #{CHANNEL_DES},
	           #{CHANNEL_STATUS},
	           #{CHANNEL_CONTACT},
	           #{COMPANY}
			)
	</insert>
	<!-- 查询渠道信息-->
	<select id="queryChannelById" parameterType="pd" resultType="pd" >
		SELECT
           CHANNEL_ID,
           CHANNEL_DES,
           CHANNEL_STATUS,
           CHANNEL_CONTACT
        FROM
            CIFM_CHANNEL 
        WHERE
			CHANNEL_ID = #{CHANNEL_ID}
		AND
			COMPANY = #{COMPANY}
	</select>
	<!-- 更新渠道信息 -->
	<update id="UpdateChannelById" parameterType="pd" >
		UPDATE
				CIFM_CHANNEL
			set 
				CHANNEL_DES 		= #{CHANNEL_DES},
				CHANNEL_STATUS		= #{CHANNEL_STATUS},
				CHANNEL_CONTACT		= #{CHANNEL_CONTACT}
			where 
				CHANNEL_ID = #{CHANNEL_ID}
			AND
				COMPANY = #{COMPANY}
	</update>
	
	<!-- 删除渠道-->
	<delete id="deleteChannelById" parameterType="pd">
		delete from CIFM_CHANNEL
		where 
			CHANNEL_ID = #{CHANNEL_ID}
		AND
			COMPANY = #{COMPANY}
	</delete>
	
	<!-- 批量删除-->
	<delete id="deleteAllChannelById" parameterType="map" >
		delete from CIFM_CHANNEL
		where 
			COMPANY = #{COMPANY}
		AND
			CHANNEL_ID in
  			 <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                  #{item}
             </foreach>
	</delete>
	<!-- 更新渠道信息 -->
	<update id="UpdateUser" parameterType="map" >
		UPDATE
				SYS_USER
			set 
				CHANNEL_ID = ''
			where
				COMPANY = #{COMPANY}
			AND 
				CHANNEL_ID in
  			 <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                  #{item}
             </foreach>
	</update>
	<!-- 查询所有渠道信息-->
	<select id="queryChannel" parameterType="pd" resultType="pd" >
		SELECT
           CHANNEL_ID,
           CHANNEL_DES,
           CHANNEL_STATUS,
           CHANNEL_CONTACT
        FROM
            CIFM_CHANNEL
        WHERE
         	CHANNEL_STATUS	= '0'
        AND
			COMPANY = #{COMPANY}
	</select>
	<!-- 根据用户名和渠道编号查询-->
	<select id="queryByUserName" parameterType="pd" resultType="pd" >
		SELECT 
		    A.USERNAME,A.CHANNEL_ID 
		FROM 
		    SYS_USER A,CIFM_CHANNEL B
		WHERE 
			A.CHANNEL_ID = B.CHANNEL_ID
		AND
		    A.USERNAME = #{USERNAME}
		AND
		    A.CHANNEL_ID = #{CHANNEL_ID}
	</select>
</mapper>