<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClawerEntAppReMapper">
    
   <!-- 企业查询申请审核列表 -->
<select id="EntAppRelistPage" parameterType="page" resultType="pd" >
		SELECT
			A.ID,
			A.APPLICATION_TIME,
			A.USER_SYS_ID,
			A.INTERNAL,
			DECRYPT_DEC(B.COMPANY_NAME) COMPANY_NAME,
			B.CREDENTIALS_NO_TYPE,
			DECRYPT_DEC(B.CHINA_CREDIT_CODE) CHINA_CREDIT_CODE,
			B.QUERY_REASON,
			B.QUERY_VERSION,
			C.NAME AS ORG_NAME
		FROM
			CIFM_FLOW_STATUS A,CIFM_COMPANY_INFO B,SYS_ORG C,SYS_USER_ORG D 
		WHERE
			A.ID = B.ID AND A.STATUS='01' AND A.CLIENT_TYPE = '2' AND D.USER_ID = A.USER_SYS_ID AND C.ORG_ID=D.ORG_ID AND A.CHECK_SYS_ID=#{pd.USER_ID}
			<if test="pd.COMPANY_NAME!=null and pd.COMPANY_NAME!=''">
			    AND 
			    	DECRYPT_DEC(B.COMPANY_NAME) = #{pd.COMPANY_NAME}
			</if>
			<if test="pd.CREDENTIALS_NO_TYPE!= null and pd.CREDENTIALS_NO_TYPE != ''">
				AND
					CREDENTIALS_NO_TYPE=#{pd.CREDENTIALS_NO_TYPE}
			</if>
			<if test="pd.CHINA_CREDIT_CODE!=null and pd.CHINA_CREDIT_CODE!=''">
			    AND 
			    	DECRYPT_DEC(B.CHINA_CREDIT_CODE) = #{pd.CHINA_CREDIT_CODE}
			</if>
		ORDER BY A.ID
	</select>
	
	  <!-- 查询企业申请信息 -->
	<select id="getEntCheck" parameterType="pd" resultType="pd" >
		SELECT
			A.APPLICATION_TIME,
			A.INTERNAL,
			DECRYPT_DEC(B.COMPANY_NAME) COMPANY_NAME,
			B.CREDENTIALS_NO_TYPE,
			DECRYPT_DEC(B.CHINA_CREDIT_CODE) CHINA_CREDIT_CODE,
			C.USERNAME AS USER_SYS_NAME,
			B.QUERY_REASON,
			B.QUERY_VERSION,
			B.WARRANT_MATURITY_DATE,
			B.QUERY_TYPE
		FROM
			CIFM_FLOW_STATUS A,CIFM_COMPANY_INFO B,SYS_USER C
		WHERE
			A.ID = B.ID AND A.ID= #{ID} AND A.USER_SYS_ID = C.USER_ID
	</select>
	 <!-- 查询明细表需要的信息 -->
	<select id="QueryEntDetail" parameterType="String" resultType="pd" >
		SELECT
			A.ID,
			DECRYPT_DEC(A.COMPANY_NAME) COMPANY_NAME,
			B.IP,
			to_char(B.CHECK_TIME,'yyyy-mm-dd hh24:mi:ss') CHECK_TIME,
			'0' IS_GET,
			DECRYPT_DEC(A.CHINA_CREDIT_CODE) CHINA_CREDIT_CODE,
			A.QUERY_REASON,
			to_char(B.QUERY_TIME,'yyyy-mm-dd hh24:mi:ss') QUERY_TIME,
			C.DEPT_CODE,
			C.NAME USER_REAL_NAME,
			C.USERNAME USER_SYS_NAME,
			E.NAME BRANCH_NAME,
			E.BRANCH_CODE_COMBANK BRANCH_CODE,
			E.ORG_ID_COMBANK ORG_CODE
		FROM 
			CIFM_COMPANY_INFO A,
			CIFM_FLOW_STATUS B,
			SYS_USER C,
			SYS_USER_ORG D,
			SYS_ORG E
		WHERE 
			A.ID = B.ID
			AND B.USER_SYS_ID = C.USER_ID
			AND C.USER_ID = D.USER_ID
			AND D.ORG_ID = E.ORG_ID
			AND A.ID = #{ID} 
	</select>
	<!-- 向明细表中添加数据-->
	<insert id="saveEntDetail" parameterType="pd">
		INSERT INTO CIFM_COMPANY_DETAIL
			(
				ID,
				COMPANY_NAME,
				IP,
				CHECK_TIME,
				IS_GET,
				CHINA_CREDIT_CODE,
				QUERY_REASON,
				QUERY_TIME,
				DEPT_CODE,
				USER_REAL_NAME,
				USER_SYS_NAME,
				BRANCH_NAME,
				BRANCH_CODE,
				ORG_CODE
			)       
		VALUES
			(
				#{ID},
				ENCRYPT_DEC(#{COMPANY_NAME}),
				#{IP},
				str_TO_DATE(#{CHECK_TIME},'%Y-%m-%d %H:%i:%s'),
				#{IS_GET},
				ENCRYPT_DEC(#{CHINA_CREDIT_CODE}),
				#{QUERY_REASON},
				STR_TO_DATE(#{QUERY_TIME},'%Y-%m-%d %H:%i:%s'),
				#{DEPT_CODE},
				#{USER_REAL_NAME},
				#{USER_SYS_NAME},
				#{BRANCH_NAME},
				#{BRANCH_CODE},
				#{ORG_CODE}
			)
	</insert>
	<!-- 更新明细表中查询结果状态 -->
	<update id="UpdateCDetailCheck" parameterType="pd" >
		UPDATE
				CIFM_COMPANY_DETAIL
			set 
				CHECK_TIME 				= STR_TO_DATE(#{CHECK_TIME},'%Y-%m-%d %H:%i:%s'),
				QUERY_TIME 				= STR_TO_DATE(#{QUERY_TIME},'%Y-%m-%d %H:%i:%s'),
				IS_GET 	= #{IS_GET}
			where 
				ID= #{ID}
	</update>
	 <!-- 查询机构编码 -->
	<select id="getOrgCode" parameterType="pd" resultType="pd" >
	    SELECT 
			A.CREDIT_CODE USERNAME,
			A.CURRENT_PASSWORD PASSWORD,
			A.PERBANK_STATUS,
			C.ORG_ID_COMBANK ORGCODE
		FROM 
			CIFM_CREDIT_ACCT_MANAGE A,SYS_USER B,SYS_ORG C,SYS_USER_ORG D 
		WHERE A.CREDIT_CODE = B.USERNAME_PERBANK_ORG AND B.USER_ID=#{USER_ID} AND C.ORG_ID = D.ORG_ID AND D.USER_ID=#{USER_ID} AND A.CREDIT_ACCT_TYPE in ('2','3')
	</select>
	
		<!-- 保存中证码-->
	<insert id="saveLoanNo" parameterType="pd">
		INSERT INTO 
			CIFM_COMPANY_LOANNO(
				COM_NAME,
				LoanCardNo,
				SocialCredit,
				SdepOrgCode,
				CreditCode,
				BusinessNum,
				SocialGroupNo,
				PublicNum,
				CivilNo,
				FundNo,
				Other,
				ReligionNo,
				SdeplandTaxCode,
				SdepNationalTaxCode,
				CLAWER_TIME)
			VALUES(
				encrypt_dec(#{OrgName}),
				encrypt_dec(#{LoanCardNo}),
				encrypt_dec(#{SocialCredit}),
				encrypt_dec(#{SdepOrgCode}),
				encrypt_dec(#{CreditCode}),
				encrypt_dec(#{BusinessNum}),
				encrypt_dec(#{SocialGroupNo}),
				encrypt_dec(#{PublicNum}),
				encrypt_dec(#{CivilNo}),
				encrypt_dec(#{FundNo}),
				encrypt_dec(#{Other}),
				encrypt_dec(#{ReligionNo}),
				encrypt_dec(#{SdeplandTaxCode}),
				encrypt_dec(#{SdepNationalTaxCode}),
				#{CLAWER_TIME})
	</insert>
</mapper>