<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EntAppReMapper">
    
   <!-- 企业查询申请审核列表 -->
<select id="EntAppRelistPage" parameterType="page" resultType="pd" >
		SELECT
			A.ID,
			A.APPLICATION_TIME,
			A.USER_SYS_ID,
			A.INTERNAL,
			B.COMPANY_NAME COMPANY_NAME,
			B.CREDENTIALS_NO_TYPE,
			B.CHINA_CREDIT_CODE CHINA_CREDIT_CODE,
			B.QUERY_REASON,
			B.QUERY_VERSION,
			C.NAME AS ORG_NAME,
			A.PRO_ID,
		  	p.PRODUCT_NAME
		FROM
			 CIFM_FLOW_STATUS A
            inner join CIFM_COMPANY_INFO B on  A.ID = B.ID AND A.STATUS='01' AND A.CLIENT_TYPE = '2' 
            inner join SYS_USER_ORG D on  D.USER_ID = A.USER_SYS_ID
            inner join SYS_ORG C on C.ORG_ID=D.ORG_ID
            left join cifm_product p on  A.PRO_ID = p.product_id
        WHERE
            1=1 AND A.CHECK_SYS_ID = #{pd.USER_ID} AND #{pd.ORG_ID} in (SELECT ORG_ID FROM SYS_USER_ORG WHERE USER_ID =A.USER_SYS_ID) 
			<if test="pd.COMPANY_NAME!=null and pd.COMPANY_NAME!=''">
			    AND 
			    	B.COMPANY_NAME = #{pd.COMPANY_NAME}
			</if>
			<if test="pd.CREDENTIALS_NO_TYPE!= null and pd.CREDENTIALS_NO_TYPE != ''">
				AND
					CREDENTIALS_NO_TYPE=#{pd.CREDENTIALS_NO_TYPE}
			</if>
			<if test="pd.CHINA_CREDIT_CODE!=null and pd.CHINA_CREDIT_CODE!=''">
			    AND 
			    	B.CHINA_CREDIT_CODE = #{pd.CHINA_CREDIT_CODE}
			</if>
		ORDER BY A.ID
	</select>
	
	  <!-- 查询企业申请信息 -->
	<select id="getEntCheck" parameterType="pd" resultType="pd" >
		SELECT
			A.APPLICATION_TIME,
			A.INTERNAL,
			B.COMPANY_NAME COMPANY_NAME,
			B.COMPANY_NAME ENCRY_COMPANY_NAME,
			B.CREDENTIALS_NO_TYPE,
			B.CHINA_CREDIT_CODE CHINA_CREDIT_CODE,
			A.USER_SYS_ID,
			C.USERNAME AS USER_SYS_NAME,
			B.QUERY_REASON,
			B.QUERY_VERSION,
			B.WARRANT_MATURITY_DATE,
			B.QUERY_TYPE,
			A.ORG_ID,
			ifnull(A.WARRANT,d.APPLICATION_URL) WARRANT,
			ifnull(A.LOAN_APPLICATION,e.APPLICATION_URL) LOAN_APPLICATION,
			ifnull(A.IDENTITY_DOCUMENT,f.APPLICATION_URL) IDENTITY_DOCUMENT,
			A.CHANNEL_ID ,	
        	A.PRO_ID,
			right(A.WARRANT,3) as WARRANTTYPE,
			right(A.LOAN_APPLICATION,3) as LOAN_APPLICATIONTYPE,
			right(A.IDENTITY_DOCUMENT,3) as IDENTITY_DOCUMENTTYPE
		FROM
			CIFM_FLOW_STATUS A 
		left join cifm_company_info B on A.ID = B.ID
		left join SYS_USER C on A.USER_SYS_ID = C.USER_ID
		left join id_url d on a.id = d.id and d.APPLICATION_TYPE = '01'
		left join id_url e on a.id = e.id and e.APPLICATION_TYPE = '02'
		left join id_url f on a.id = f.id and f.APPLICATION_TYPE = '03'
		where 
			A.ID= #{ID} 
	</select>
	 <!-- 查询明细表需要的信息 -->
	<select id="QueryEntDetail" parameterType="String" resultType="pd" >
		SELECT
			A.ID,
			A.COMPANY_NAME COMPANY_NAME,
			B.IP,
			date_format(B.CHECK_TIME,'%Y-%m-%d %H:%i:%s') CHECK_TIME,
			'0' IS_GET,
			A.CHINA_CREDIT_CODE CHINA_CREDIT_CODE,
			A.CREDENTIALS_NO_TYPE,
			A.QUERY_REASON,
			date_format(B.QUERY_TIME,'%Y-%m-%d %H:%i:%s') QUERY_TIME,
			C.DEPT_CODE,
			C.NAME USER_REAL_NAME,
			C.USERNAME USER_SYS_NAME,
			E.NAME BRANCH_NAME,
			E.BRANCH_CODE_COMBANK BRANCH_CODE,
			E.ORG_ID_COMBANK ORG_CODE,
			E.ORG_ID 
		FROM 
			CIFM_COMPANY_INFO A,
			CIFM_FLOW_STATUS B,
			SYS_USER C,
			SYS_USER_ORG D,
			SYS_ORG E
		WHERE 
			A.ID = B.ID
			AND B.USER_SYS_ID = C.USER_ID
			AND C.USER_ID = D.USER_ID
			AND D.ORG_ID = E.ORG_ID
			AND A.ID = #{ID} 
	</select>
	<!-- 向明细表中添加数据-->
	<insert id="saveEntDetail" parameterType="pd">
		INSERT INTO CIFM_COMPANY_DETAIL
			(
				ID,
				COMPANY_NAME,
				IP,
				CHECK_TIME,
				IS_GET,
				CHINA_CREDIT_CODE,
				QUERY_REASON,
				QUERY_TIME,
				DEPT_CODE,
				USER_REAL_NAME,
				USER_SYS_NAME,
				BRANCH_NAME,
				BRANCH_CODE,
				ORG_CODE
			)       
		VALUES
			(
				#{ID},
				#{COMPANY_NAME},
				#{IP},
				STR_TO_DATE(#{CHECK_TIME},'%Y-%m-%d %H:%i:%s'),
				#{IS_GET},
				#{CHINA_CREDIT_CODE},
				#{QUERY_REASON},
				STR_TO_DATE(#{QUERY_TIME},'%Y-%m-%d %H:%i:%s'),
				#{DEPT_CODE},
				#{USER_REAL_NAME},
				#{USER_SYS_NAME},
				#{BRANCH_NAME},
				#{BRANCH_CODE},
				#{ORG_CODE}
			)
	</insert>
	<!-- 更新明细表中查询结果状态 -->
	<update id="UpdateCDetailCheck" parameterType="pd" >
		UPDATE
				CIFM_COMPANY_DETAIL
			set 
				CHECK_TIME 				= STR_TO_DATE(#{CHECK_TIME},'%Y-%m-%d %H:%i:%s'),
				QUERY_TIME 				= STR_TO_DATE(#{QUERY_TIME},'%Y-%m-%d %H:%i:%s'),
				IS_GET 	= #{IS_GET}
			where 
				ID= #{ID}
	</update>
	 <!-- 查询机构编码 -->
	<select id="getOrgCode" parameterType="pd" resultType="pd" >
	    SELECT 
			A.CREDIT_CODE USERNAME,
			A.CURRENT_PASSWORD PASSWORD,
			A.PERBANK_STATUS,
			C.ORG_ID_COMBANK ORGCODE
		FROM 
			CIFM_CREDIT_ACCT_MANAGE A,SYS_USER B,SYS_ORG C,SYS_USER_ORG D 
		WHERE A.CREDIT_CODE = B.USERNAME_PERBANK_ORG AND B.USER_ID=#{USER_ID} 
		AND C.ORG_ID = D.ORG_ID AND D.USER_ID=#{USER_ID} 
		AND A.CREDIT_ACCT_TYPE in ('2','3')
	</select>
	<!-- 获取数据    and			
		    #{CREDENTIALS_NO_TYPE} in ('10','20')	为什么加这个-->
	<select id="findCompanyByInfo" parameterType="pd" resultType="pd">
		select 
			  A.ID,
	          A.REPORT_ID,
	          A.CHANNEL_QUERY_NO,
	          A.STATUS,
	          A.query_time
		from 
			CIFM_FLOW_STATUS A
		left join
			CIFM_COMPANY_INFO B
		on
			A.ID = B.ID
		where
			A.STATUS IN ('06')
		and
			A.INTERNAL = '2'
		and
			A.CLIENT_TYPE = '2'
		and
			B.COMPANY_NAME = #{COMPANY_NAME}		
		
		and
			B.CREDENTIALS_NO_TYPE = #{CREDENTIALS_NO_TYPE}
		and
			B.CHINA_CREDIT_CODE = #{CHINA_CREDIT_CODE}
		and
			datediff((curdate()-1),A.QUERY_TIME) &lt; #{LIMT_DATE}
		order by QUERY_TIME desc limit 1
	</select>
	<!-- 查询生成报文需要的信息 -->
	<select id="EntReportDetail" parameterType="pd" resultType="pd" >
		SELECT    
			T.ID,
            (SELECT VALUE from SERVER_MESSAGE_INFO  WHERE CODE = 'COM_QueryOrgCode') QUERY_ORG_CODE,
			(SELECT VALUE from SERVER_MESSAGE_INFO  WHERE CODE = 'RECE_ORG_CODE') RECE_ORG_CODE,
            C.USERNAME_PERBANK_ORG,
            (SELECT A.CURRENT_PASSWORD FROM  CIFM_CREDIT_ACCT_MANAGE A WHERE A.CREDIT_CODE =  C.USERNAME_PERBANK_ORG AND CREDIT_ACCT_TYPE in ('2','3')) PASSWORD,
            E.BRANCH_CODE_COMBANK ORIGINATE_ORG_CODE,
            C.USERNAME ORIGINATE_USER_CODE,
            T.COMPANY_NAME ENT_NAME,
            T.CREDENTIALS_NO_TYPE ENT_CERT_TYPE,
            T.CHINA_CREDIT_CODE ENT_CERT_NUM,
            T.QUERY_REASON QUERY_REASON,
            (SELECT VALUE from SERVER_MESSAGE_INFO  WHERE CODE = 'COM_ServiceCode') SERVICE_CODE,
            C.NAME
		FROM  
               CIFM_COMPANY_INFO T,
               CIFM_FLOW_STATUS M,
               SYS_USER C,
               SYS_USER_ORG D,
               SYS_ORG E
        WHERE 
				M.ID = T.ID AND M.USER_SYS_ID = C.USER_ID AND C.USER_ID = D.USER_ID AND D.ORG_ID = E.ORG_ID
				AND T.ID = #{ID}
	</select>
	<!-- 向流程表中添加数据-->
	<insert id="saveEntFlows" parameterType="pd">
		INSERT INTO CIFM_FLOW_STATUS
			(
				ID,
				RESULTCODE,
				RESULTDESC,
				REPORTNAME
			)       
		VALUES
			(
				#{ID},
				#{RESULTCODE},
				#{RESULTDESC},
				#{REPORTNAME}
			)
	</insert>
	<!-- 查询生成报文需要的信息 -->
	<select id="queryReportDetail" parameterType="pd" resultType="pd" >
        
        SELECT T.USERNAME_PERBANK_ORG USERCODE,
               (SELECT A.CURRENT_PASSWORD FROM  CIFM_CREDIT_ACCT_MANAGE A WHERE A.CREDIT_CODE =  T.USERNAME_PERBANK_ORG) PASSWORD,
               (SELECT VALUE FROM SERVER_MESSAGE_INFO  WHERE CODE = 'COM_QueryOrgCode') QUERYORGCODE,
               T.USERNAME ORIGINATEUSERCODE,
               (SELECT VALUE from SERVER_MESSAGE_INFO  WHERE CODE = 'COM_ServiceCode') SERVICECODE,
               C.BRANCH_CODE_COMBANK ORIGINATEORGCODE
         FROM 
         		SYS_USER T ,SYS_USER_ORG B,SYS_ORG C 
         WHERE 
         		T.USER_ID =B.USER_ID AND B.ORG_ID = C.ORG_ID  AND  T.USERNAME = #{USERNAME}
	</select>
</mapper>