<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EntObjectMapper">
	<!-- 查询企业的信息 -->
	<select id="listToCheckMainlistPage" parameterType="page" resultType="pd">
    SELECT 
      A.CI_ID||'_'||A.OBJCHECKID ID,
      A.CI_ID,
      A.OBJCHECKID,
      A.OBJCHECKNUM,
      A.CHECKBEGINDATE,
      A.RELATIVE_ENDDATE,
      CASE WHEN STR_TO_DATE(A.RELATIVE_ENDDATE,'%Y-%m-%d')>SYSDATE() THEN '未逾期' ELSE '已逾期' END OBJITEMDESC,
      A.NAME,
      A.IDTYPE,
      A.IDNUM,
      A.PHONENUM,
      A.OBJITEMINF,
      A.DATAPROVIDERORGCODE,
      A.DATAOCCURORGCODE,
      A.BUSINESSCODE,
      A.BUSINESSTYPE,
      A.CHECKFINALDATE,
      A.DATAOCCURDATE,
      A.DATAOCCURAMOUNT,
      A.ENCLOSUREFLAG,
      A.ORG_ID,
      B.BEGINDATE,
      B.ENDDATE
    FROM 
      OBJ_TOCHECKINF A,
      OBJ_CHECK_ITEM B
    WHERE 
      A.CI_ID = B.ID
      AND EXISTS(SELECT 1 FROM CIFM_FLOW_STATUS D WHERE A.CI_ID = D.ID AND D.CLIENT_TYPE = '2' )
        <if test="pd.USER_ID != null and pd.USER_ID != ''">
			and exists(select 1 from sys_user_org c where c.org_id = a.org_id and c.user_id = #{pd.USER_ID})
		</if>
		<if test="pd.ORG_NAME != null and pd.ORG_NAME != ''">
			AND  EXISTS(SELECT 1 FROM SYS_ORG C WHERE C.ORG_ID = A.ORG_ID AND C.NAME LIKE CONCAT(CONCAT('%', #{pd.ORG_NAME}),'%'))
		</if>
		<if test="pd.BEGINDATE != null and pd.BEGINDATE != ''">
			and
				B.BEGINDATE &gt;= #{pd.BEGINDATE}	
		</if>
		<if test="pd.ENDDATE != null and pd.ENDDATE != ''">
			and
				B.ENDDATE &lt;= #{pd.ENDDATE}
		</if>
		<if test="pd.OBJCHECKID != null and pd.OBJCHECKID != ''">
			and  A.OBJCHECKID =  #{pd.OBJCHECKID}
		</if>
		<if test="pd.OBJCHECKNUM != null and pd.OBJCHECKNUM != ''">
			and  A.OBJCHECKNUM =  #{pd.OBJCHECKNUM}
		</if>
		<if test="pd.ENCLOSUREFLAG != null and pd.ENCLOSUREFLAG != ''">
			and  A.ENCLOSUREFLAG =  #{pd.ENCLOSUREFLAG}
		</if>
	</select>
	<!-- 根据法人查询此法人下的所有机构 -->
	<select id="findOrgByCompany" parameterType="String" resultType="pd">
		SELECT ORG_ID,NAME,PARENT_ID FROM SYS_ORG WHERE COMPANY=#{_parameter}
	</select>
	
	<update id="batchUpdateOrg" parameterType="com.dcits.credit.entity.ObjectItem">
        UPDATE OBJ_TOCHECKINF
		SET
			ORG_ID = #{ORG_ID}
		WHERE
			<if test="ID != null and ID != ''">
				CONCAT_WS("_",CI_ID,OBJCHECKID) = #{ID}
			</if>
			<if test="ID == null or ID == ''">
				1=2
			</if>
	</update>
	<!-- 待核查一层子表列表 -->
	<select id="listToCheckSublistPage" parameterType="page" resultType="pd">
		SELECT  
	            CI_ID,
				OBJCHECKID,
				OBJCHECKNUM,
				CHECKBEGINDATE,
				NAME,
				IDTYPE,
				IDNUM,
				PHONENUM,
				OBJITEMINF,
				OBJITEMDESC,
				DATAPROVIDERORGCODE,
				DATAOCCURORGCODE,
				BUSINESSCODE,
				BUSINESSTYPE,
				CHECKFINALDATE,
				DATAOCCURDATE,
				DATAOCCURAMOUNT,
				ENCLOSUREFLAG
        FROM OBJ_TOCHECKINF
        WHERE CI_ID=#{pd.ID}
	</select>
	<!-- 待核查二层子表列表 -->
	<select id="listToCheckSubLast" parameterType="page" resultType="pd">
		SELECT  
                CHECKTIME,
                CHECKRESULT,
                CHECKRESULTDESC,
                CHECKORGCODE,
                CHECKUSERCODE,
                PHONENUM,
                CHECKACCEPTFLAG,
                CHECKOPINION
        FROM OBJ_HISTORICALCHECKINF
        WHERE T_OBJCHECKID=#{pd.OBJCHECKID}
	</select>
	<!-- 根据异议事项号和id查询异议事项附件信息 -->
	<select id="findAttrBy" parameterType="pd" resultType="pd">
		SELECT
			  ID,
			  RESULTCODE,
			  RESULTDESC,
			  OBJCHECKID,
			  ENCLOSUREFLAG ,
			  ENCLOSUREINF
        FROM OBJ_CHECK_ITEM_ATT A
        WHERE
        	ID = #{ID}
        	AND OBJCHECKID = #{OBJCHECKID}
		limit 1
	</select>
	<!-- 查询流程表所需值 -->
	<select id="findFs" parameterType="String" resultType="pd">
		SELECT A.ORG_CODE,A.ORG_ID,C.USER_ID,C.IP,C.MAC,C.LOCK_STATUS,C.USERNAME_PERBANK,C.USERNAME_PERBANK_ORG
		  FROM SYS_ORG A
		       INNER JOIN SYS_USER_ORG B ON A.ORG_ID = B.ORG_ID
		       INNER JOIN SYS_USER C ON B.USER_ID = C.USER_ID
		 WHERE C.USERNAME = #{_parameter}
	</select>
	<!-- 将请求企业异议信息落库 -->
	<insert id="SaveObjectItem" parameterType="pd">
	INSERT INTO CIFM_OBJ_COM_INFO
			(
			    ENTNAME,
				ENTIDTYPE,
				ENTIDNUM,
				BUSINESSCODE,
				LOCATEINFNM,
				LOCATEINFTYPE,
				DATAOCCURORGCODE,
				OBJDESC,
				SERVICERETURNCODE,
				ID,
				DATAPROVIDERORGCODE,
				USERCODE,
				PASSWORD,
				ORIGINATEORGCODE,
				ORIGINATEUSERCODE,
				BEGINDATE,
				ENDDATE,
				OBJCHECKID,
				PHONENUM,
				OBJCHECKNUM,
				CHECKRESULT,
				CHECKRESULTDESC,
				CORRECTRESULT,
				ENCLOSUREINF,
				CORRECTDESC,
				REPORT_TYPE,
				USERNAME,
				OBJCORRECTID
			)
		VALUES
			(
				#{ENTNAME},
				#{ENTIDTYPE},
				#{ENTIDNUM},
				#{BUSINESSCODE},
				#{LOCATEINFNM},
				#{LOCATEINFTYPE},
				#{DATAOCCURORGCODE},
				#{OBJDESC},
				#{SERVICERETURNCODE},
				#{ID},
				#{DATAPROVIDERORGCODE},
				#{USERCODE},
				#{PASSWORD},
				#{ORIGINATEORGCODE},
				#{ORIGINATEUSERCODE},
				#{BEGINDATE},
				#{ENDDATE},
				#{OBJCHECKID},
				#{PHONENUM},
				#{OBJCHECKNUM},
				#{CHECKRESULT},
				#{CHECKRESULTDESC},
				#{CORRECTRESULT},
				#{ENCLOSUREINF},
				#{CORRECTDESC},
				#{REPORT_TYPE},
				#{USERNAME},
				#{OBJCORRECTID}
			)
	</insert>
	<!-- 新增异议流程信息 -->
	<insert id="SaveObjFlow" parameterType="pd">
		INSERT INTO CIFM_FLOW_STATUS
			(
			    ID,
				USER_SYS_ID,
				IP,
				MAC,
				ORG_ID,
				CLIENT_TYPE,
				STATUS,
				CHECK_SYS_ID,
				APPLICATION_TIME,
				QUERY_TIME
			)
		VALUES
			(
				#{ID},
				#{USER_SYS_ID},
				#{IP},
				#{MAC},
				#{ORG_ID},
				#{CLIENT_TYPE},
				#{STATUS},
				#{CHECK_SYS_ID},
				STR_TO_DATE(#{APPLICATION_TIME},'%Y-%m-%d %H:%i:%s'),
                STR_TO_DATE(#{QUERY_TIME},'%Y-%m-%d %H:%i:%s')
			)
	</insert>
	<!-- 新增第一层子表-->
	<insert id="saveResultSubToCheckObjection" parameterType="pd">
		insert into OBJ_TOCHECKINF
		(
			CI_ID,
			OBJCHECKID,
			OBJCHECKNUM,
			CHECKBEGINDATE,
			NAME,
			IDTYPE,
			IDNUM,
			PHONENUM,
			OBJITEMINF,
			OBJITEMDESC,
			DATAPROVIDERORGCODE,
			DATAOCCURORGCODE,
			BUSINESSCODE,
			BUSINESSTYPE,
			CHECKFINALDATE,
			DATAOCCURDATE,
			DATAOCCURAMOUNT,
			ENCLOSUREFLAG,
			RELATIVE_ENDDATE)
  		values (
	  		#{ID},
	        #{ObjCheckID},
	        #{ObjCheckNum},
	        #{CheckBeginDate},
	        #{EntName},
	        #{EntIDType},
	        #{EntIDNum},
	        #{PhoneNum},
	        #{ObjItemInf},
	        #{ObjItemDesc},
	        #{DataProviderOrgCode},
	        #{DataOccurOrgCode},
	        #{BusinessCode},
	        #{BusinessType},
	        #{CheckFinalDate},
	        #{DataOccurDate},
	        #{DataOccurAmount},
	        #{EnclosureFlag},
		    date_format((str_to_date(#{CheckBeginDate},'%Y-%m-%d%')+5),'%Y-%m-%d')
		)
	</insert>
	<!-- 新增主表-->
	<insert id="saveResultToCheckObjection" parameterType="pd">
		insert into OBJ_CHECK_ITEM
		(
			ID,
			RESULTCODE,
			RESULTDESC,
			BEGINDATE,
			ENDDATE,
			TOCHECKNM)
  		values (
  			#{ID},
	  		#{ResultCode},
	        #{ResultDesc},
	        #{BeginDate},
	        #{EndDate},
	        #{ToCheckNm}
		)
	</insert>
	<!-- 新增异议附件表-->
	<insert id="saveResultToCheckObjectionEnclosure" parameterType="pd">
		insert into OBJ_CHECK_ITEM_ATT
		(
			ID,
			RESULTCODE,
			RESULTDESC,
			OBJCHECKID,
			ENCLOSUREFLAG
			)
  		values (
  			#{ID},
	  		#{ResultCode},
	        #{ResultDesc},
	        #{ObjCheckID},
	        #{EnclosureFlag}
		)
	</insert>
	<!-- 最内层子表-->
	<insert id="saveResultSubLastToCheckObjection" parameterType="pd">
		insert into OBJ_HISTORICALCHECKINF
		(
			T_OBJCHECKID,
			CHECKTIME,
			CHECKRESULT,
			CHECKRESULTDESC,
			CHECKORGCODE,
			CHECKUSERCODE,
			PHONENUM,
			CHECKACCEPTFLAG,
			CHECKOPINION)
  		values (
  			#{ObjCheckID},
	  		#{CheckTime},
			#{CheckResult},
			#{CheckResultDesc},
			#{CheckOrgCode},
			#{CheckUserCode},
			#{PhoneNum},
			#{CheckAcceptFlag},
			#{CheckOpinion}
		)
	</insert>
	<!-- 查询异议事项所有上报信息根据条件 -->
	<select id="findObjeReportBy" parameterType="pd" resultType="pd">
		SELECT 
			ORG_ID,RESULT_PHONENUM PHONENUM,RESULT_CHECKRESULT CHECKRESULT,
			RESULT_CHECKRESULTDESC CHECKRESULTDESC,CI_ID ID,OBJCHECKID,
			OBJCHECKNUM,CHECKBEGINDATE,NAME,IDTYPE,IDNUM,PHONENUM,OBJITEMINF,OBJITEMDESC,
			DATAPROVIDERORGCODE,DATAOCCURORGCODE,BUSINESSCODE,BUSINESSTYPE,CHECKFINALDATE,
			DATAOCCURDATE,DATAOCCURAMOUNT,ENCLOSUREFLAG,HISTORICALCHECKINF,
			CORRECTRESULT,CORRECTDESC,CORRECT_ENCLOSUREINF
		FROM 
			OBJ_TOCHECKINF
		WHERE 
			CI_ID=#{ID} 
			AND OBJCHECKID=#{OBJCHECKID}
	</select>
	<!-- 查询异议添加添加标注信息 -->
	<select id="findAddRemarkBy" parameterType="pd" resultType="pd">
	    SELECT 
	           OBJCORRECTID,ID,DATAPROVIDERORGCODE,USERCODE,PASSWORD,
	           ORIGINATEORGCODE,ORIGINATEUSERCODE,BEGINDATE,ENDDATE,OBJCHECKID,
	           PHONENUM,OBJCHECKNUM,CHECKRESULT,CHECKRESULTDESC,CORRECTRESULT,
	           ENCLOSUREINF,CORRECTDESC,ENTNAME,ENTIDTYPE,ENTIDNUM,BUSINESSCODE,
	           LOCATEINFNM,LOCATEINFTYPE,DATAOCCURORGCODE,OBJDESC,SERVICERETURNCODE,
	           USERNAME,REPORT_TYPE
	    FROM 
	     	   CIFM_OBJ_COM_INFO
		WHERE ID= #{ID}
	</select>
	<!--存入异议信息表请求-->
	<insert id="saveToObjectionInfoSix" parameterType="pd">
		insert into CIFM_OBJ_COM_INFO
		(
			ID,
			ENTNAME,
			ENTIDTYPE,
			ENTIDNUM,
			BUSINESSCODE,
			LOCATEINFNM,
			LOCATEINFTYPE,
			OBJDESC,
			REPORT_TYPE)
  		values (
  			#{ID},
	        #{ENTNAME},
	        #{ENTIDTYPE},
	        #{ENTIDNUM},
	        #{BUSINESSCODE},
	        #{LOCATEINFNM},
	        #{LOCATEINFTYPE},
	        #{OBJDESC},
	        #{REPORTTYPE}
		)
	</insert>
	<!--存入流程状态表-->
	<insert id="saveToFs" parameterType="pd">
		insert into CIFM_FLOW_STATUS
		(
			ID,
       		USER_SYS_ID,
       		ORG_ID,
		 	APPLICATION_TIME,
			CHECK_SYS_ID,
	  		STATUS,
	  		IP,
	  		MAC,
	  		QUERY_TIME,
	  		CLIENT_TYPE)
  		values (
	  		#{ID},
	        #{USER_SYS_ID},
	        #{ORG_ID},
	        STR_TO_DATE(#{APPLICATION_TIME},'%Y-%m-%d %H:%i:%s'),
			#{CHECK_SYS_ID},
	  		#{STATUS},
	  		#{IP},
	  		#{MAC},
            STR_TO_DATE(#{QUERY_TIME},'%Y-%m-%d %H:%i:%s'),
	  		#{CLIENT_TYPE}
		)
	</insert>
	<!-- 添加企业标注表-->
	<insert id="saveResultToAddLabel" parameterType="pd">
		insert into OBJ_ADD_REMARK
		(
			ID,
			RESULTCODE,
			RESULTDESC,
			SERVICERETURNCODE,
			USER_ID
			)
  		values (
  			#{ID},
	  		#{ResultCode},
	        #{ResultDesc},
	        #{ServiceReturnCode},
	        #{USER_ID}
		)
	</insert>
	<!-- 修改个人标注信息  -->
	<update id="updatePersonLabel" parameterType="pd">
		UPDATE CIFM_OBJ_COM_INFO
		SET
			ENTNAME = #{ENTNAME},
			ENTIDTYPE = #{ENTIDTYPE},
			ENTIDNUM = #{ENTIDNUM},
			LOCATEINFNM = #{LOCATEINFNM},
			LOCATEINFTYPE = #{LOCATEINFTYPE},
			OBJDESC = #{OBJDESC}
		WHERE 
			ID = #{ID}
	</update>
	<update id="updateResultToAddLabel" parameterType="pd">
		UPDATE OBJ_ADD_REMARK 
		SET
			ENTNAME = #{ENTNAME},
			ENTIDTYPE = #{ENTIDTYPE},
			ENTIDNUM = #{ENTIDNUM},
			LOCATEINFNM = #{LOCATEINFNM},
			LOCATEINFTYPE = #{LOCATEINFTYPE},
			OBJDESC = #{OBJDESC}
		WHERE 
			ID = #{ID}
	</update>
	<update id="updateToObjectionInfoSix" parameterType="pd">
		UPDATE 
				CIFM_OBJ_COM_INFO
		SET 
				ENTNAME =  #{ENTNAME},
				ENTIDTYPE = #{ENTIDTYPE},
				ENTIDNUM = #{ENTIDNUM},
				BUSINESSCODE = #{BUSINESSCODE},
				LOCATEINFNM = #{LOCATEINFNM},
				LOCATEINFTYPE = #{LOCATEINFTYPE},
				OBJDESC = #{OBJDESC},
				REPORT_TYPE = #{REPORTTYPE}
		where ID = #{ID}
	</update>
	<update id="updateToFs" parameterType="pd">
		UPDATE 
				CIFM_FLOW_STATUS
		   SET
				USER_SYS_ID =  #{USER_SYS_ID},
				ORG_ID = #{ORG_ID},
				APPLICATION_TIME = STR_TO_DATE(#{APPLICATION_TIME},'%Y-%m-%d %H:%i:%s'),
				CHECK_SYS_ID = #{CHECK_SYS_ID},
				STATUS = #{STATUS},
				IP = #{IP},
				MAC = #{MAC},
				QUERY_TIME = STR_TO_DATE(#{QUERY_TIME},'%Y-%m-%d %H:%i:%s'),
				CLIENT_TYPE = #{CLIENT_TYPE}
		WHERE   ID = #{ID}
	</update>
	<!-- 1.获取企业待核查异议事项 -->
	<select id="listObjectlistPage" parameterType="page" resultType="pd">
	    SELECT  A.ID,
                A.USERNAME,
                C.NAME,
                A.DATAPROVIDERORGCODE,
                A.ORIGINATEUSERCODE,
                B.RESULTCODE,
                B.RESULTDESC,
                B.BEGINDATE,
                B.ENDDATE,
                B.TOCHECKNM
        FROM 
            CIFM_OBJ_COM_INFO A INNER JOIN OBJ_CHECK_ITEM B ON A.ID = B.ID  
            INNER JOIN SYS_USER C ON A.USERNAME = C.USERNAME
        WHERE
            A.REPORT_TYPE = '1'  
       		<if test="pd.COMPANY != null and pd.COMPANY != ''">
				AND C.USERNAME IN (SELECT USERNAME FROM SYS_USER WHERE COMPANY = #{pd.COMPANY})
			</if>
			<if test="pd.USERNAMER != null and pd.USERNAMER != ''">
				AND A.USERNAME=#{pd.USERNAMER}
			</if>
			<if test="pd.NAME != null and pd.NAME != ''">
				AND C.NAME = #{pd.NAME}
		    </if>
		    <if test="pd.RESULTDESC != null and pd.RESULTDESC != ''">
				AND B.RESULTDESC = #{pd.RESULTDESC}
			</if>
			<if test="pd.BEGINDATE != null and pd.BEGINDATE != ''">
				AND B.BEGINDATE  &gt;=  #{pd.BEGINDATE}
			</if>
			<if test="pd.ENDDATE != null and pd.ENDDATE != ''">
				AND B.ENDDATE &lt;= #{pd.ENDDATE}
			</if>
	</select>
	<!-- 获取待核查异议事项应答报文信息 -->
	<select id="responseReportlistPage" parameterType="pd" resultType="pd">
		SELECT 
   	    			CI_ID,
					OBJCHECKID,
					OBJCHECKNUM,
					CHECKBEGINDATE,
					NAME,
					IDTYPE,
					IDNUM,
					PHONENUM,
					OBJITEMINF,
					OBJITEMDESC,
					DATAPROVIDERORGCODE,
					DATAOCCURORGCODE,
					BUSINESSCODE,
					BUSINESSTYPE,
					CHECKFINALDATE,
					DATAOCCURDATE,
					DATAOCCURAMOUNT,
					ENCLOSUREFLAG
		    FROM
		 		    OBJ_TOCHECKINF
		    WHERE
		            CI_ID = #{pd.USER_ID}
	</select>
	<!-- 获取待核查异议事项应答报文历史信息 -->
	<select id="toObjectHislistPage" parameterType="pd" resultType="pd">
		SELECT 
				CHECKACCEPTFLAG,
				CHECKOPINION,
				T_OBJCHECKID,
				CHECKTIME,
				CHECKRESULT,
				CHECKRESULTDESC,
				CHECKORGCODE,
				CHECKUSERCODE,
				PHONENUM
		    FROM
		 		    OBJ_HISTORICALCHECKINF
		    WHERE
		            T_OBJCHECKID = #{pd.OBJCHECKID}
	</select>
	<!-- 2.获取企业待核查异议事项附件信息 -->	
	<select id="listObjAccesslistPage" parameterType="pd" resultType="pd">
		  
	      SELECT 
        	   A.DATAPROVIDERORGCODE,
        	   C.NAME,
               A.USERNAME,
               A.ORIGINATEUSERCODE,
               B.RESULTCODE,
               B.RESULTDESC,
               B.OBJCHECKID,
               B.ENCLOSUREFLAG,
               B.ENCLOSUREINF
        FROM 
    			 CIFM_OBJ_COM_INFO A INNER JOIN 
    			 OBJ_CHECK_ITEM_ATT B 
     		     ON A.ID = B.ID 
     		     INNER JOIN SYS_USER C ON A.USERNAME = C.USERNAME
        WHERE 
        		A.REPORT_TYPE ='2' 
					<if test="pd.COMPANY != null and pd.COMPANY != ''">
						AND C.USERNAME IN (SELECT USERNAME FROM SYS_USER WHERE COMPANY = #{pd.COMPANY})
					</if>
					<if test="pd.USERNAMER != null and pd.USERNAMER != ''">
						AND A.USERNAME=#{pd.USERNAMER}
					</if>
	          		<if test="pd.NAME != null and pd.NAME != ''">
						AND C.NAME = #{pd.NAME}
					</if>
					<if test="pd.OBJCHECKID != null and pd.OBJCHECKID != ''">
						AND B.OBJCHECKID LIKE  CONCAT(CONCAT('%',#{pd.OBJCHECKID}),'%')
					</if>
					<if test="pd.RESULTDESC != null and pd.RESULTDESC != ''">
						AND B.RESULTDESC LIKE  CONCAT(CONCAT('%',#{pd.RESULTDESC}),'%')
					</if>
					<if test="pd.ENCLOSUREFLAG != null and pd.ENCLOSUREFLAG != ''">
						AND B.ENCLOSUREFLAG LIKE  CONCAT(CONCAT('%',#{pd.ENCLOSUREFLAG}),'%')
					</if>
	</select>
	<!-- 3.反馈企业异议事项核查结果 -->
	<select id="listObjTransRecordlistPage" parameterType="pd" resultType="pd">
		SELECT  
            (SELECT NAME FROM SYS_USER WHERE USER_ID = B.USER_ID) NAME,
            D.CI_ID ID,
            A.DATAPROVIDERORGCODE,
            A.ORIGINATEORGCODE,
            A.ORIGINATEUSERCODE,
	        D.OBJCHECKID,
         	D.OBJCHECKNUM,
	        D.RESULT_PHONENUM PHONENUM,
	        D.RESULT_CHECKRESULT CHECKRESULT,
	        D.RESULT_CHECKRESULTDESC CHECKRESULTDESC,
	        D.CHECKBEGINDATE,
      		D.RELATIVE_ENDDATE,
            B.RESULTCODE,
            B.RESULTDESC
        FROM 
        	OBJ_TOCHECKINF D
        LEFT JOIN 
        	CIFM_OBJ_COM_INFO A
        ON D.CI_ID = A.ID
          	LEFT JOIN OBJ_UNIVERSAL_RESULT B
        ON D.CI_ID = B.ID
        	 AND B.OBJCHECKID = D.OBJCHECKID
          	AND B.REPORT_TYPE='3'
        where 1=1 AND EXISTS(SELECT 1 FROM CIFM_FLOW_STATUS E WHERE D.CI_ID = E.ID AND E.CLIENT_TYPE = '2' )
        <if test="pd.USER_ID != null and pd.USER_ID != ''">
			AND EXISTS(SELECT 1 FROM SYS_USER_ORG WHERE ORG_ID = D.ORG_ID AND USER_ID = #{pd.USER_ID})
		</if>
		<if test="pd.NAME != null and pd.NAME != ''">
			AND EXISTS(SELECT 1 FROM SYS_USER F WHERE B.USER_ID = F.USER_ID AND F.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%'))
		</if>
		<if test="pd.OBJCHECKID != null and pd.OBJCHECKID != ''">
			AND D.OBJCHECKID LIKE CONCAT(CONCAT('%', #{pd.OBJCHECKID}),'%')
		</if>
		<if test="pd.OBJCHECKNUM != null and pd.OBJCHECKNUM != ''">
			AND D.OBJCHECKNUM LIKE CONCAT(CONCAT('%', #{pd.OBJCHECKNUM}),'%')
		</if>
		<if test="pd.CHECKRESULTDESC != null and pd.CHECKRESULTDESC != ''">
			AND D.RESULT_CHECKRESULTDESC LIKE CONCAT(CONCAT('%', #{pd.CHECKRESULTDESC}),'%')
		</if>
		<if test="pd.RESULTDESC != null and pd.RESULTDESC != ''">
			AND B.RESULTDESC LIKE CONCAT(CONCAT('%', #{pd.RESULTDESC}),'%')
		</if>		
	</select>
	<!-- 查询是否含有重复事项 -->
	<select id="selectObjectID" parameterType="pd" resultType="pd">
    	SELECT
    			 COUNT(1) COUNTOBJECTID
    	FROM 
    			OBJ_UNIVERSAL_RESULT T 
    	WHERE 
    			T.OBJCHECKID = #{OBJCHECKID}
    		AND 
    			T.ID = #{ID} 
    		AND 
    			T.REPORT_TYPE = #{REPORT_TYPE}
	</select>
	<!-- 修改核查结果上报信息 -->
	<update id="toCheckObjectionUpdate" parameterType="pd">
	UPDATE  OBJ_UNIVERSAL_RESULT
	SET 
			ID = #{ID},
			RESULTCODE = #{ResultCode},
			RESULTDESC = #{ResultDesc},
			USER_ID = #{USER_ID}
	 WHERE 
	       REPORT_TYPE = #{REPORT_TYPE}
	 AND   OBJCHECKID = #{OBJCHECKID}
	 AND   ID = #{ID}
	</update>	
	<!-- 保存核查结果上报信息 -->
	<update id="saveCheckResult" parameterType="pd">
		UPDATE OBJ_TOCHECKINF
		SET
			RESULT_PHONENUM = #{PHONENUM},
			RESULT_CHECKRESULT = #{CHECKRESULT},
			RESULT_CHECKRESULTDESC = #{CHECKRESULTDESC}
		WHERE 
			CI_ID = #{ID}
			AND OBJCHECKID = #{OBJCHECKID}
	</update>
	<!-- 保存更正结果上报信息 -->
	<update id="correctCheckResult" parameterType="pd">
		UPDATE OBJ_TOCHECKINF
		SET
			CORRECTRESULT = #{CORRECTRESULT},
			CORRECTDESC = #{CORRECTDESC},
			CORRECT_ENCLOSUREINF = #{FILE}
		WHERE 
			CI_ID = #{ID}
			AND OBJCHECKID = #{OBJCHECKID}
	</update>
	<!-- 通用结果表-->
	<insert id="toCheckObjectionResult" parameterType="pd">
	insert into OBJ_UNIVERSAL_RESULT
		(
			ID,
			OBJCHECKID,
			RESULTCODE,
			RESULTDESC,
			REPORT_TYPE,
			USER_ID
			)
  	values (
  			#{ID},
  			#{OBJCHECKID},
	  		#{ResultCode},
	        #{ResultDesc},
	        #{REPORT_TYPE},
	        #{USER_ID}
		)
<!-- 		UPDATE OBJ_UNIVERSAL_RESULT
		SET RESULTCODE = #{ResultCode},RESULTDESC = #{ResultDesc},REPORT_TYPE = #{REPORT_TYPE},OBJCHECKID = #{OBJCHECKID}
		WHERE USER_ID = #{USER_ID} and ID = #{ID} -->
	</insert>
	<!-- 通过系统用户名获取人行账户信息-->
	<select id="findPerBankInfo" parameterType="String" resultType="pd">
		select 
			A.USERNAME_PERBANK,
			(SELECT CURRENT_PASSWORD 
				FROM CIFM_CREDIT_ACCT_MANAGE 
				WHERE CREDIT_ACCT_TYPE in ('1','3') AND CREDIT_CODE = A.USERNAME_PERBANK) PER_PASSWORD,
			USERNAME_PERBANK_ORG,
			(SELECT CURRENT_PASSWORD 
				FROM CIFM_CREDIT_ACCT_MANAGE 
				WHERE CREDIT_ACCT_TYPE in ('2','3') AND CREDIT_CODE = A.USERNAME_PERBANK_ORG) COM_PASSWORD
		FROM 
			SYS_USER A
		where A.USERNAME = #{_parameter}
	</select>
	
	<!-- 4.反馈企业异议事项更正结果-->
     <select id="listObjTransCorrectlistPage" parameterType="pd" resultType="pd">
		SELECT
			(SELECT NAME FROM SYS_USER WHERE USER_ID = B.USER_ID) NAME,
			D.CI_ID ID,
			A.DATAPROVIDERORGCODE,
			A.ORIGINATEORGCODE,
			A.ORIGINATEUSERCODE,
			D.CORRECTRESULT,
			D.OBJCHECKID,
			D.OBJCHECKNUM,
			D.CORRECTDESC,
			D.CORRECT_ENCLOSUREINF,
			D.CHECKBEGINDATE,
      		D.RELATIVE_ENDDATE,
			B.RESULTDESC
		FROM 
			OBJ_TOCHECKINF D
		LEFT JOIN 
			CIFM_OBJ_COM_INFO A
		ON D.CI_ID = A.ID
			LEFT JOIN OBJ_UNIVERSAL_RESULT B
		ON D.CI_ID = B.ID
			AND B.OBJCHECKID = D.OBJCHECKID
			AND B.REPORT_TYPE='4'
		 where 1=1 AND EXISTS(SELECT 1 FROM CIFM_FLOW_STATUS D WHERE D.CI_ID = D.ID AND D.CLIENT_TYPE = '2' )
		<if test="pd.USER_ID != null and pd.USER_ID != ''">
			AND EXISTS(SELECT 1 FROM SYS_USER_ORG WHERE ORG_ID = D.ORG_ID AND USER_ID = #{pd.USER_ID})
		</if>
		<if test="pd.NAME != null and pd.NAME != ''">
			AND EXISTS(SELECT 1 FROM SYS_USER F WHERE B.USER_ID = F.USER_ID AND F.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%'))
		</if>
		<if test="pd.CORRECTRESULT != null and pd.CORRECTRESULT != ''">
			AND D.CORRECTRESULT LIKE CONCAT(CONCAT('%', #{pd.CORRECTRESULT}),'%')
		</if>
		<if test="pd.CORRECTDESC != null and pd.CORRECTDESC != ''">
			AND D.CORRECTDESC LIKE CONCAT(CONCAT('%', #{pd.CORRECTDESC}),'%')
		</if>
		<if test="pd.RESULTDESC != null and pd.RESULTDESC != ''">
			AND B.RESULTDESC LIKE CONCAT(CONCAT('%', #{pd.RESULTDESC}),'%')
		</if>
	</select>
	<!-- 5.查询企业异议事项更正结果接受情况 -->
	 <select id="listObjTransRecCorlistPage" parameterType="pd" resultType="pd">
		SELECT  
			(SELECT NAME FROM SYS_USER WHERE USER_ID = B.USER_ID) NAME,
			D.CI_ID ID,
			A.DATAPROVIDERORGCODE,
			A.ORIGINATEORGCODE,
			A.ORIGINATEUSERCODE,
			D.OBJCHECKID,
			D.OBJCHECKNUM,
			D.CHECKBEGINDATE,
      		D.RELATIVE_ENDDATE,
			B.RESULTDESC,
			B.CORRECTACCEPTFLAG,
			B.CORRECTOPINION
		FROM 
			OBJ_TOCHECKINF D
		LEFT JOIN 
			CIFM_OBJ_COM_INFO A
		ON 
			D.CI_ID = A.ID
		LEFT JOIN OBJ_UPDATE_RESULT_ACCEPT B
		ON 
			B.OBJCHECKID = D.OBJCHECKID
			AND D.CI_ID = B.ID
		where 
			EXISTS(SELECT 1 FROM CIFM_FLOW_STATUS WHERE ID = D.CI_ID AND CLIENT_TYPE='2')
			<if test="pd.USER_ID != null and pd.USER_ID != ''">
				AND EXISTS(SELECT 1 FROM SYS_USER_ORG WHERE ORG_ID = D.ORG_ID AND USER_ID = #{pd.USER_ID})
			</if>
			<if test="pd.NAME != null and pd.NAME != ''">
				AND EXISTS(SELECT 1 FROM SYS_USER F WHERE B.USER_ID = F.USER_ID AND F.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%'))
			</if>
			<if test="pd.OBJCHECKID != null and pd.OBJCHECKID != ''">
				AND D.OBJCHECKID LIKE CONCAT(CONCAT('%', #{pd.OBJCHECKID}),'%')
			</if>
			<if test="pd.RESULTDESC != null and pd.RESULTDESC != ''">
				AND B.RESULTDESC LIKE CONCAT(CONCAT('%', #{pd.RESULTDESC}),'%')
			</if>
			<if test="pd.CORRECTACCEPTFLAG != null and pd.CORRECTACCEPTFLAG != ''">
				AND B.CORRECTACCEPTFLAG LIKE CONCAT(CONCAT('%', #{pd.CORRECTACCEPTFLAG}),'%')
			</if>
			<if test="pd.CORRECTOPINION != null and pd.CORRECTOPINION != ''">
				AND B.CORRECTOPINION LIKE CONCAT(CONCAT('%', #{pd.CORRECTOPINION}),'%')
			</if>
			
	</select>
		<!-- 查询是否含有重复事项 -->
	<select id="selectObjectCorrectID" parameterType="pd" resultType="pd">
    	SELECT
    			 COUNT(1) COUNTOBJECTID
    	FROM 
    			OBJ_UPDATE_RESULT_ACCEPT T 
    	WHERE 
    			T.OBJCHECKID = #{OBJCHECKID}
    		AND
    			T.ID = #{ID} 
	</select>
		<!-- 异议事项更正结果接受表-->
	<insert id="saveResultToObjectionCorrectAccept" parameterType="pd">
		insert into OBJ_UPDATE_RESULT_ACCEPT
		(
			ID,
			OBJCHECKID,
			RESULTCODE,
			RESULTDESC,
			CORRECTACCEPTFLAG,
			CORRECTOPINION,
			USER_ID
			)
  		values (
  			#{ID},
  			#{OBJCHECKID},
	  		#{ResultCode},
	        #{ResultDesc},
	        #{CorrectAcceptFlag},
	        #{CorrectOpinion},
	        #{USER_ID}
		) 

	</insert>
	<!-- 保存更正结果上报信息 -->
	<update id="updateResultToObjectionCorrectAccept" parameterType="pd">
		UPDATE OBJ_UPDATE_RESULT_ACCEPT
		SET
			RESULTCODE = #{ResultCode},
			RESULTDESC = #{ResultDesc},
			CORRECTACCEPTFLAG = #{CorrectAcceptFlag},
			CORRECTOPINION = #{CorrectOpinion},
			USER_ID = #{USER_ID}
		WHERE 
			ID = #{ID}
			AND OBJCHECKID = #{OBJCHECKID}
	</update>
	<!--6. 添加标注 -->
	   <select id="listObjAddRemarklistPage" parameterType="pd" resultType="pd">
	    SELECT  
	      (SELECT NAME FROM SYS_USER WHERE USER_ID = B.USER_ID) NAME,
	      A.ID,
	      A.ENTNAME,
	      A.ENTIDTYPE,
	      A.ENTIDNUM,
	      A.BUSINESSCODE,
	      A.LOCATEINFNM,
	      A.LOCATEINFTYPE,
	      A.DATAOCCURORGCODE,
	      A.OBJDESC,
	      A.DEL_RESULTCODE,
	      A.DEL_RESULTDESC,
	      B.RESULTCODE,
	      B.RESULTDESC,
	      B.SERVICERETURNCODE
	    FROM CIFM_OBJ_COM_INFO A
	    LEFT JOIN OBJ_ADD_REMARK B
	    ON A.ID = B.ID
	    WHERE 
	      A.ENTNAME IS NOT NULL AND A.ENTIDTYPE IS NOT NULL AND A.ENTIDNUM IS NOT NULL
			AND (DEL_RESULTCODE IS NULL OR DEL_RESULTCODE &lt;&gt; 'AAA000')
					<if test="pd.NAME != null and pd.NAME != ''">
						AND EXISTS(SELECT 1 FROM SYS_USER F WHERE B.USER_ID = F.USER_ID AND F.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%'))
					</if>
					<if test="pd.ENTNAME != null and pd.ENTNAME != ''">
						AND A.ENTNAME = #{pd.ENTNAME}
					</if>
					<if test="pd.ENTIDTYPE != null and pd.ENTIDTYPE != ''">
						AND A.ENTIDTYPE LIKE  CONCAT(CONCAT('%',#{pd.ENTIDTYPE}),'%')
					</if>
					<if test="pd.ENTIDNUM != null and pd.ENTIDNUM != ''">
						AND A.ENTIDNUM =#{pd.ENTIDNUM}
					</if>
					<if test="pd.OBJDESC != null and pd.OBJDESC != ''">
						AND A.OBJDESC LIKE  CONCAT(CONCAT('%',#{pd.OBJDESC}),'%')
					</if>
					<if test="pd.SERVICERETURNCODE != null and pd.SERVICERETURNCODE != ''">
						AND B.SERVICERETURNCODE LIKE  CONCAT(CONCAT('%',#{pd.SERVICERETURNCODE}),'%')
					</if>
					<if test="pd.RESULTDESC != null and pd.RESULTDESC != ''">
						AND B.RESULTDESC LIKE  CONCAT(CONCAT('%',#{pd.RESULTDESC}),'%')
					</if>
			
	</select>
	<!-- 7.删除标注 -->
	<select id="listObjDeletelistPage" parameterType="page" resultType="pd">
        SELECT 
        	   A.DATAPROVIDERORGCODE,
               C.NAME,
               A.USERNAME,
               A.ORIGINATEUSERCODE,
               A.SERVICERETURNCODE,
               B.RESULTDESC
        FROM 
        	   CIFM_OBJ_COM_INFO A INNER JOIN 
        	   OBJ_UNIVERSAL_RESULT B 
        	   ON A.ID = B.ID
        	   INNER JOIN SYS_USER C ON A.USERNAME = C.USERNAME
        WHERE 
        	   A.REPORT_TYPE = '7' 
		        	<if test="pd.COMPANY != null and pd.COMPANY != ''">
						AND C.USERNAME IN (SELECT USERNAME FROM SYS_USER WHERE COMPANY = #{pd.COMPANY})
					</if>
					<if test="pd.USERNAMER != null and pd.USERNAMER != ''">
						AND A.USERNAME=#{pd.USERNAMER}
					</if>
					<if test="pd.NAME != null and pd.NAME != ''">
						AND EXISTS(SELECT 1 FROM SYS_USER F WHERE B.USER_ID = F.USER_ID AND F.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%'))
					</if>
					<if test="pd.OBJCHECKID != null and pd.OBJCHECKID != ''">
						AND A.OBJCHECKID LIKE  CONCAT(CONCAT('%',#{pd.OBJCHECKID}),'%')
					</if>
					<if test="pd.OBJCHECKNUM != null and pd.OBJCHECKNUM != ''">
						AND A.OBJCHECKNUM LIKE  CONCAT(CONCAT('%',#{pd.OBJCHECKNUM}),'%')
					</if>
					<if test="pd.RESULTDESC != null and pd.RESULTDESC != ''">
						AND B.RESULTDESC LIKE  CONCAT(CONCAT('%',#{pd.RESULTDESC}),'%')
					</if>
	</select>
	<!-- 删除企业标注列表 -->
	<select id="listDeletePersonLabellistPage" parameterType="page" resultType="pd">
		<!-- SELECT  
		        A.USERNAME,
		        A.ID,
		        C.NAME,
		        A.DATAPROVIDERORGCODE,
                A.ORIGINATEORGCODE,
                A.ORIGINATEUSERCODE,
                A.SERVICERETURNCODE,
                B.RESULTCODE,
                B.RESULTDESC
        FROM CIFM_OBJ_PER_INFO A
        INNER JOIN OBJ_UNIVERSAL_RESULT B
        ON A.ID = B.ID
        INNER JOIN SYS_USER C
        ON A.USERNAME= C.USERNAME
        WHERE A.REPORT_TYPE='7'
        <if test="pd.USERNAMEINF== null or pd.USERNAMEINF == ''">
			and A.USERNAME in(select username from sys_user where company=#{pd.company})
		</if>
		<if test="pd.USERNAMEINF != null and pd.USERNAMEINF != ''">
			and A.USERNAME=#{pd.USERNAMEINF}
		</if>
        <if test="pd.NAME != null and pd.NAME != ''">
			and
				C.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%')
		</if>
		<if test="pd.RESULTDESC != null and pd.RESULTDESC != ''">
			and
				B.RESULTDESC LIKE CONCAT(CONCAT('%', #{pd.RESULTDESC}),'%')
		</if>
		 -->
	    SELECT  
	      (SELECT NAME FROM SYS_USER WHERE USER_ID = B.USER_ID) NAME,
	      A.ID,
	      A.ENTNAME ENTNAME,
	      A.ENTIDTYPE,
	      A.ENTIDNUM,
	      A.BUSINESSCODE,
	      A.LOCATEINFNM,
	      A.LOCATEINFTYPE,
	      A.DATAOCCURORGCODE,
	      A.OBJDESC,
	      A.DEL_RESULTCODE,
	      A.DEL_RESULTDESC,
	      B.RESULTCODE,
	      B.RESULTDESC,
	      B.SERVICERETURNCODE
	    FROM CIFM_OBJ_COM_INFO A
	    LEFT JOIN OBJ_ADD_REMARK B
	    ON A.ID = B.ID
	    WHERE 
	      A.ENTNAME IS NOT NULL AND A.ENTIDTYPE IS NOT NULL AND A.ENTIDNUM IS NOT NULL
	      AND DEL_RESULTCODE IS NOT NULL  
		<if test="pd.NAME != null and pd.NAME != ''">
			AND EXISTS(SELECT 1 FROM SYS_USER F WHERE B.USER_ID = F.USER_ID AND F.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%'))
		</if>
		<if test="pd.ENTNAME != null and pd.ENTNAME != ''">
			AND A.ENTNAME =#{pd.ENTNAME}
		</if>
		<if test="pd.ENTIDTYPE != null and pd.ENTIDTYPE != ''">
			AND A.ENTIDTYPE LIKE  CONCAT(CONCAT('%',#{pd.ENTIDTYPE}),'%')
		</if>
		<if test="pd.ENTIDNUM != null and pd.ENTIDNUM != ''">
			AND A.ENTIDNUM =#{pd.ENTIDNUM}
		</if>
		<if test="pd.OBJDESC != null and pd.OBJDESC != ''">
			AND A.OBJDESC LIKE  CONCAT(CONCAT('%',#{pd.OBJDESC}),'%')
		</if>
		<if test="pd.SERVICERETURNCODE != null and pd.SERVICERETURNCODE != ''">
			AND B.SERVICERETURNCODE LIKE  CONCAT(CONCAT('%',#{pd.SERVICERETURNCODE}),'%')
		</if>
		<if test="pd.DEL_RESULTDESC != null and pd.DEL_RESULTDESC != ''">
			AND A.DEL_RESULTDESC LIKE  CONCAT(CONCAT('%',#{pd.DEL_RESULTDESC}),'%')
		</if>
	</select>
		<!-- 删除个人标注信息 -->
	<update id="deleteEntLabel" parameterType="pd">
		UPDATE 
			CIFM_OBJ_COM_INFO
		SET
			DEL_RESULTCODE = #{ResultCode},
			DEL_RESULTDESC = #{ResultDesc} 
		WHERE
			ID = #{ID} 
	</update>
		<!-- 删除附件信息 -->
	<update id="updateAtt" parameterType="pd">
     UPDATE 
     		OBJ_TOCHECKINF    
      SET
      		CORRECT_ENCLOSUREINF = #{ResultDesc} 
    WHERE
	        CI_ID = #{ID}
	        AND 
	        OBJCHECKID = #{OBJCHECKID}
	</update>
	<!-- 通过id查询异议处理结果附件信息 -->
	<select id="findResultAtt" parameterType="pd" resultType="pd">
		SELECT 	
				T.CORRECT_ENCLOSUREINF FILENAME,
				T.CI_ID ID
		FROM 
				OBJ_TOCHECKINF T 
		WHERE 
				T.CI_ID =#{ID}  AND T.OBJCHECKID = #{OBJCHECKID}
			
	</select>
</mapper>