<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExceptionParamMapper">
    
    <sql id="tableName">CIFM_PARAM_LIST</sql>
    <sql id="columnField">
		ORG_ID,
		FAIL_ZBSX_PER,
		FAIL_ZBSX_ORG,
		OTHER_REASON_ZBSX,
		CROSS_REGION_ZBSX,
   		COMPANY
    </sql>
    <sql id="valueField">
    	#{ORG_ID},
   		#{FAIL_ZBSX_PER},
   		#{FAIL_ZBSX_ORG},
   		#{OTHER_REASON_ZBSX},
   		#{CROSS_REGION_ZBSX},
   		#{COMPANY}
    </sql>
    
    <!-- 查询列表 -->
    <select id="paramlistPage" parameterType="Page" resultType="pd">
    	SELECT
    		(SELECT NAME FROM SYS_ORG WHERE ORG_ID = A.ORG_ID) ORG_NAME,
    		<include refid="columnField"/>
    	FROM
    		<include refid="tableName"/> A
    	where
    		COMPANY = #{pd.COMPANY}
    		<if test="pd.ORG_ID != null and pd.ORG_ID != ''">
    			and ORG_ID = #{pd.ORG_ID}
    		</if>
    </select>
    
    <!-- 新增 -->
    <insert id="saveP" parameterType="pd">
    	insert into <include refid="tableName"/>
    		(<include refid="columnField"/>)
    	values
    		(<include refid="valueField"/>)
    </insert>
    <!-- 修改 -->
	<update id="updateP" parameterType="pd">
		UPDATE <include refid="tableName"/>
		SET
			FAIL_ZBSX_PER = #{FAIL_ZBSX_PER},
			FAIL_ZBSX_ORG = #{FAIL_ZBSX_ORG},
			OTHER_REASON_ZBSX = #{OTHER_REASON_ZBSX},
			CROSS_REGION_ZBSX = #{CROSS_REGION_ZBSX}
		WHERE
			ORG_ID = #{ORG_ID}
		AND
			COMPANY = #{COMPANY}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteP" parameterType="pd">
		DELETE FROM <include refid="tableName"/>
		WHERE
			ORG_ID = #{ORG_ID}
		AND
			COMPANY = #{COMPANY}
	</delete>
	<!-- 获取机构列表 -->
	<select id="orgList" parameterType="pd" resultType="pd">
		SELECT
			ORG_ID,
			NAME
		FROM
			SYS_ORG where COMPANY=#{COMPANY}
	</select>
	 <!-- 查询列表 -->
    <select id="selectOrg" parameterType="pd" resultType="pd">
    	SELECT
    		ORG_ID
    	FROM
    		<include refid="tableName"/>
    	where
    		ORG_ID = #{ORG_ID}
    	
    </select>
</mapper>